<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>电竞赛事游戏视频_55电竞游戏网</title>
    <meta name="keywords" content="网游视频资讯,游戏视频,游戏视频,原创视频,英雄联盟视频,55游戏视频"/>
    <meta name="description"
          content="55电竞游戏网游戏视频频道，为您第一时间发布国内外最新最有价值的游戏视频资讯内容，同时提供王者荣耀直播视频、球球大作战直播视频、阴阳师直播视频及英雄联盟lol等视频内容，更多精彩内容请关注55电竞游戏网。"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('video')"></div>
<!--中间-->
<div class="videos">
    <div class="Competition-header">
        <p style="color: #eaa000; font-size: 13pt;font-weight: bold;padding: 2% 0 3% 3%;">视频筛选</p>
        <div class="tab-icon" style="border-top: 1px solid #dadada;">
            <ul class="tab-icon-sssx" id="videoUl">
                <li class="active">
                    <div class="tab-icon-content">
                        <img class="chengaeImg" th:src="/static/img/class1-1.png" alt="类型">
                    </div>
                    <div>类型</div>
                    <span class="long-string"></span>
                    <div class="triangle">
                        <img th:src="/static/img/triangle.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="tab-icon-content">
                        <img class="chengaeImg" th:src="/static/img/class2.png" alt="游戏">
                    </div>
                    <div>游戏</div>
                    <span class="long-string"></span>
                    <div class="triangle" style="display: none;">
                        <img th:src="/static/img/triangle.jpg" alt="">
                    </div>
                </li>
                <li>

                    <div class="tab-icon-content">
                        <img class="chengaeImg" th:src="/static/img/class3.png" alt="主播">
                    </div>
                    <div>主播</div>
                    <span class="long-string"></span>
                    <div class="triangle" style="display: none;">
                        <img th:src="/static/img/triangle.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="gamelist">
        <div class="gamelist1">
            <ul>
                <li th:classappend="${infoVideoTypeSelected}=='all'?'action'">
                    <a th:href="/video_${pageFlag}/all/${infoZoneTypeSelected}/${zoneIdSelected}_1.html">全部</a>
                </li>
                <li th:classappend="${infoVideoTypeSelected}=='matchVideo'?'action'">
                    <a th:href="/video_${pageFlag}/matchVideo/${infoZoneTypeSelected}/${zoneIdSelected}_1.html"
                       title="比赛视频">比赛视频</a>
                </li>
                <li th:classappend="${infoVideoTypeSelected}=='anchorVideo'?'action'">
                    <a th:href="/video_${pageFlag}/anchorVideo/${infoZoneTypeSelected}/${zoneIdSelected}_1.html"
                       title="主播视频">主播视频</a>
                </li>
                <li th:classappend="${infoVideoTypeSelected}=='playerVideo'?'action'">
                    <a th:href="/video_${pageFlag}/playerVideo/${infoZoneTypeSelected}/${zoneIdSelected}_1.html"
                       title="玩家视频">玩家视频</a>
                </li>
                <li th:classappend="${infoVideoTypeSelected}=='funVideo'?'action'">
                    <a th:href="/video_${pageFlag}/funVideo/${infoZoneTypeSelected}/${zoneIdSelected}_1.html"
                       title="娱乐视频">娱乐视频</a>
                </li>
                <li th:classappend="${infoVideoTypeSelected}=='originalVideo'?'action'">
                    <a th:href="/video_${pageFlag}/originalVideo/${infoZoneTypeSelected}/${zoneIdSelected}_1.html"
                       title="原创视频">原创视频</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="gamelist" style="display: none;">
        <div class="gamelist1">
            <ul>
                <li th:class="${infoZoneTypeSelected}=='all'?'action':(${infoZoneTypeSelected}=='anchorZone'?'action':'')">
                    <a th:href="/video_${pageFlag}/${infoVideoTypeSelected}/all/0_1.html">全部</a>
                </li>
                <li th:classappend="${zoneIdSelected}==${matchZone.id}?'action'" th:each="matchZone:${matchZoneList}">
                    <a th:href="/video_${pageFlag}/${infoVideoTypeSelected}/matchZone/${matchZone.id}_1.html"
                       th:title="${matchZone.name}" th:text="${matchZone.name}">英雄联盟</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="gamelist" style="display: none;">
        <div class="gamelist1">
            <ul>
                <li th:class="${infoZoneTypeSelected}=='all'?'action':(${infoZoneTypeSelected}=='matchZone'?'action':'')">
                    <a th:href="/video_${pageFlag}/${infoVideoTypeSelected}/all/0_1.html">全部</a>
                </li>
                <li th:classappend="${zoneIdSelected}==${anchorZone.id}?'action'"
                    th:each="anchorZone:${anchorZoneList}">
                    <a th:href="/video_${pageFlag}/${infoVideoTypeSelected}/anchorZone/${anchorZone.id}_1.html"
                       th:text="${anchorZone.name}" th:title="${anchorZone.name}">英雄联盟</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="videoList" style="border-top: 2px solid #eaa000;">
    <div class="vedeonav">
        <ul id="tabUl">
            <li th:classappend="${#strings.startsWith(videoList.pageName,'publishTime')}?'action'"><a
                    th:href="/video_new/all/all/0_1.html"><span>最新</span></a></li>
            <li th:classappend="${#strings.startsWith(videoList.pageName,'visitCount')}?'action'">
                <a th:href="/video_top/all/all/0_1.html"><span>最热</span></a></li>
        </ul>
    </div>
    <div class="videoshow"><p></p>
        <ul id="newsListData">
            <li th:each="video:${videoList.list}">
                <a th:title="${video.title}" th:href="/video/${video.id}.html">
                    <img th:img-src="/image/330x195${video.titleImage}" th:alt="${video.title}"
                         th:title="${video.title}">
                    <img class="playIoc" th:src="/static/img/playico.png" th:alt="${video.title}">
                </a>
                <div class="mengcheng"></div>
                <a th:text="${video.title}" th:title="${video.title}"
                   th:href="/video/${video.id}.html">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>
</div>

<!--加载更多-->
<div class="footer-more more-other" id="loadMore" th:if="${#lists.size(videoList.list)>=videoList.fetchSize}">
    <a style="color: #808080; font-size: 13px;" href="javascript:;" onclick="getNewsList()">加载更多 <img
            style="width: 16%;" th:src="/static/img/morejt.png"
            alt="加载更多"></a>
</div>
<div id="loadMoreCondition" style="display:none">
    <input type="hidden" value="trade" id="infoVideoTypeStr" name="infoVideoTypeStr"
           th:value="${infoVideoTypeSelected}">
    <input type="hidden" value="matchZone" id="infoZoneTypeStr" name="infoZoneTypeStr"
           th:value="${infoZoneTypeSelected}">
    <input type="hidden" value="anchorZone" id="zoneId" name="zoneId" th:value="${zoneIdSelected}">
    <input type="hidden" id="offset" name="offset" th:value="${videoList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${videoList.fetchSize}">
    <input type="hidden" id="sortName" name="sortName" th:value="${videoList.pageName}">
    <input type="hidden" id="templateName" name="templateName" value="video-list-template.html">
</div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/videoScreen.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/video/video-list.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
</body>
</html>
