<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${tags.name}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${tags.name}"/>
    <meta name="description"
          content="描述"
          th:attr="content=${siteName}+'（55djw.com）提供最新最全最专业的'+${tags.name}+'，电竞游戏资讯，手机游戏行业新闻，游戏攻略，游戏评测等，更多手游产业动态、行业新闻、游戏资讯尽在'+${siteName}+'。'"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>

<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('video')"></div>
<div class="videoList" style="border-top: 2px solid #eaa000;">
    <p class="bread-lost"><a th:href="">电竞首页</a><span>&gt;</span><a th:href="/video/">视频列表</a><span>&gt;</span><em
            th:text="${tags.name}">视频列表</em></p>
    <div class="videoshow"><p></p>
        <ul id="newsListData">
            <li th:each="video:${videoList.list}">
                <a th:title="${video.title}" th:href="/video/${video.id}.html">
                    <img th:img-src="/image/330x195${video.titleImage}" th:alt="${video.title}"
                         th:title="${video.title}">
                    <img class="playIoc" th:src="/static/img/playico.png" th:alt="${video.title}">
                </a>
                <div class="mengcheng"></div>
                <a th:text="${video.title}" th:title="${video.title}"
                   th:href="/video/${video.id}.html">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>
</div>

<!--加载更多-->
<div class="footer-more more-other" id="loadMore" th:if="${#lists.size(videoList.list)>=videoList.fetchSize}">
    <a style="color: #808080; font-size: 13px;" href="javascript:;" onclick="getNewsList()">加载更多 <img
            style="width: 16%;" th:src="/static/img/morejt.png"
            alt="加载更多"></a>
</div>
<div id="loadMoreCondition" style="display:none">
    <input type="hidden" id="offset" name="offset" th:value="${videoList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${videoList.fetchSize}">
    <input type="hidden" id="tagId" name="tagId" th:value="${tags.id}">
    <input type="hidden" value="video-tag-list-template.html" id="templateName" name="templateName">
</div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/video/video-tag-list.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
</body>
</html>
