<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${video.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${video.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${video.seoDescription}"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('video')"></div>

<!--中间-->
<div class="first-content" style="margin-top: 3%; border-top: 2px solid #eaa000;">
    <p class="titletext"><a th:href="/">电竞首页</a><span>&gt;</span><a th:href="/video/">视频列表</a><span>&gt;</span>视频详情</p>

    <div class="header-title">
        <h3 th:text="${video.title}">2017LPL春季赛 WE vs GT 赛后采访Condi</h3>
        <p><span th:text="${#calendars.format(video.publishTime, 'yyyy-MM-dd')}">2017-01-11</span>
            <span class="author" th:text="' 作者：'+${video.author}"> 作者：官方</span>
        </p>
    </div>
    <div class="text-content" th:utext="${video.content}">
    </div>
</div>

<div class="videoList" style=" border-top: 2px solid #eaa000;">
    <div class="moremsg">
        <p><span class="tips">相关视频 </span></p>
    </div>
    <div class="videoshow" style=" padding-top: 2%;border-top: 1px solid #dadada;"><p></p>
        <ul>
            <li th:each="likeInfo,iterStat:${likeInfoList}">
                <a th:title="${likeInfo.title}"
                   th:href="/video/${likeInfo.id}.html">
                    <img th:img-src="/image/330x195${video.titleImage}" th:alt="${video.title}"
                         th:title="${video.title}">
                    <img class="playIoc" th:src="/static/img/playico.png" th:alt="${video.title}">
                </a>
                <div class="mengcheng"></div>
                <a th:title="${likeInfo.title}"
                   th:href="/video/${likeInfo.id}.html" th:text="${likeInfo.title}">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>
</div>

<!--评论内容-->
<div th:replace="/comment.html::comment(${video.id},${video.title},${currentUrl})"></div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
</body>
</html>