<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="${anchorZone.name}+'视频_'+${anchorZone.name}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${anchorZone.name}+'视频,'+${anchorZone.name}"/>
    <meta name="description"
          content="描述"
          th:attr="content=${anchorZone.name}+'提供最新最全的'+${anchorZone.name}+'视频，更多有关'+${anchorZone.name}+'攻略尽在'+${siteName}+'（55djw.com）'+${anchorZone.name}+'专区。'"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('anchor')"></div>
<!--中间层-->
<div th:replace="/view/anchor/anchor-head.html::top('video',${anchorZone})"></div>
<div th:replace="/view/anchor/anchor-head.html::anchor(${anchorZone})"></div>

<div class="videoList" style="padding-top: 3%; ">
    <div class="videoshow" style="border: none; padding-bottom: 0.1%;">
        <ul id="newsListData">
            <li th:each="video:${anchorVideoList.list}">
                <a th:title="${video.title}"
                   th:href="/anchor/video/${video.id}.html">
                    <img th:img-src="/image/193x113${video.titleImage}" th:alt="${video.title}">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="播放">
                </a>
                <div class="mengcheng">
                </div>
                <a th:text="${video.title}" th:title="${video.title}"
                   th:href="/video/${video.id}.html">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>
</div>

<!--加载更多-->
<div class="footer-more  more-other" id="loadMore"
     th:if="${#lists.size(anchorVideoList.list)>=anchorVideoList.fetchSize}">
    <a style="color: #808080; font-size: 13px;" href="javascript:;" onclick="getNewsList()">加载更多 <img
            style="width: 16%;"
            th:src="/static/img/morejt.png"
            alt="加载更多"></a>
</div>
<div id="loadMoreCondition" style="display:none">
    <input type="hidden" value="anchorZone" id="infoZoneTypeStr" name="infoZoneTypeStr">
    <input type="hidden" id="zoneId" name="zoneId" th:value="${anchorZone.id}">
    <input type="hidden" id="offset" name="offset" th:value="${anchorVideoList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${anchorVideoList.fetchSize}">
    <input type="hidden" id="sortName" name="sortName" value="publishTime">
    <input type="hidden" id="templateName" name="templateName" value="anchor-video-list-template.html">
</div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/wcgp.js"></script>
<script type="text/javascript" th:src="/static/js/anchorAtlas.js"></script>
<script type="text/javascript" th:src="/static/js/anchor/anchor-video-list.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
</body>
</html>