<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>主播频道_游戏主播_美女主播八卦_55电竞游戏网</title>
    <meta name="keywords" content="游戏主播,网络主播,现场主播,韩国主播,斗鱼直播"/>
    <meta name="description"
          content="55电竞游戏网主播频道提供热门游戏主播、美女主播、韩国主播、斗鱼主播、虎牙主播等主播怎么赚钱,主播收入排行榜等热门主播资讯、视频、图集、赛事等相关资讯，更多精彩内容请关注55电竞游戏网。"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('anchor')"></div>
<!--中间层-->
<div th:replace="/view/anchor/anchor-head.html::top('news',${anchorZone})"></div>
<div th:replace="/view/anchor/anchor-head.html::anchor(${anchorZone})"></div>
<!--主播资讯-->
<div class="zhuanqushouye" style="border: none">
    <div class="CompetitionDeta aifansile" style=" padding-bottom: 1px; ">
        <div class="item">
            <div class="left-content">
                <a href=""><img th:src="/static/img/zxt1.png" alt=""></a>
            </div>
            <div class="right-content">
                <a href=""><p>lol6.20努努增强后怎么玩 S6雪人打野天 赋符文出装</p></a>
                <p>10-12 09:43</p>
            </div>
        </div>
        <div class="item">
            <div class="left-content">
                <a href=""><img th:src="/static/img/zxt2.png" alt=""></a>
            </div>
            <div class="right-content">
                <a href=""><p>1分钟看完LPL次周比赛 NB新中单首秀 掀翻EDG</p></a>
                <p>10-12 09:43</p>

            </div>
        </div>
        <div class="item">
            <div class="left-content">
                <a href=""><img th:src="/static/img/zxt3.png" alt=""></a>
            </div>
            <div class="right-content">
                <a href=""><p>lol6.20努努增强后怎么玩 S6雪人打野天 赋符文出装</p></a>
                <p>10-12 09:43</p>

            </div>
        </div>
        <div class="item">
            <div class="left-content">
                <a href=""><img th:src="/static/img/zxt4.png" alt=""></a>
            </div>
            <div class="right-content">
                <a href=""><p>1分钟看完LPL次周比赛 NB新中单首秀 掀翻EDG</p></a>
                <p>10-12 09:43</p>
            </div>
        </div>

    </div>
</div>
<!--加载更多-->
<div class="footer-more"
     style="
      display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 4% 0;"
>
    <a style="color: #808080; font-size: 13px;" href="">加载更多 <img style="width: 16%;" th:src="/static/img/morejt.png"
                                                                  alt=""></a>
</div>

<!--底部导航-->
<nav class="bottom_nav">
    <ul>
        <li><a href="http://m.pipaw.com/">首页</a></li>
        <li><a href="http://m.wy.pipaw.com/">网游</a></li>
        <li><a href="http://m.pipaw.com/danji/">单机</a></li>
        <li><a href="http://m.fahao.pipaw.com/">发号</a></li>
        <li><a href="http://m.pipaw.com/apps/">论坛</a></li>
        <li><a class="noline" href="http://bbs.pipaw.com/">美图</a></li>
    </ul>
</nav>

<!--TOP-->
<div class="tipTop backtop">
    TOP ∧
</div>

<!--底部-->
<footer class="footer">
    <p><a href="http://www.pipaw.com/">电脑版</a>|<a href="http://m.2094.cn/">客户端</a></p>
    <p>闽ICP备12000443号-2
        <a href="http://passport.pipaw.com/m/user/login?url=http://m.pipaw.com/">登录</a>|
        <a href="http://passport.pipaw.com/m/user/register?url=http://passport.pipaw.com">注册</a>
    </p>
</footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/wcgp.js"></script>
<script th:src="/static/js/anchorHome.js"></script>
</body>
</html>
