<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="${anchorZone.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${anchorZone.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${anchorZone.seoDescription}"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('anchor')"></div>
<!--中间层-->
<div th:replace="/view/anchor/anchor-head.html::top('index',${anchorZone})"></div>
<div th:replace="/view/anchor/anchor-head.html::anchor(${anchorZone})"></div>
<!--主播资讯-->
<div class="zhuanqushouye" style="margin-bottom: 2%;" th:unless="${#lists.isEmpty(anchorNewsList)}">
    <div class="moremsg">
        <p><span class="tips">主播资讯 </span><a th:href="/anchor/news/${anchorZone.id}/"
                                             th:title="${anchorZone.name}+'主播资讯'" class="more">更多+</a></p>
    </div>
    <div class="CompetitionDeta aifansile" style=" padding-bottom: 0; ">
        <div class="item" th:each="news,iterStat:${anchorNewsList}">
            <div class="left-content">
                <a th:href="/news/${news.id}.html" th:title="${news.title}"><img
                        th:img-src="/image/193x113${news.titleImage}" th:alt="${news.title}"></a>
            </div>
            <div class="right-content">
                <a th:href="/news/${news.id}.html" th:title="${news.title}"><p th:text="${new.title}">lol6.20努努增强后怎么玩
                    S6雪人打野天 赋符文出装</p></a>
                <p th:text="${#calendars.format(news.publishTime, 'MM-dd HH:mm')}">10-12 09:43</p>
            </div>
        </div>
    </div>
</div>
<!--主播视频-->

<div class="videoList" style=" border-top: 2px solid #eaa000;" th:unless="${#lists.isEmpty(anchorVideoList)}">
    <div class="moremsg">
        <p><span class="tips">主播视频 </span><a th:href="/anchor/video/${anchorZone.id}/"
                                             th:title="${anchorZone.name}+'主播视频'" class="more">更多+</a></p>
    </div>
    <div class="videoshow" style=" padding-top: 2%;border-top: 1px solid #dadada;"><p></p>
        <ul>
            <li th:each="video,iterStat:${anchorVideoList}">
                <a th:href="/video/${video.id}.html"
                   th:title="${video.title}">
                    <img th:img-src="/image/200x118/${video.titleImage}" th:alt="${video.title}"
                         th:title="${video.title}">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a th:text="${video.title}" th:href="/video/${video.id}.html"
                   th:title="${video.title}">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>
</div>
<!--主播图集-->
<div class="videoList" style=" margin-top: 2%;   border-top: 2px solid #eaa000;"
     th:unless="${#lists.isEmpty(anchorPictureList)}">
    <div class="moremsg">
        <p><span class="tips">主播图集 </span><a th:href="/anchor/picture/${anchorZone.id}/" class="more">更多+</a></p>
    </div>
    <div class="videoshow" style="border-top: 1px solid #dadada;padding-top: 3%;"><p></p>
        <ul>
            <li th:each="picture:${anchorPictureList}">
                <a th:href="/picture/${picture.id}.html"
                   th:title="${picture.description}">
                    <img th:img-src="/image/280x178${picture.image}" th:alt="${picture.description}"
                         th:title="${picture.description}">
                </a>
                <div class="mengcheng"></div>
                <a th:text="${picture.description}">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>
</div>
<!--评论内容-->
<div th:replace="/comment.html::comment(${anchorZone.id},${anchorZone.name},${currentUrl})"></div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/wcgp.js"></script>
<script th:src="/static/js/anchorHome.js"></script>
</body>
</html>
