<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${anchorZone.name}+'资讯_'+${anchorZone.name}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${anchorZone.name}+'新闻资讯,'+${anchorZone.name}"/>
    <meta name="description"
          content="描述"
          th:attr="content=${anchorZone.name}+'提供最新最全的'+${anchorZone.name}+'新闻资讯，更多有关'+${anchorZone.name}+'攻略尽在'+${siteName}+'（55djw.com）'+${anchorZone.name}+'专区。'"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('anchor')"></div>
<!--中间层-->
<div th:replace="/view/anchor/anchor-head.html::top('news',${anchorZone})"></div>
<div th:replace="/view/anchor/anchor-head.html::anchor(${anchorZone})"></div>
<!--主播资讯-->
<div class="zhuanqushouye" style="border: none">
    <div class="CompetitionDeta aifansile" style=" padding-bottom: 1px; " id="newsListData">
        <div class="item" th:each="news,iterStat:${anchorNewsList.list}">
            <div class="left-content">
                <a th:href="/news/${news.id}.html"
                   th:title="${news.title}"><img th:img-src="/image/193x113${news.titleImage}" th:alt="${news.title}"
                                                 th:title="${news.title}"></a>
            </div>
            <div class="right-content">
                <a th:href="/news/${news.id}.html"
                   th:title="${news.title}"><p th:text="${news.title}">lol6.20努努增强后怎么玩 S6雪人打野天 赋符文出装</p></a>
                <p th:text="${#calendars.format(news.publishTime, 'MM-dd HH:mm')}">10-12 09:43</p>
            </div>
        </div>
    </div>
</div>
<!--加载更多-->
<div class="footer-more  more-other" id="loadMore"
     th:if="${#lists.size(anchorNewsList.list)>=anchorNewsList.fetchSize}">
    <a style="color: #808080; font-size: 13px;" href="javascript:;" onclick="getNewsList()">加载更多 <img
            style="width: 16%;"
            th:src="/static/img/morejt.png"
            alt="加载更多"></a>
</div>

<div id="loadMoreCondition" style="display:none">
    <input type="hidden" value="anchorZone" id="infoZoneType.name" name="infoZoneType.name">
    <input type="hidden" id="offset" name="offset" th:value="${anchorNewsList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${anchorNewsList.fetchSize}">
    <input type="hidden" id="zoneId" name="zoneId" th:value="${anchorZone.id}">
    <input type="hidden" value="anchor-news-list-template.html" id="templateName" name="templateName">
    <input type="hidden" value="publishTime" id="sortName" name="sortName">
    <input type="hidden" value="true" id="sortIfDesc" name="sortIfDesc">
</div>

<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/anchor/anchor-news-list.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
</body>
</html>
