<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<div class="eventInformation" th:fragment="top(selectedMenuName,anchorZone)">
    <ul>
        <li th:classappend="${selectedMenuName}=='index'?'action'">
            <a th:href="/anchor/${anchorZone.id}/"
               th:text="${anchorZone.name}"
               th:title="${anchorZone.name}">主页</a><span
                th:styleappend="${selectedMenuName}=='index'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='news'?'action'">
            <a th:href="/anchor/news/${anchorZone.id}/" th:title="${anchorZone.name}+'资讯'">资讯</a>
            <span th:styleappend="${selectedMenuName}=='news'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='video'?'action'">
            <a th:href="/anchor/video/${anchorZone.id}/" th:title="${anchorZone.name}+'视频'">视频</a>
            <span th:styleappend="${selectedMenuName}=='video'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='picture'?'action'">
            <a th:href="/anchor/picture/${anchorZone.id}/" th:title="${anchorZone.name}+'图集'">图集</a>
            <span th:styleappend="${selectedMenuName}=='picture'?'display: block;'"></span></li>
    </ul>
</div>

<div th:fragment="top(anchorZone)">
    <div class="djw_top">
        <div class="djw_top_general_o">
            <div class="djw_top_left"><a th:href="/">55电竞游戏网</a><a
                    th:href="/sitemap.html" class="top_menu" target="_blank">全站导航</a><a
                    href="javascript:void(0)" class="top_phone">手机版</a>
            </div>
            <div class="djw_top_right">
                <a href="javascript:;" onclick="setHome(this,'http://www.55djw.com');">设为主页</a><span>|</span>
                <a href="javascript:;" onclick="addFavorite('55电竞游戏网',location.href)">收藏网站</a>
            </div>
        </div>
    </div>
    <div class="zhubo_con_box">
        <div class="zhubo_data">
            <div class="head_img"><span><img th:src="/static/img/circle_bg3.png" th:alt="${anchorZone.name}"
                                             th:title="${anchorZone.name}"/></span><img
                    src="/static/img/zhubo/zhubo.png" th:img-src="/image/120x120${anchorZone.icoImage}"
                    th:alt="${anchorZone.name}"
                    th:title="${anchorZone.name}"/></div>
            <div class="data">
                <dl>
                    <dt>
                    <h1 th:text="${anchorZone.name}">小智脑残粉</h1>
                    <h2>人气：<span th:text="${anchorZone.visitCount}">58621</span></h2>
                    <a href="javascript:;">
                        <h3><span style="margin-left:15px;margin-top:10px;"><img
                                th:src="/static/img/zhubo/tianjia.png"/></span><span
                                style="margin-left:6px;margin-top:7px;color:#fff;font-size:14px;"
                                th:alt="${anchorZone.name}"
                                th:title="${anchorZone.name}">收藏</span></h3>
                    </a> </dt>
                    <dd th:text="${anchorZone.introduction}"> LOL新晋视频集锦创作者，【秀逗时刻】、【最佳坑姿势】作者。以最搞笑的方式，为你带来欢乐。喜欢不要忘记点收藏。
                    </dd>
                </dl>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>