<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>主播频道_游戏主播_美女主播八卦_55电竞游戏网</title>
    <meta name="keywords" content="游戏主播,网络主播,现场主播,韩国主播,斗鱼直播"/>
    <meta name="description"
          content="55电竞游戏网主播频道提供热门游戏主播、美女主播、韩国主播、斗鱼主播、虎牙主播等主播怎么赚钱,主播收入排行榜等热门主播资讯、视频、图集、赛事等相关资讯，更多精彩内容请关注55电竞游戏网。"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('anchor')"></div>

<!--中间-->
<div class="videos">
    <p style="color: #eaa000;font-size: 13pt;font-weight: bold; border-bottom: 1px solid #dadada;padding: 2% 0 3% 3%;">
        主播筛选</p>
    <div class="Competition-header">

    </div>
    <div class="gamelist">
        <div class="gamelist1">
            <ul>
                <li th:classappend="${platformIdSelected}==0?'action'"><a
                        th:href="/anchor_${pageFlag}/findPlatformId/0_1.html">全部</a></li>
                <li th:classappend="${anchorZonePlatform.id}==${platformIdSelected}?'action'"
                    th:each="anchorZonePlatform:${anchorZonePlatformList}">
                    <a th:text="${anchorZonePlatform.name}"
                       th:href="/anchor_${pageFlag}/findPlatformId/${anchorZonePlatform.id}_1.html">虎牙视频</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="videoList" style="border-top: 2px solid #eaa000 !important;">
    <div class="vedeonav">
        <ul id="tabUl">
            <li th:classappend="${#strings.startsWith(pageFlag,'new')}?'action'"><a
                    th:href="/anchor_new/findPlatformId/0_1.html"><span>最新</span></a></li>
            <li th:classappend="${#strings.startsWith(pageFlag,'top')}?'action'">
                <a th:href="/anchor_top/findPlatformId/0_1.html"><span>最热</span></a></li>
        </ul>
    </div>
    <!--主播列表-->
    <div class="zhuboleibiao">
        <ul id="newsListData">
            <li th:each="anchorZone:${anchorZoneList.list}">
                <div class="headimg">
                    <a href="" th:href="/anchor/${anchorZone.id}/" th:title="${anchorZone.name}"><img
                            th:img-src="/image/79x79${anchorZone.icoImage}" th:alt="${anchorZone.name}"
                            th:title="${anchorZone.name}"></a>
                </div>
                <div class="mgslist">
                    <a href="" th:href="/anchor/${anchorZone.id}/" th:title="${anchorZone.name}"><p
                            th:text="${anchorZone.username}">小学生院长</p></a>
                    <p><img th:img-src="/image/23x23${matchZone.icoImage}" th:alt="${matchZone.name}"
                            th:each="matchZone:${anchorZone.matchZoneList}"></p>
                    <p class="tjxiant"><span>人气 : </span><span th:text="${anchorZone.visitCount}">58621032 </span></p>
                </div>
            </li>

        </ul>
    </div>
</div>

<!--加载更多-->
<div class="load_more" id="loadMore" th:if="${#lists.size(anchorZoneList.list)>=anchorZoneList.fetchSize}">
    <a href="javascript:;" onclick="getNewsList()">加载更多<span></span></a>
</div>
<div id="loadMoreCondition" style="display:none">
    <input type="hidden" value="0" id="platformId" name="platformId" th:value="${platformIdSelected}">
    <input type="hidden" value="all" id="sortName" name="sortName" value="updateTime"
           th:if="${#strings.startsWith(pageFlag,'new')}">
    <input type="hidden" value="all" id="sortName" name="sortName" value="visitCount"
           th:if="${#strings.startsWith(pageFlag,'top')}">
    <input type="hidden" id="offset" name="offset" th:value="${anchorZoneList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${anchorZoneList.fetchSize}">
</div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
<script type="text/javascript" th:src="/static/js/anchor/anchor-list.js"></script>
</body>
</html>
