<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<div class="eventInformation" th:fragment="top(selectedMenuName,anchorZone)">
    <ul>
        <li th:classappend="${selectedMenuName}=='index'?'action'">
            <a th:href="/anchor/${anchorZone.id}/"
               th:text="${anchorZone.name}"
               th:title="${anchorZone.name}">主页</a><span
                th:styleappend="${selectedMenuName}=='index'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='news'?'action'">
            <a th:href="/anchor/news/${anchorZone.id}/" th:title="${anchorZone.name}+'资讯'">资讯</a>
            <span th:styleappend="${selectedMenuName}=='news'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='video'?'action'">
            <a th:href="/anchor/video/${anchorZone.id}/" th:title="${anchorZone.name}+'视频'">视频</a>
            <span th:styleappend="${selectedMenuName}=='video'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='picture'?'action'">
            <a th:href="/anchor/picture/${anchorZone.id}/" th:title="${anchorZone.name}+'图集'">图集</a>
            <span th:styleappend="${selectedMenuName}=='picture'?'display: block;'"></span></li>
    </ul>
</div>

<div class="anchordeta" th:fragment="anchor(anchorZone)">
    <div class="anchor-img">
        <div class="left-content">
            <div class="img-content">
                <a href=""><img th:img-src="/image/120x120${anchorZone.icoImage}"
                                th:alt="${anchorZone.name}"
                                th:title="${anchorZone.name}"></a>
            </div>
            <div class="contentdeta">
                <p th:text="${anchorZone.name}">会冒泡儿的鱼</p>
                <p style="margin-top: 9%;" th:unless="${#lists.isEmpty(anchorZone.matchZoneList)}">
                    <img th:img-src="/image/24x24${matchZone.icoImage}" th:alt="${matchZone.name}"
                         th:each="matchZone:${anchorZone.matchZoneList}">
                </p>
            </div>
        </div>
        <div class="right-content">
            <div class="aixincontent">
                <img id="links" th:src="/static/img/sc-1.png" alt="0">
            </div>
            <div class="scqk" id="linksText">收藏</div>
        </div>
    </div>
    <div class="anchor-text">
        <p><span th:text="'平台：'+${anchorZone.platformName}">平台： 斗鱼，虎牙TV </span><span>人气： <span style="color:red;;"
                                                                                               th:text="${anchorZone.visitCount}">12546542</span> </span>
        </p>
        <p th:text="${anchorZone.introduction}">LOL新晋视频集锦创作者，【秀逗时刻】、【最佳坑姿势】作者。以最搞笑的 方式，为你带来欢乐。以最搞笑的方式，为你带来欢乐</p>
    </div>
</div>