<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="${anchorZone.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${anchorZone.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${anchorZone.seoDescription}"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('game')"></div>
<!--中间层-->
<div th:replace="/view/anchor/anchor-head.html::top('index',${anchorZone})"></div>
<div class="anchordeta">
    <div class="anchor-img">
        <div class="left-content">
            <div class="img-content">
                <a href=""><img th:img-src="/image/120x120${anchorZone.icoImage}"
                                th:alt="${anchorZone.name}"
                                th:title="${anchorZone.name}"></a>
            </div>
            <div class="contentdeta">
                <p th:text="${anchorZone.name}">会冒泡儿的鱼</p>
                <p style="margin-top: 9%;">
                    <img th:src="/static/img/cico1.png" alt="">
                    <img th:src="/static/img/cico2.png" alt="">
                    <img th:src="/static/img/cico3.png" alt="">
                </p>
            </div>
        </div>
        <div class="right-content">
            <div class="aixincontent">
                <img id="links" th:src="/static/img/sc-1.png" alt="0">
            </div>
            <div class="scqk" id="linksText">收藏</div>
        </div>
    </div>
    <div class="anchor-text">
        <p><span th:text="${anchorZone.platformName}">平台： 斗鱼，虎牙TV </span><span>人气： <span style="color:red;;"
                                                                                         th:text="${anchorZone.visitCount}">12546542</span> </span>
        </p>
        <p th:text="${anchorZone.introduction}">LOL新晋视频集锦创作者，【秀逗时刻】、【最佳坑姿势】作者。以最搞笑的 方式，为你带来欢乐。以最搞笑的方式，为你带来欢乐</p>
    </div>
</div>
<!--主播资讯-->
<div class="zhuanqushouye" style="margin-bottom: 2%;">
    <div class="moremsg">
        <p><span class="tips">主播资讯 </span><a th:href="/anchor/news/${anchorZone.id}/" class="more">更多+</a></p>
    </div>
    <div class="CompetitionDeta aifansile" style=" padding-bottom: 0; ">
        <div class="item" th:each="news,iterStat:${anchorNewsList}">
            <div class="left-content">
                <a th:href="/news/${news.id}.html" th:title="${news.title}"><img
                        th:img-src="/image/193x113${news.titleImage}" th:alt="${news.title}"></a>
            </div>
            <div class="right-content">
                <a href=""><p th:text="${new.title}">lol6.20努努增强后怎么玩 S6雪人打野天 赋符文出装</p></a>
                <p>10-12 09:43</p>
            </div>
        </div>
        <div class="item">
            <div class="left-content">
                <a href=""><img th:src="/static/img/zxt2.png" alt=""></a>
            </div>
            <div class="right-content">
                <a href=""><p>1分钟看完LPL次周比赛 NB新中单首秀 掀翻EDG</p></a>
                <p>10-12 09:43</p>

            </div>
        </div>
        <div class="item">
            <div class="left-content">
                <a href=""><img th:src="/static/img/zxt3.png" alt=""></a>
            </div>
            <div class="right-content">
                <a href=""><p>lol6.20努努增强后怎么玩 S6雪人打野天 赋符文出装</p></a>
                <p>10-12 09:43</p>

            </div>
        </div>
        <div class="item">
            <div class="left-content">
                <a href=""><img th:src="/static/img/zxt4.png" alt=""></a>
            </div>
            <div class="right-content">
                <a href=""><p>1分钟看完LPL次周比赛 NB新中单首秀 掀翻EDG</p></a>
                <p>10-12 09:43</p>
            </div>
        </div>

    </div>
</div>
<!--主播视频-->

<div class="videoList" style=" border-top: 2px solid #eaa000;">
    <div class="moremsg">
        <p><span class="tips">主播视频 </span><a href="" class="more">更多+</a></p>
    </div>
    <div class="videoshow" style=" padding-top: 2%;border-top: 1px solid #dadada;"><p></p>
        <ul>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp1.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">小苍剑圣第一视角 细节成就五杀</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp2.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">比赛视频高清 rngvstsm比赛录像</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp3.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">主播炸了132：miss被塔杀 魔兽爱抓胸</a>

            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp4.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">程高能 s6总决赛八强对阵抽签现场</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp1.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">小苍剑圣第一视角 细节成就五杀</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp2.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">比赛视频高清 rngvstsm比赛录像</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp3.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">主播炸了132：miss被塔杀 魔兽爱抓胸杀</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp4.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">全程高能 s6总决赛八强对阵抽签现场</a>
            </li>
        </ul>
    </div>
</div>
<!--主播图集-->
<div class="videoList" style=" margin-top: 2%;   border-top: 2px solid #eaa000;">
    <div class="moremsg">
        <p><span class="tips">主播资讯 </span><a href="" class="more">更多+</a></p>
    </div>
    <div class="videoshow" style="border-top: 1px solid #dadada;padding-top: 3%;"><p></p>
        <ul>
            <li>
                <a href="">
                    <img th:src="/static/img/mm2.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">小苍剑圣第一视角 细节成就五杀</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/mm1.png" alt="">
                </a>

                <div class="mengcheng"></div>
                <a href="">比赛视频高清 rngvstsm比赛录像</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/mm1.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">主播炸了132：miss被塔杀 魔兽爱抓胸</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/mm2.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">全程高能 s6总决赛八强对阵抽签现场</a>
            </li>
        </ul>
    </div>
</div>
<!--评论内容-->
<div class="three-content">
    <form action="">
        <p class="tbys"><span>用户评论</span><span>(已有<b>33</b>条评论）</span></p>
        <textarea placeholder="请输入评论内容......" name="" id="" cols="30" rows="10"></textarea>
        <p><a href="#" style="margin-right: 1%">登录 </a> | <a href="#" style="margin-left:1%"> 注册</a> <input
                class="publish" type="submit" value="发表"></p>
    </form>
</div>
<!--底部导航-->
<nav class="bottom_nav">
    <ul>
        <li><a href="http://m.pipaw.com/">首页</a></li>
        <li><a href="http://m.wy.pipaw.com/">网游</a></li>
        <li><a href="http://m.pipaw.com/danji/">单机</a></li>
        <li><a href="http://m.fahao.pipaw.com/">发号</a></li>
        <li><a href="http://m.pipaw.com/apps/">论坛</a></li>
        <li><a class="noline" href="http://bbs.pipaw.com/">美图</a></li>
    </ul>
</nav>

<!--TOP-->
<div class="tipTop backtop">
    TOP ∧
</div>

<!--底部-->
<footer class="footer">
    <p><a href="http://www.pipaw.com/">电脑版</a>|<a href="http://m.2094.cn/">客户端</a></p>
    <p>闽ICP备12000443号-2
        <a href="http://passport.pipaw.com/m/user/login?url=http://m.pipaw.com/">登录</a>|
        <a href="http://passport.pipaw.com/m/user/register?url=http://passport.pipaw.com">注册</a>
    </p>
</footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/wcgp.js"></script>
<script th:src="/static/js/anchorHome.js"></script>
</body>
</html>
