<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="description" content="wechat-system">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>电竞后台</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/ui-grid.min.css"/>
    <link rel="stylesheet" href="assets/css/summernote.css"/>
    <link rel="stylesheet" href="assets/css/loading-bar.min.css"/>
    <link rel="stylesheet" href="assets/css/datetimepicker.css">
    <link rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="assets/css/colorpicker.min.css">

    <script type="text/javascript" src="assets/js/modernizr.js"></script>

</head>

<body>
<div class="app">
    <header class="header header-fixed navbar">
        <div class="brand">
            <a href="javascript:;" class="fa fa-bars off-left visible-xs" data-toggle="offscreen" data-move="ltr"></a>
            <a href="" class="navbar-brand">
                <img src="assets/img/logo.png" alt="" height="25" style="display: inline-block"/>
                <span class="heading-font">电竞后台</span>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li class="hidden-xs">
                <a class="toggle-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav">
            <li ng-repeat="menu in topMenus">
                <a href="#" ui-sref="{{menu.url}}" ng-class="{active : $state.includes('{{menu.url}}')}"
                   ng-click="loadLevel2(menu.uuid);">
                    <span>{{menu.name}}</span>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="off-right">
                <a href="javascript:;" data-toggle="dropdown">
                    <span class="fa fa-user"></span>
                    <span class="hidden-xs ml10">{{user.username}}</span>
                    <i class="fa fa-caret-down hidden-xs"></i>
                </a>
                <ul class="dropdown-menu animated fadeInRight">
                    <li>
                        <a href="/logout">退出</a>
                    </li>
                    <li>
                        <a ui-sref="user.modify-password">修改密码</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>

    <section class="layout">
        <aside class="sidebar offscreen-left">
            <nav class="main-navigation" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true"
                 data-wheel-step="10">
                <p class="nav-title">菜单</p>
                <ul class="nav">
                    <li ng-repeat="level2Menu in level2Menus">
                        <a href="javascript:void(0);">
                            <span>{{level2Menu.name}}</span>
                            <i class="fa arrow toggle-accordion"></i>
                        </a>

                        <ul class="sub-menu">
                            <li ng-repeat="child in level2Menu.children"
                                ng-class="{active : $state.includes('{{child.url}}')}"><a ui-sref="{{child.url}}">{{child.name}}</a>
                            </li>

                        </ul>
                    </li>


                </ul>
            </nav>
        </aside>

        <section class="main-content">
            <div ui-view class="content-wrap"></div>
            <a class="exit-offscreen"></a>
        </section>
    </section>

</div>


<script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="assets/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="assets/js/fastclick.js"></script>
<script type="text/javascript" src="assets/js/angular.min.js"></script>
<script type="text/javascript" src="assets/js/angular-animate.min.js"></script>
<script type="text/javascript" src="assets/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="assets/js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script type="text/javascript" src="assets/js/angular-file-upload.min.js"></script>
<script type="text/javascript" src="assets/js/ui-grid.min.js"></script>
<script type="text/javascript" src="assets/js/angular-validation.min.js"></script>
<script type="text/javascript" src="assets/js/angular-validation-rule.min.js"></script>
<script type="text/javascript" src="assets/js/angular-summernote.js"></script>
<script type="text/javascript" src="assets/js/summernote.min.js"></script>
<script type="text/javascript" src="assets/js/loading-bar.min.js"></script>
<script type="text/javascript" src="assets/js/offscreen.js"></script>
<script type="text/javascript" src="assets/js/moment.min.js"></script>
<script type="text/javascript" src="assets/js/datetimepicker.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-colorpicker-module.min.js"></script>
<script type="text/javascript" src="assets/js/angular-cookies.min.js"></script>
<script type="text/javascript" src="assets/js/theme.js"></script>

<script type="text/javascript" src="www/js/main.js"></script>
<script type="text/javascript" src="www/js/index-controller.js"></script>
<script type="text/javascript" src="www/js/controller/product-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/user/user-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/user/sys-user-list-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/user/sys-user-update-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/role/sys-role-update-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/role/sys-role-list-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/role/sys-role-add-user-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/role/sys-role-add-menu-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/menu/sys-menu-list-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/menu/sys-menu-update-controller.js"></script>

<script type="text/javascript" src="www/js/controller/sys/company-admin/user/sys-user-list-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/company-admin/user/sys-user-update-controller.js"></script>
<script type="text/javascript" src="www/js/controller/sys/company-admin/user/sys-user-add-role-controller.js"></script>

<script type="text/javascript" src="www/js/controller/sys/distributor-admin/user/sys-user-list-controller.js"></script>
<script type="text/javascript"
        src="www/js/controller/sys/distributor-admin/user/sys-user-update-controller.js"></script>
<script type="text/javascript"
        src="www/js/controller/sys/distributor-admin/user/sys-user-add-role-controller.js"></script>
<script type="text/javascript" src="www/js/controller/index/website-index-controller.js"></script>
<script type="text/javascript" src="www/js/controller/zone/match-zone/list.js"></script>
<script type="text/javascript" src="www/js/controller/zone/match-zone/update.js"></script>
<script type="text/javascript" src="www/js/controller/zone/match-team/list.js"></script>
<script type="text/javascript" src="www/js/controller/zone/match-team/update.js"></script>
<script type="text/javascript" src="www/js/controller/recommend/recommend/list.js"></script>
<script type="text/javascript" src="www/js/controller/recommend/recommend/update.js"></script>
<!--<script type="text/javascript" src="www/js/controller/recommend/advertising/list.js"></script>-->
<!--<script type="text/javascript" src="www/js/controller/recommend/advertising/update.js"></script>-->
<script type="text/javascript" src="www/js/controller/recommend/adv/list.js"></script>
<script type="text/javascript" src="www/js/controller/recommend/adv/update.js"></script>
<script type="text/javascript" src="www/js/controller/zone/anchor-zone/list.js"></script>
<script type="text/javascript" src="www/js/controller/zone/anchor-zone/update.js"></script>
<script type="text/javascript" src="www/js/controller/picture/list.js"></script>
<script type="text/javascript" src="www/js/controller/picture/update.js"></script>
<script type="text/javascript" src="www/js/controller/info/list.js"></script>
<script type="text/javascript" src="www/js/controller/info/update.js"></script>
<script type="text/javascript" src="www/js/controller/recommend/hot-keywords/list.js"></script>
<script type="text/javascript" src="www/js/controller/recommend/hot-keywords/update.js"></script>
<script type="text/javascript" src="www/js/controller/site/commit-url-search/list.js"></script>


<script type="text/javascript">
    $(function () {
        angular.bootstrap(document, ['app']);
    });

</script>
</body>
</html>
