<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <title>主播频道_游戏主播_美女主播八卦_55电竞游戏网</title>
    <meta name="keywords" content="游戏主播,网络主播,现场主播,韩国主播,斗鱼直播"/>
    <meta name="description"
          content="55电竞游戏网主播频道提供热门游戏主播、美女主播、韩国主播、斗鱼主播、虎牙主播等主播怎么赚钱,主播收入排行榜等热门主播资讯、视频、图集、赛事等相关资讯，更多精彩内容请关注55电竞游戏网。"/>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div th:replace="/head.html::top('anchor')"></div>

<div class="general">
    <!--面包屑-->
    <div class="position"><a href="/">电竞首页</a>&gt;<em>主播列表</em></div>
    <!--赛事筛选-->
    <div class="list_choose">
        <div class="index_tit_two title"><span class="text_left">电竞主播筛选</span></div>
        <div class="list_choose_con">
            <dl>
                <dt>平台</dt>
                <dd class="dd1"><a th:href="/anchor_${pageFlag}/findPlatformId/0_${anchorZoneList.currentPage}.html"
                                   th:classappend="${platformIdSelected}==0?'hover'">全部</a><a
                        href="#"
                        th:each="anchorZonePlatform:${anchorZonePlatformList}"
                        th:text="${anchorZonePlatform.name}"
                        th:href="/anchor_${pageFlag}/findPlatformId/${anchorZonePlatform.id}_${anchorZoneList.currentPage}.html"
                        th:classappend="${anchorZonePlatform.id}==${platformIdSelected}?'hover'">虎牙视频</a></dd>
            </dl>
        </div>
    </div>
    <!--最新最热-->
    <div class="list_tab_one">
        <div class="tab_two">
            <ul>
                <li th:classappend="${#strings.startsWith(pageFlag,'new')}?'hover'"><a
                        href="/anchor_new/findPlatformId/0_1.html"><span>最新</span></a></li>
                <li th:classappend="${#strings.startsWith(pageFlag,'top')}?'hover'">
                    <a href="/anchor_top/findPlatformId/0_1.html"><span>最热</span></a></li>
            </ul>
        </div>
        <div id="con_one_1" style="display:block">
            <div class="zhubo_main_box">
                <dl style="margin-left:19px;" th:each="anchorZone:${anchorZoneList.list}">
                    <dt>
                        <a href="" th:href="/anchor/${anchorZone.id}/" target="_blank">
                            <p class="zhubo_p1"><span><img src="/static/img/circle_bg.png" th:alt="${anchorZone.name}"
                                                           th:title="${anchorZone.name}"/></span><img
                                    th:img-src="/image/120x120${anchorZone.icoImage}" th:alt="${anchorZone.name}"
                                    th:title="${anchorZone.name}"/></p>
                            <p class="zhubo_p2" th:text="${anchorZone.username}">小学生院长</p>
                            <p style="margin-bottom:11px;"><span style="margin-right:14px;"
                                                                 th:each="matchZone:${anchorZone.matchZoneList}"><img
                                    th:img-src="/image/24x24${matchZone.icoImage}" th:alt="${matchZone.name}"
                                    th:title="${matchZone.name}"/></span></p>
                        </a>
                    </dt>
                    <dd>人气：<span th:text="${anchorZone.visitCount}">432432</span></dd>
                    <div class="change_border">
                        <span><a href="" th:href="/anchor/${anchorZone.id}/" target="_blank">点击查看</a></span>
                    </div>
                </dl>

                <div class="clear"></div>
            </div>
            <div th:replace="/pager.html::page(${anchorZoneList.pageName},${anchorZoneList.currentPage},${anchorZoneList.totalPage})"></div>
        </div>
    </div>
</div>


<!--线上琵琶网首页的foot，这里只是截图-->
<div th:replace="/bottom.html::bottom"></div>

</body>
</html>
