<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <title>新闻列表</title>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div th:replace="/view/anchor/anchor-head.html::top(${anchorZone})"></div>
<div class="home_page">
    <div class="home_page_left">
        <div class="position" style="margin-left:22px;"><a href="/">电竞首页</a>&gt;<a
                th:href="/anchor/${anchorZone.id}.html" th:text="${anchorZone.name}">英雄联盟电竞专区</a>&gt;<em>主播视频</em></div>
        <div style="margin-left:10px;" th:replace="/view/anchor/anchor-bar.html::bar('video',${anchorZone.id})"></div>
        <div id="con_one_1" style="display:block">
            <div class="index_video_right zone_view_box">
                <ul>
                    <li th:each="video:${anchorVideoList.list}">
                        <a href="#" class="img" th:title="${video.title}"
                           th:href="/anchor/video/${video.id}.html">
                            <img th:img-src="/image/170x160${video.titleImage}" th:alt="${video.title}"/>
                            <p class="p1"><span></span></p>
                            <p class="p2"><em></em></p>
                        </a>
                        <a href="#" class="text" th:text="${video.title}" th:title="${video.title}"
                           th:href="/video/${video.id}.html">MISS排位日记263期 中单阿狸大杀四方</a>
                        <p class="p3" th:text="${video.visitCount}"><img src="/static/img/view/view_arrow.png"/>43265
                        </p>
                    </li>

                </ul>
            </div>
            <!--页码-->
            <div th:replace="/pager.html::page(${anchorVideoList.pageName},${anchorVideoList.currentPage},${anchorVideoList.totalPage})"></div>
        </div>
        <!--<div class="game_pinglun">-->
        <!--<div class="game_pinglun_title">-->
        <!--<p>玩家评论</p>-->
        <!--<span>（已有<em>0</em>条评论）</span></div>-->
        <!--<div class="game_pinglun_box">-->
        <!--<dl>-->
        <!--<dd>-->
        <!--<textarea placeholder="请输入评论内容..." name="saytext" id="saytext"></textarea>-->
        <!--</dd>-->
        <!--<dt>-->
        <!--<p class="ppw_face emotion">表情</p>-->
        <!--<input type="submit" class="ppw_comment_bt" value="发表评论"/>-->
        <!--</dt>-->
        <!--</dl>-->
        <!--</div>-->
        <!--<div class="game_more_comment" style="width:744px;">加载更多</div>-->
        <!--</div>-->
    </div>
    <div class="main_right">
        <div class="right_mid">
            <div class="index_tit_two"><span class="text_left">个人视频排行</span></div>
            <dl class="video_rank">
                <dt th:each="anchorVideo,iterStat:${anchorVideoTopList}"
                    th:if="${iterStat.index==0||iterStat.index==1||iterStat.index==2}"><span
                        style="background:url(/static/img/zhubo/zhubo_shipin.png) no-repeat;"
                        th:text="${iterStat.index+1}">1</span><a href="#" th:text="${anchorVideo.title}"
                                                                 th:href="/video/${anchorVideo.id}.html"
                                                                 th:title="${anchorVideo.title}">驰骋野区的风暴骑手：新版本打野人攻略</a>
                </dt>
                <dt th:each="anchorVideo,iterStat:${anchorVideoTopList}"
                    th:if="${iterStat.index!=0&&iterStat.index!=1&&iterStat.index!=2}"><span
                        th:text="${iterStat.index+4}">4</span><a href="#" th:text="${anchorVideo.title}"
                                                                 th:href="/video/${anchorVideo.id}.html"
                                                                 th:title="${anchorVideo.title}">英雄联盟S6总决赛详情：举办地为北美</a>
                </dt>
            </dl>
        </div>
        <div class="right_mid">
            <div class="index_tit_two"><span class="text_left">热门主播</span> <a href="/anchor.html"
                                                                              class="more vider_more">更多</a>
            </div>
            <ul class="hot_zhubo">
                <li th:each="anchorZone:${anchorZoneTopList}"><a href="#" th:href="/anchor/${anchorZone.id}.html"
                                                                 th:title="${anchorZone.name}">
                    <p class="p1"><img src="/static/img/circle_bg2.png"/></p>
                    <p class="p2"><img src="/static/temp/pic01.jpg" th:img-src="/image/120x120${anchorZone.icoImage}"/>
                    </p>
                    <p class="p3" th:text="${anchorZone.name}">拳头暴君</p>
                </a></li>
            </ul>
        </div>
        <div class="right_mid">
            <div class="index_tit_two"><span class="text_left">热门游戏</span> <a href="/game.html" class="more vider_more">更多</a>
            </div>
            <ul class="hot_zixun">
                <li th:each="matchZone:${matchZoneTopList}"><a href="#"
                                                               th:text="${matchZone.name}"
                                                               th:href="/game/${matchZone.id}.html"
                                                               th:title="${matchZone.name}">驰骋野区的风暴骑手：新版本打野人马攻略</a></li>
            </ul>

        </div>
    </div>
</div>

<!--线上琵琶网首页的foot，这里只是截图-->
<div style="width:100%; text-align:center; clear:both"><img src="/static/temp/foot.png"
                                                            style="margin-top:20px;width:100%;"/></div>
</body>
</html>
