<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <title th:text="${picture.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${picture.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${picture.seoDescription}"/>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div th:replace="/head.html::top('picture')"></div>
<div class="general">
    <!--面包屑-->
    <div class="position"><a href="/">电竞首页</a>&gt;<a href="/picture.html">竞技美图</a>&gt;<em
            th:text="${picture.description}">不惧走光！韩国美女主播超短裙直播蹲起训练</em>
    </div>
    <!--图片展示-->
    <div class="pic_detail_con">
        <div class="pic_detail_tit" th:text="${picture.description}">不惧走光！韩国美女主播超短裙直播蹲起训练 (<em>2</em>/35)</div>
        <div class="pic_detail_writer">
            <dl>
                <dd><span th:text="${#calendars.format(picture.createTime, 'yyyy-MM-dd HH:mm')}">2015-02-03 10:23</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来源：<a
                        href="#"
                        th:text="${picture.source}">琵琶网</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </dd>
                <dt><span>分享到：</span>
                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a> <a title="分享到QQ空间"
                                                                                                   href="#"
                                                                                                   class="bds_qzone"
                                                                                                   data-cmd="qzone"></a>
                    <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a> <a title="分享到腾讯微博" href="#"
                                                                                           class="bds_tqq"
                                                                                           data-cmd="tqq"></a> <a
                            title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a> <a title="分享到微信" href="#"
                                                                                                 class="bds_weixin"
                                                                                                 data-cmd="weixin"></a>
                </div>
                <script>
                    window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "2",
                            "bdPic": "",
                            "bdStyle": "0",
                            "bdSize": "16"
                        }, "share": {}
                    };
                    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                </script>
                </dt>
            </dl>
        </div>
        <div class="container">
            <div class="content">
                <div id="rg-gallery" class="rg-gallery">
                    <div class="rg-thumbs">
                        <div class="es-carousel-wrapper">
                            <div class="es-nav">
                                <span class="es-nav-prev"></span>
                                <span class="es-nav-next"></span>
                            </div>
                            <div class="es-carousel">
                                <ul>
                                    <li th:each="pictureDetail:${picture.pictureDetailList}"><a href="#"><img
                                            th:attr="src=${imageServer}+'/image/100x93'+${pictureDetail.image},data-large=${imageServer}+'/image/623x565'+${pictureDetail.image},data-description=${pictureDetail.description},alt=${pictureDetail.description}"
                                            src="/static/temp/detail01.jpg" data-large="/static/temp/detail01.jpg"
                                            alt="image01"
                                            data-description="许允美是韩国著名的美女主播和车模。她是韩国直播平台Afreeca的著名BJ之一，拥有魔鬼身材和漂亮脸蛋的她有很多粉丝。许允美也经常出现在游戏展中，曾连续五年出席G-star，每次都会成为会场的焦点。"/></a><em></em>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="/static/js/picjs/jquery.tmpl.min.js"></script>
            <script type="text/javascript" src="/static/js/picjs/jquery.elastislide.js"></script>
            <script type="text/javascript" src="/static/js/picjs/gallery.js"></script>
        </div>
    </div>
    <!--猜你喜欢-->
    <div class="pic_like">
        <div class="index_tit_two title"><span class="text_left">猜你喜欢</span></div>
        <ul class="pic_like_con">
            <li th:each="pictureLike:${pictureLikeList}">
                <a href="#">
                    <p class="p1"><img src="/static/temp/girl1.jpg" th:img-src="/image/280x178${pictureLike.image}"
                                       th:alt="${pictureLike.description}"/>
                    </p>
                    <p class="p2" th:text="${pictureLike.description}">LOL日服配音CV表 满满都是回忆你认识几个？</p>
                </a>
            </li>
        </ul>
    </div>
    <!--热门美图-->
    <div class="pic_like">
        <div class="index_tit_two title"><span class="text_left">热门美图</span></div>
        <ul class="pic_like_con">
            <li th:each="pictureTop:${pictureTopList}">
                <a href="#">
                    <p class="p1"><img src="/static/temp/girl1.jpg" th:img-src="/image/280x178${pictureTop.image}"
                                       th:alt="${pictureTop.description}"/>
                    </p>
                    <p class="p2" th:text="${pictureTop.description}">LOL日服配音CV表 满满都是回忆你认识几个？</p>
                </a>
            </li>
        </ul>
    </div>
    <div th:replace="/comment.html::comment(${picture.id},${picture.description},${currentUrl})"></div>

</div>
<noscript>
    <style>
        .es-carousel ul {
            display: block;
        }
    </style>
</noscript>
<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
	<div class="rg-image-wrapper">
		{{if itemsCount > 1}}
			<div class="rg-image-nav">
				<a href="#" class="rg-image-nav-prev"></a>
				<a href="#" class="rg-image-nav-next"></a>
			</div>
		{{/if}}
		<div class="rg-image"></div>
		<div class="rg-caption-wrapper">
			<div class="rg-caption" style="display:none;">
				<p></p>
			</div>
		</div>
	</div>








</script>
<div th:replace="/bottom.html::bottom"></div>
</body>
</html>
