<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${picture.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${picture.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${picture.seoDescription}"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/swiper.min.css"/>
    <link rel="stylesheet" th:href="/static/css/img_article.css"/>
    <script type="text/javascript" th:src="/static/js/jquery.js"></script>
    <script type="text/javascript" th:src="/static/js/swiper.min.js"></script>
</head>

<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('picture')"></div>

<!--图片详情页-->
<div class="wcgp-pic-tit">
    <a href="javascript:history.go(-1);"></a>
    <p class="p1" th:text="${picture.description}">画江湖之不良人真人cos 另类的cosplay</p>
    <p class="p2" th:utext="'<span>1</span>/'+${#lists.size(picture.pictureDetailList)}"><span>1</span>/9</p>
</div>

<!-- Swiper -->
<div class="swiper-container nomargin">
    <div class="swiper-wrapper">
        <div rel="1" class="swiper-slide" th:each="pictureDetail,iterStat:${picture.pictureDetailList}"
             th:attr="rel=${iterStat.index+1}"><img
                th:img-src="${pictureDetail.image}"></div>
    </div>
    <div class="wcgp-pic-p">
        <div class="wcgp-pic-banner-p">
            <p th:text="${picture.description}">
                画江湖之不良人之真人cosplay，这是小编见过最恶搞，最好笑的真人cosplay，哈哈哈哈哈哈哈！笑疯了！这还原度小编给满分！</p>
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Swiper JS -->
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30
    });

    $(".swiper-button-next,.swiper-button-prev").click(function () {
        var a = $(".swiper-slide-active").attr("rel");
        $(".wcgp-pic-tit .p2 span").text(a);
    });
</script>


<!--评论内容-->
<div th:replace="/comment.html::comment(${picture.id},${picture.description},${currentUrl})"></div>

<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
</body>
</html>
