<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>电竞美图_游戏图片_美女图片_COS图片_55电竞游戏网</title>
    <meta name="keywords" content="游戏图片,美女图片,COS图片,美女主播图片,游戏美女图片"/>
    <meta name="description"
          content="55电竞游戏网竞技美图频道为玩家提供最新的电竞赛事图片,最新的各类美图，包括cosplay图片,美女主播,美女解说图片,赛事现场图片等LOL、Dota2、WOW、守望先锋电竞相关图片资讯等，更多精彩图片请关注55电竞游戏网。"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>

<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('picture')"></div>

<div class="wrapper">
    <ul class="wall clearfix" id="newsListData">
        <li class="article" th:each="picture:${pictureList.list}" th:if="${picture!=null&&picture.id!=null}">
            <a href="#" th:href="/picture/${picture.id}.html"
               th:title="${picture.description}">
                <img th:img-src="${picture.image}"
                     th:alt="${picture.description}"
                     th:title="${picture.description}"/>
                <p th:text="${picture.description}">萌死人不偿命 阴阳师手游最强COS合集</p>
                <small th:text=" ${#calendars.format(picture.createTime, 'yyyy-MM-dd')}">2016-05-02</small>
            </a>
        </li>
    </ul>
</div>

<!--加载更多-->
<div class="footer-more more-other" id="loadMore" th:if="${#lists.size(pictureList.list)>=pictureList.fetchSize}">
    <a style="color: #808080; font-size: 13px;" href="javascript:;" onclick="getNewsList()">加载更多 <img
            style="width: 16%;"
            th:src="/static/img/morejt.png"
            alt="加载更多"></a>
</div>

<div id="loadMoreCondition" style="display:none">
    <input type="hidden" id="offset" name="offset" th:value="${pictureList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${pictureList.fetchSize}">
</div>

<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/wcgp.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
<script type="text/javascript" th:src="/static/js/jaliswall.js"></script>
<script type="text/javascript" th:src="/static/js/picture/picture-list.js"></script>
<script type="text/javascript">
    $(function () {
        $('.wall').jaliswall({item: '.article'});
    });
</script>
</body>
</html>
