<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${tags!=null?tags.name:''}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${tags!=null?tags.name:''}"/>
    <meta name="description"
          content="描述"
          th:attr="content=${siteName}+'（55djw.com）提供最新最全最专业的'+${tags!=null?tags.name:''}+'，电竞游戏资讯，手机游戏行业新闻，游戏攻略，游戏评测等，更多手游产业动态、行业新闻、游戏资讯尽在'+${siteName}+'。'"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>

<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('picture')"></div>
<div class="wrapper">
    <p class="picture-bread-lost"><a th:href="/">电竞首页</a><span>&gt;</span><a
            th:href="/picture/">竞技美图</a><span>&gt;</span><em
            th:text="${tags.Name}">美女</em></p>
    <ul class="wall clearfix" id="newsListData">
        <li class="article" th:each="picture:${pictureList.list}" th:if="${picture!=null&&picture.id!=null}">
            <a href="#" th:href="/picture/${picture.id}.html"
               th:title="${picture.description}">
                <img th:img-src="${picture.image}"
                     th:alt="${picture.description}"
                     th:title="${picture.description}"/>
                <p th:text="${picture.description}">萌死人不偿命 阴阳师手游最强COS合集</p>
                <small th:text=" ${#calendars.format(picture.createTime, 'yyyy-MM-dd')}">2016-05-02</small>
            </a>
        </li>
    </ul>
</div>

<!--加载更多-->
<div class="footer-more more-other" id="loadMore" th:if="${#lists.size(pictureList.list)>=pictureList.fetchSize}">
    <a style="color: #808080; font-size: 13px;" href="javascript:;" onclick="getNewsList()">加载更多 <img
            style="width: 16%;"
            th:src="/static/img/morejt.png"
            alt="加载更多"></a>
</div>

<div id="loadMoreCondition" style="display:none">
    <input type="hidden" id="offset" name="offset" th:value="${pictureList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${pictureList.fetchSize}">
    <input type="hidden" id="tagId" name="tagId" th:value="${tags.id}">
    <input type="hidden" id="templateName" name="templateName" value="picture-tag-list-template.html">
</div>

<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
<script type="text/javascript" th:src="/static/js/jaliswall.js"></script>
<script type="text/javascript" th:src="/static/js/picture/picture-tag-list.js"></script>
<script type="text/javascript">
    $(function () {
        $('.wall').jaliswall({item: '.article'});
    });
</script>
</body>
</html>
