<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <title>资讯列表</title>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div th:replace="/head.html::top('news')"></div>
<div class="general">
    <!--面包屑-->
    <div class="position"><a href="/">电竞首页</a>&gt;<a href="/news.html">全部资讯</a>&gt;<em
            th:if="${infoList.pageName}=='/news_trade'">行业新闻</em><em
            th:if="${infoList.pageName}=='/news_match'">赛事新闻</em><em
            th:if="${infoList.pageName}=='/news_anchor'">主播新闻</em></div>
    <!--全部资讯,左边-->
    <div class="all_zixun" style="height: 1033px;">
        <div class="index_tit_two"><span class="text_left">全部资讯</span></div>
        <div class="tab_three">
            <ul>
                <li th:classappend="${infoList.pageName}=='/news_trade'?'hover'"><a
                        href="/news_trade_1.html">行业</a><em></em></li>
                <li th:classappend="${infoList.pageName}=='/news_match'?'hover'"><a
                        href="/news_match_1.html">赛事</a><em></em></li>
                <li th:classappend="${infoList.pageName}=='/news_anchor'?'hover'"><a
                        href="/news_anchor_1.html">主播</a><em></em></li>
            </ul>
        </div>
        <!--tab内容-->
        <div class="tab_one_con2">
            <div class="tab_deatil" id="con_one_1" style="display:block">
                <ul>
                    <li th:each="info:${infoList.list}">
                        <div class="d1"><a href="#" th:href="/news/${info.id}.html" th:title="${info.title}"><img
                                th:img-src="/image/204x108${info.titleImage}" th:alt="${info.title}"/></a></div>
                        <div class="d2">
                            <p class="p1"><a href="#" th:href="/news/${info.id}.html" th:title="${info.title}"
                                             th:text="${info.title}">iGirls战队处罚相关人员
                                恶意煽动队员离队将予以起诉</a></p>
                            <p class="p2"><span><a href="#" th:href="/news/tag/${tagTrade.tagsId}_1.html"
                                                   th:each="tagTrade:${info.tagMappingWebList}"
                                                   th:text="${tagTrade.name}">电竞</a></span><em
                                    th:text="${#calendars.format(info.publishTime, 'MM-dd HH:mm')}">10-20 10:35</em></p>
                            <p class="p3" th:text="${info.subTitle}">
                                近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>
                        </div>
                    </li>
                </ul>
                <div th:replace="/pager.html::page(${infoList.pageName},${infoList.currentPage},${infoList.totalPage})"></div>
            </div>
        </div>
    </div>
    <!--资讯列表右边-->
    <div class="zixun_right">
        <!--精选视频-->
        <div class="list2_right_box">
            <div class="index_tit_two"><span class="text_left">精选视频</span> <a href="/video.html" class="more">更多</a>
            </div>
            <div class="index_video_right game_user_con small">
                <ul>
                    <li th:each="video:${videoTopList}"><a href="#" class="img" th:href="/video/${video.id}.html"
                                                           th:title="${video.title}"> <img
                            th:img-src="/image/154x90${video.titleImage}"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a> <a href="#" class="text" th:text="${video.title}" th:href="/video/${video.id}.html"
                            th:title="${video.title}">电竞校园联赛炉石传说Top3</a></li>
                </ul>
            </div>
        </div>
        <!--热门主播-->
        <div class="list2_right_box">
            <div class="index_tit_two"><span class="text_left">热门主播</span> <a href="/anchor.html" target="_blank"
                                                                              class="more">更多</a>
            </div>
            <ul class="hot_zhubo">
                <li th:each="anchor:${anchorTopList}">
                    <a href="#" th:href="/anchor/${anchor.id}.html"
                       th:title="${anchor.name}">
                        <p class="p1"><img src="/static/img/circle_bg2.png"/></p>
                        <p class="p2"><img th:img-src="/image/120x120${anchor.icoImage}"/></p>
                        <p class="p3" th:text="${anchor.username}">拳头暴君</p>
                    </a>
                </li>
            </ul>
        </div>
        <!--热门资讯 -->
        <div class="list2_right_box">
            <div class="index_tit_two"><span class="text_left">热门资讯</span> <a href="/news.html" target="_blank"
                                                                              class="more">更多</a>
            </div>
            <ul class="hot_zixun">
                <li th:each="news:${newsTopList}"><a href="#" th:text="${news.title}"
                                                     th:href="/news/${news.id}.html" th:title="${news.title}">驰骋野区的风暴骑手：新版本打野人马攻略</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--线上琵琶网首页的foot，这里只是截图-->
<div th:replace="/bottom.html::bottom"></div>
</body>
</html>
