<div class="container-fluid">
    <ol class="breadcrumb small bg-none no-p">
        <li>
            <a ui-sref="index"><i class="fa fa-home"></i> 首页</a>
        </li>

        <li class="active">角色管理</b>
        </li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">角色列表</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <form class="form-inline">

                    <button class="btn btn-primary" ng-click="toAddOrUpdate()">新增</button>

                </form>
            </div>

            <div class="table-responsive">
                <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height: 500px;"></div>
            </div>
        </div>
    </div>
</div>
