<!-- 实例化编辑器 -->
<!--<script src="ue/ueditor.config.js"></script>-->
<!--<script src="ue/ueditor.all.min.js"></script>-->
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#" ui-sref="index">首页</a></li>
        <li><a href="#" ui-sref="zone.match-zone.list">专区管理</a></li>
        <li><a href="#" ui-sref="zone.match-zone.list">赛事管理</a></li>
    </ol>

    <h2 class="page-header">编辑赛事</h2>

    <form name="form" class="form-horizontal">
        <div class="well">
            <button class="btn btn-primary" validation-submit="form" ng-click="updateMatchZone()">保存</button>
        </div>
        <div class="section form-horizontal">
            <table class="table">

                <tr>
                    <td width="10%">专区名称：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.name"
                                   placeholder="" validator="required" name="name"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="10%">专区名称拼音：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.nameSpell"
                                   placeholder="" validator="required" name="nameSpell"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">拼音首字母：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.nameFirstLetter"
                                   placeholder="" validator="required" name="nameFirstLetter"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="10%">推荐位：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <div ng-repeat="recommendMappingModel in matchZone.recommendMappingModelList"
                                 class="checkbox-inline">
                                <input type="checkbox" ng-model="recommendMappingModel.checked" name="checked"/>{{recommendMappingModel.recommendName}}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="10%">地区：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="matchZone.matchZoneAreaId"
                                    ng-options="m.id as m.areaName for m in matchZoneAreaList" validator="required"
                                    name="matchZoneAreaId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">时间：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="matchZone.matchZoneYearId"
                                    ng-options="m.id as m.yearName for m in matchZoneYearList" validator="required"
                                    name="matchZoneYearId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">状态：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="matchZone.matchStatus.name"
                                    ng-options="m.name as m.label for m in matchStatusList" validator="required"
                                    name="matchStatus">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">SEO标题：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.seoTitle"
                                   placeholder=""/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">SEO关键字：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.seoKeywords"
                                   placeholder=""/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="10%">SEO描述：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.seoDescription"
                                   placeholder=""/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">访问次数：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.visitCount"
                                   placeholder="" ng-init="matchZone.visitCount=0"/>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td width="10%">图标图片：</td>
                    <td width="40%">
                        <img img-src="{{matchZone.icoImage}}" alt=""/>
                        <div class="btn btn-primary" ng-file-select ng-file-change="uploadIcoImage($files)">上传</div>
                        (支持格式：jpg,jpeg,png,bmp, 建议像素为360*270)
                    </td>
                </tr>

                <tr>
                    <td width="10%">背景图片：</td>
                    <td width="40%">
                        <img img-src="{{matchZone.backgroundImage}}" alt=""/>
                        <div class="btn btn-primary" ng-file-select ng-file-change="uploadBackgroundImage($files)">上传
                        </div>
                        (支持格式：jpg,jpeg,png,bmp, 建议像素为360*270)
                    </td>
                </tr>

                <tr>
                    <td width="10%">开始时间：</td>
                    <td width="40%">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="startTime" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="form-control" validator="required" name="startTime"
                                           ng-model="matchZone.startTime | date:'yyyy-MM-dd HH:mm:ss'"
                                           placeholder="请选择开始时间">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="matchZone.startTime"
                                                datetimepicker-config="{ dropdownSelector: '#startTime' }"/>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">结束时间：</td>
                    <td width="40%">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="endTime" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="form-control" validator="required" name="endTime"
                                           ng-model="matchZone.endTime | date:'yyyy-MM-dd HH:mm:ss'"
                                           placeholder="请选择结束时间">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="matchZone.endTime"
                                                datetimepicker-config="{ dropdownSelector: '#endTime' }"/>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">比赛类型：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.matchType"
                                   placeholder="" validator="required" name="matchType"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">举办方：</td>
                    <td width="40%">
                        <div class="col-sm-7">
                            <input class="form-control" type="text" ng-model="matchZone.hostParty"
                                   placeholder="" validator="required" name="hostParty"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="10%">是否启用：</td>
                    <td width="40%">
                        <input type="checkbox" ng-model="matchZone.ifStart">启用赛事
                    </td>
                </tr>

                <tr>
                    <td width="10%">是否主播赛事：</td>
                    <td width="40%">
                        <input type="checkbox" ng-model="matchZone.ifAnchorMatch">主播赛事
                    </td>
                </tr>

                <tr>
                    <td width="10%">专区介绍：</td>

                    <td width="70%">
                        <textarea class="form-control" name="introduction" ng-model="matchZone.introduction"></textarea>
                    </td>
                </tr>


            </table>
            <table class="table table-bordered">
                <th class="alert-info" colspan="7">比赛奖金</th>
                <tr>
                    <td>名次</td>
                    <td>奖金金额</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" type="text"
                               ng-model="matchZoneBonus.ranking"
                               placeholder="请输入名次"/></td>
                    <td>
                        <input class="form-control" type="text" ng-model="matchZoneBonus.bonusFee"
                               placeholder="请输入奖金金额"/>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="saveMatchZoneBonus()">保存</button>
                    </td>
                </tr>
                <tr ng-repeat="matchZoneBonus in matchZone.matchZoneBonusList">
                    <td>
                        {{matchZoneBonus.ranking}}
                    </td>
                    <td>
                        {{matchZoneBonus.bonusFee}}
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteMatchZoneBonus(matchZoneBonus)">删除</button>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered">
                <th class="alert-info" colspan="7">比赛日程</th>
                <tr>
                    <td>队一</td>
                    <td>队二</td>
                    <td>日期</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control" ng-model="matchZoneCalendar.matchTeamOneId"
                                ng-options="m.id as m.name for m in matchTeamList"
                                name="matchTeamOneId">
                            <option value="">请选择队一</option>
                        </select>
                    <td>
                        <select class="form-control" ng-model="matchZoneCalendar.matchTeamTwoId"
                                ng-options="m.id as m.name for m in matchTeamList"
                                name="matchTeamOneId">
                            <option value="">请选择队二</option>
                        </select>
                    </td>
                    <td>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="calendarStartTime" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           ng-model="matchZoneCalendar.startTime | date:'yyyy-MM-dd HH:mm:ss'">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="matchZoneCalendar.startTime"
                                                datetimepicker-config="{ dropdownSelector: '#calendarStartTime' }"/>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="saveMatchZoneCalendar()">保存</button>
                    </td>
                </tr>
                <tr ng-repeat="matchZoneCalendar in matchZone.matchZoneCalendarList">
                    <td>
                        {{matchZoneCalendar.matchTeamOneName}}
                    </td>
                    <td>
                        {{matchZoneCalendar.matchTeamTwoName}}
                    </td>
                    <td>
                        {{matchZoneCalendar.startTime| date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteMatchZoneCalendar(matchZoneCalendar)">删除</button>
                    </td>
                </tr>
            </table>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </form>
</div>