<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<!--底部导航-->
<nav class="bottom_nav" th:fragment="footerNav">
    <ul>
        <li><a th:href="" title="电竞">电竞</a></li>
        <li><a th:href="/news/" title="新闻">新闻</a></li>
        <li><a th:href="/video/" title="视频">视频</a></li>
        <li><a th:href="/game/" title="赛事">赛事</a></li>
        <li><a th:href="/anchor/" title="主播">主播</a></li>
        <li><a th:href="/picture/" title="美图">美图</a></li>
    </ul>
</nav>
<!--底部-->
<footer class="footer" th:fragment="footer">
    <p><a href="http://www.55djw.com/">电脑版</a>|<a href="http://m.55djw.com/">移动端</a></p>
    <p>闽ICP备17001838号-1
    </p>
    <!--cnzz统计-->
    <div style="display:none;">
        <script src="https://s11.cnzz.com/z_stat.php?id=1261324886&web_id=1261324886" language="JavaScript"></script>
    </div>
    <!--cnzz统计-->
    <!--百度自动收录-->
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <!--百度自动收录-->
    <!--360自动收录-->
    <script>
        (function () {
            var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?38ded7ca48fc0fca2a8b700a13940054" : "https://jspassport.ssl.qhimg.com/11.0.1.js?38ded7ca48fc0fca2a8b700a13940054";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();
    </script>
    <!--360自动收录-->
</footer>

<!--TOP-->
<div class="tipTop backtop" th:fragment="tipTop">
    TOP ∧
</div>