<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<!--头部1-->
<header class="header1" th:fragment="top">
    <div class="top">
        <div class="menu-new-back">
            <a href="javascript:history.go(-1);" class="js-go-back"></a>
        </div>

        <div class="menu-new-search">
            <a href="http://m.pipaw.com/searchsite.html"></a>
        </div>
    </div>
</header>


<!--导航1-->
<div class="wcgp-nav-box" th:fragment="nav(selectedMenuName)">
    <ul class="clearfix" id="wcgp-nav1">
        <li th:classappend="${selectedMenuName}=='index'?'on'"><a th:href="" title="电竞">电竞</a>
        </li>
        <li th:classappend="${selectedMenuName}=='news'?'on'"><a th:href="/news/" title="新闻">新闻</a></li>
        <li th:classappend="${selectedMenuName}=='video'?'on'"><a th:href="/video/" title="视频">视频</a></li>
        <li th:classappend="${selectedMenuName}=='game'?'on'"><a th:href="/game/" title="赛事">赛事</a></li>
        <li th:classappend="${selectedMenuName}=='anchor'?'on'"><a th:href="/anchor/" title="主播">主播</a></li>
        <li th:classappend="${selectedMenuName}=='picture'?'on'"><a th:href="/picture/" title="美图">美图</a></li>

    </ul>
</div>