<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>55电竞游戏网_电竞赛事综合门户网站_移动电竞游戏网</title>
    <meta name="keywords" content="55电竞游戏网,电竞,电子竞技,游戏,电竞游戏,电竞资讯,电竞赛事,电竞攻略,电竞战队,电竞人物"/>
    <meta name="description"
          content="55电竞游戏网提供电竞游戏及移动电竞赛事资讯，提供王者荣耀直播、球球大作战直播、阴阳师直播及英雄联盟lol等赛事新闻、电竞赛事报道、赛事视频在线直播、赛事战报点评及手游相关攻略资讯内容，最专业的电竞游戏资讯门户网站。"/>
    <link rel="stylesheet" type="text/css" href="static/css/gpwx.css" th:href="static/css/gpwx.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="static/css/index.css"/>
</head>

<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('index')"></div>

<!--banner-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="advImage:${advImageList}">
            <a th:href="${advImage.url}" href="#">
                <img th:img-src="/image/698x370${advImage.image}" th:alt="${advImage.name}"
                     th:title="${advImage.name}"/><span th:text="${advImage.name}">1炫斗三国志斗三国志斗三国志三国志三国志</span></a>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!--头条-->
<div class="wcgp-headnews">
    <ul>
        <li th:each="info,iterStat:${recommendInfoList}">
            <a href="#" th:href="/news/${info.id}.html" th:title="${info.title}" th:text="${info.title}">S6从今天开赛
                看韩国队能走多远</a>
        </li>
    </ul>
    <span></span>
</div>

<!--最新资讯-->
<div class="wcgp-news-box">
    <div class="wcgp-news-tit">最新资讯
        <a class="header-rightMore" href="#" th:href="/news/">更多+</a>
    </div>
    <div class="wcgp-news-con">
        <ul class="clearfix">
            <li th:each="info:${infoNewestList}" th:if="${info!=null}">
                <div class="wcgp-news-pic">
                    <a href="#" th:href="/news/${info.id}.html" th:title="${info.title}">
                        <img src="static/temp/pic.jpg" th:img-src="/image/203x120${info.titleImage}"
                             th:alt="${info.title}" th:title="${info.title}"></a>
                </div>
                <div class="wcgp-news-passage">
                    <a href="#" th:href="/news/${info.id}.html" th:title="${info.title}" th:text="${info.title}">lol6.20努努增强后怎么玩
                        S6雪人打野天赋符文出装</a>
                    <span th:text="${info.infoZoneType.label}">新闻</span>
                    <em th:text="${#calendars.format(info.publishTime, 'MM-dd HH:mm')}">10-12 09:43</em>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--赛事专题-->
<div class="wcgp-news-box">
    <div class="wcgp-news-tit">
        赛事专题
        <a class="header-rightMore" href="#" th:href="/game/">更多+</a>
    </div>
    <div class="wcgp-game-con">
        <ul class="clearfix">
            <li th:each="matchZone,iterStat:${matchZoneNewList}">
                <a href="#" th:href="/game/${matchZone.id}/" th:title="${matchZone.name}">
                        <span>
                            <img src="static/temp/wcgp-pic.jpg" th:img-src="/image/341x142${matchZone.indexImage}"
                                 th:alt="${matchZone.name}"
                                 th:title="${matchZone.name}">
                        </span>
                    <p th:text="${matchZone.name}">NEST2016全国电子竞技大赛</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--主播专题-->
<div class="wcgp-news-box">
    <div class="wcgp-news-tit">
        主播专题
        <a class="header-rightMore" href="#" th:href="/anchor/">更多+</a>
    </div>
    <div class="wcgp-hot-theme">
        <ul>
            <li th:each="anchorZone:${anchorZoneList}">
                <a href="" th:href="/anchor/${anchorZone.id}/"
                   th:title="${anchorZone.name}">
                    <div class="img-content">
                        <img th:img-src="/image/340x160${anchorZone.recommendImage}"
                             th:alt="${anchorZone.name}"
                             th:title="${anchorZone.name}">
                        <div class="mengcheng-radius"></div>
                        <p class="mzbai" th:text="'主播：'+${anchorZone.username}">主播：小智脑残粉</p>
                    </div>
                    <p class="tips" th:text="${anchorZone.name}">lol代练moba大神美蒙老师</p>
                </a>
                <p class="hotp">人气：<em th:text="${anchorZone.visitCount}">586210</em></p>
            </li>
        </ul>
    </div>
</div>

<!--比赛视频-->
<div class="wcgp-news-box">
    <div class="wcgp-news-tit">
        比赛视频
        <a class="header-rightMore" href="#" th:href="/video_new/matchVideo/all/0_1.html">更多+</a>
    </div>
    <div class="video-tab">
        <ul id="videoTab1">
            <li th:each="matchZone,iterStat:${matchZoneVideoList}" th:class="${iterStat.index==0?'active':''}">
                <span class="long-string"></span><em th:text="${matchZone.name}">dnf视频</em></li>
        </ul>
    </div>
    <div class="video-play videoPlay1" th:each="infoMatchZoneVideoList,iterStatAll:${infoMatchZoneVideoListAll}"
         th:style="${iterStatAll.index==0?'display: block':'display: none'}">
        <ul>
            <li th:each="info,iterStat:${infoMatchZoneVideoList}">
                <a th:href="/video/${info.id}.html" th:title="${info.title}">
                    <img th:img-src="/image/330x195${info.titleImage}" th:alt="${info.title}"
                         th:title="${info.title}">
                    <img class="playIoc" src="static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a th:href="/video/${info.id}.html" th:title="${info.title}" th:text="${info.title}">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>

</div>
<!--主播解说-->
<div class="wcgp-news-box">
    <div class="wcgp-news-tit">
        主播解说
        <a class="header-rightMore" href="#" th:href="/video_new/anchorVideo/all/0_1.html">更多+</a>
    </div>
    <div class="video-tab">
        <ul id="videoTab2">
            <li th:each="anchorZone,iterStat:${anchorZoneVideoList}"
                th:class="${iterStat.index==0?'active':''}"><span
                    class="long-string"></span> <em th:text="${anchorZone.name}">dnf视频</em></li>
        </ul>
    </div>
    <div th:each="infoAnchorZoneVideoList,iterStatAll:${infoAnchorZoneVideoListAll}"
         th:class="iterStatAll.index==0?'video-play videoPlay1':'video-play videoPlay1 hide'">
        <ul>
            <li th:each="info,iterStat:${infoAnchorZoneVideoList}">
                <a th:href="/video/${info.id}.html" th:title="${info.title}">
                    <img src="static/img/yxsp1.png" th:img-src="/image/385x233${info.titleImage}">
                    <img class="playIoc" src="static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a th:href="/video/${info.id}.html" th:title="${info.title}" th:text="${info.title}">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>
</div>

<!--玩家视频-->
<div class="wcgp-news-box" th:unless="${#lists.isEmpty(infoPlayerVideoInfoList)}">
    <div class="wcgp-news-tit">
        玩家视频
        <a class="header-rightMore" href="#" th:href="/video_new/playerVideo/all/0_1.html">更多+</a>
    </div>
    <div class="video-play">
        <ul>
            <li th:each="info:${infoPlayerVideoInfoList}">
                <a th:href="/video/${info.id}.html"
                   th:title="${info.title}">
                    <img th:img-src="/image/200x118${info.titleImage}" th:alt="${info.title}"
                         th:title="${info.title}">
                    <img class="playIoc" src="static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a th:text="${info.title}" th:href="/video/${info.id}.html"
                   th:title="${info.title}">主播炸了132：miss被塔杀 魔兽爱抓胸杀</a>
            </li>
        </ul>
    </div>

</div>
<!--电竞排行榜-->
<div class="wcgp-news-box">
    <div class="wcgp-news-tit">
        电竞排行榜
        <a class="header-rightMore" href="#" th:href="/game/">更多+</a>
    </div>
    <div class="wcgp-number-con">
        <ul>
            <li class="clearfix" th:each="matchZone,iterStat:${matchZoneTopList}">
                <a href="#" th:href="/game/${matchZone.id}/"
                   th:title="${matchZone.name}">
                    <p class="p1 first"
                       th:class="${iterStat.index==0?'p1 first':iterStat.index==1?'p1 second':iterStat.index==2?'p1 third':'p1'}"
                       th:text="${iterStat.index+1}">1</p>
                    <p class="p2"><img src="static/temp/pic1.jpg" th:img-src="/image/104x104/${matchZone.icoImage}"
                                       th:alt="${matchZone.name}"
                                       th:title="${matchZone.name}"></p>
                    <div class="wcgp-number-name">
                        <dl>
                            <dt th:text="${matchZone.name}">英雄联盟</dt>
                            <dd>人气：<span th:text="${matchZone.visitCount}">576918</span></dd>
                        </dl>
                    </div>
                    <p class="p3">进入专区</p>
                </a>
            </li>

        </ul>
    </div>
</div>


<!--电竞美图-->
<div class="wcgp-news-box">
    <div class="wcgp-news-tit">
        电竞美图
        <a class="header-rightMore" href="#" th:href="/picture/">更多+</a>
    </div>
    <div class="wcgp-pic-con clearfix">
        <div class="wcgp-picc-left" th:each="picture,iterStat:${pictureList}" th:if="${iterStat.index==0}">
            <a href="#" th:href="/picture/${picture.id}.html"
               th:title="${picture.description}">
                <img th:img-src="/image/300x455${picture.image}" th:alt="${picture.description}"
                     th:title="${picture.description}">
                <p th:text="${picture.description}">萌死人不偿命 阴阳师手游式神最萌COS</p>
            </a>
        </div>
        <div class="wcgp-picc-right">
            <div class="wcgp-picc-right-pic" th:each="picture,iterStat:${pictureList}" th:if="${iterStat.index==1}">
                <a href="#" th:href="/picture/${picture.id}.html"
                   th:title="${picture.description}">
                    <img th:img-src="/image/300x194${picture.image}" th:alt="${picture.description}"
                         th:title="${picture.description}">
                    <p th:text="${picture.description}">萌死人不偿命 阴阳师手游式神最萌COS</p>
                </a>
            </div>
            <div class="wcgp-picc-right-pic margin" th:each="picture,iterStat:${pictureList}"
                 th:if="${iterStat.index==2}">
                <a href="#" th:href="/picture/${picture.id}.html"
                   th:title="${picture.description}">
                    <img th:img-src="/image/300x194${picture.image}" th:alt="${picture.description}"
                         th:title="${picture.description}">
                    <p th:text="${picture.description}">萌死人不偿命 阴阳师手游式神最萌COS</p>
                </a>
            </div>
        </div>
    </div>
</div>


<!--友情链接-->
<div class="wcgp-news-box wcgp-link-box" th:unless="${#lists.isEmpty(linkList)}">
    <div class="wcgp-news-tit wcgp-link-tit">友情链接</div>
    <div class="wcgp-link-con">
        <a href="#" th:each="link:${linkList}" th:text="${link.siteName}" th:href="${link.url}">手游排行榜</a>
    </div>
</div>


<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" src="static/js/swiper.min.js"></script>
<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplayDisableOnInteraction: false,
        speed: 800,
        autoplay: 3000,
        loop: true,

    });
</script>
<script type="text/javascript" src="static/js/jquery.js" th:src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/ProjectHome.js" th:src="static/js/ProjectHome.js"></script>
</body>
</html>
