<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <link rel="stylesheet" type="text/css" href="static/css/gpwx.css" th:href="static/css/gpwx.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/search.css" th:href="static/css/search.css"/>
    <title>搜索页面</title>
</head>

<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('index')"></div>
<!--搜索-->
<div class="search">
    <input type="text" class="search_tx" placeholder="倩女幽魂手游" name='keywords' value="手游" th:value="${keywords}"/>

    <input type="button" name="searchSubmit" class="search_bt" value=""/>
</div>
<!--搜索结果-->
<div class="search_result">
    <div class="search_result_tit"><span>搜索</span><i th:text="${keywords}"></i><span>结果如下</span></div>
</div>
<!--相关资讯-->
<div class="search_box me_shadow" th:if="${type=='all'||type=='news'}" th:unless="${#lists.isEmpty(infoList.list)}">
    <div class="num_tit_ss">资讯</div>
    <ul class="search_zixun clearfix" id="newsListData">
        <li th:each="info:${infoList.list}">
            <a href="/dnf/331611.html" class="a1" th:href="/news/${info.id}.html" th:title="${info.title}"><img
                    th:img-src="/image/100x70${info.titleImage}"
                    th:alt="${info.title}"/></a>
            <p class="p1">
                <a th:href="/news/${info.id}.html" th:title="${info.title}" th:text="${info.title}">DNF<i>手游</i>复仇者PK怎么连招
                    复仇者华丽连招教学</a>
                <span th:text="${info.subTitle}">　　DNF手游PK怎么连招?这一直是玩家们关注的焦点，很多玩家对于复仇者PK方法不是很清楚，接下来带来详细的介绍。　　虎袭，等级：1　　空斩打，等级：10　　强制-空斩打，等级：1　　武器祝福，等级：10　　直拳冲</span>
            </p>
        </li>

    </ul>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='all'}"><a th:href="/search_${keywords}_news_1.html">查看更多<span></span></a>
    </div>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='news'}" id="loadMore"><a href="javascript:;"
                                                                      onclick="getNewsList()">加载更多<span></span></a>
    </div>
</div>
<!--相关视频-->
<div class="search_box me_shadow" th:if="${type=='all'||type=='video'}" th:unless="${#lists.isEmpty(videoList.list)}">
    <div class="num_tit_ss">视频</div>
    <ul class="search_shipin" id="newsListData">
        <li th:each="video:${videoList.list}">
            <a th:title="${video.title}"
               th:href="/video/${video.id}.html">
                <img th:img-src="/image/230x160${video.titleImage}" th:alt="${video.title}">
                <img th:alt="${video.title}" class="playIoc" th:src="/static/img/playico.png">
            </a>
            <div class="mengcheng"></div>
            <a th:title="${video.title}"
               th:href="/video/${video.id}.html" th:text="${video.title}">2017KPL第七周联赛
                无痕铁血关羽无情秀翻超玩会视频</a>
        </li>
    </ul>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='all'}"><a th:href="/search_${keywords}_video_1.html">查看更多<span></span></a>
    </div>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='video'}" id="loadMore"><a href="javascript:;"
                                                                       onclick="getVideoList()">加载更多<span></span></a>
    </div>
</div>
<!--相关图集-->
<div class="search_box me_shadow" th:if="${type=='all'||type=='picture'}"
     th:unless="${#lists.isEmpty(pictureList.list)}">
    <div class="num_tit_ss">图集</div>
    <ul class="search_tuji" id="newsListData">
        <li th:each="picture:${pictureList.list}"><a th:title="${picture.description}"
                                                     th:href="/picture/${picture.id}.html"><img
                th:img-src="/image/230x160${picture.image}" th:alt="${picture.description}"></a><a
                th:title="${picture.description}"
                th:href="/picture/${picture.id}.html" th:text="${picture.description}">红黄绿</a></li>
    </ul>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='all'}"><a
            th:href="/search_${keywords}_picture_1.html">查看更多<span></span></a></div>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='picture'}" id="loadMore"><a href="javascript:;"
                                                                         onclick="getPictureList()">加载更多<span></span></a>
    </div>
</div>

<!--相关赛事-->
<div class="search_box me_shadow" th:if="${type=='all'||type=='match'}"
     th:unless="${#lists.isEmpty(matchZoneList.list)}">
    <div class="num_tit_ss">赛事</div>
    <ul class="search_libao clearfix" id="newsListData">
        <li th:each="matchZone:${matchZoneList.list}">
            <a th:href="/game/${matchZone.id}/" th:title="${matchZone.name}" class="a1">
                <img th:img-src="/image/70x70${matchZone.icoImage}" th:alt="${matchZone.name}"></a>
            <p class="p1">
                <a th:href="/game/${matchZone.id}/" th:title="${matchZone.name}" th:text="${matchZone.name}">《<i>倩女</i>幽魂手游》<i>倩女</i>预约礼包</a>
                <span class="span1"
                      th:text="${'时间：'+#calendars.format(matchZone.startTime, 'yyyy-MM-dd')+' - '+#calendars.format(matchZone.endTime, 'yyyy-MM-dd')}">时间：2017-02-25 - 2017-03-16</span>
                <span class="span1" th:text="'赛区：'+${matchZone.matchZoneAreaName}">赛区：全国</span>
            </p>
            <a href="http://m.fahao.pipaw.com/libao/14388.html" th:href="/game/${matchZone.id}/"
               th:title="${matchZone.name}" class="a2">进入专区</a>
        </li>

    </ul>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='all'}"><a th:href="/search_${keywords}_match_1.html">查看更多<span></span></a>
    </div>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='match'}" id="loadMore"><a href="javascript:;"
                                                                       onclick="getMatchList()">加载更多<span></span></a>
    </div>
</div>
<!--相关主播-->
<div class="search_box me_shadow" th:if="${type=='all'||type=='anchor'}"
     th:unless="${#lists.isEmpty(anchorZoneList.list)}">
    <div class="num_tit_ss">主播</div>
    <ul class="search_libao clearfix" id="newsListData">
        <li th:each="anchorZone:${anchorZoneList.list}">
            <a th:href="/anchor/${anchorZone.id}/" th:title="${anchorZone.username}" class="a1">
                <img th:img-src="/image/70x70${anchorZone.icoImage}" th:alt="${anchorZone.username}"></a>
            <p class="p1">
                <a th:href="/anchor/${anchorZone.id}/" th:title="${anchorZone.username}"
                   th:text="${anchorZone.username}">《<i>倩女</i>幽魂手游》<i>倩女</i>预约礼包</a>
                <span class="span3"
                      th:text="${anchorZone.introduction}">时间：2017-02-25 - 2017-03-16</span>
            </p>
            <a th:href="/anchor/${anchorZone.id}/" th:title="${anchorZone.username}" class="a2">进入主播</a>
        </li>

    </ul>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='all'}"><a th:href="/search_${keywords}_anchor_1.html">查看更多<span></span></a>
    </div>
    <!--查看更多-->
    <div class="search_more" th:if="${type=='anchor'}" id="loadMore"><a href="javascript:;"
                                                                        onclick="getAnchorList()">加载更多<span></span></a>
    </div>
</div>
<div id="loadMoreCondition" style="display:none">
    <input type="hidden" id="offset" name="offset" th:value="${fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${fetchSize}">
    <input type="hidden" id="templateName" name="templateName" th:value="${templateName}">
    <input type="hidden" id="keywords" name="keywords" th:value="${keywords}">
    <input type="hidden" id="type" name="type" th:value="${type}">
</div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="static/js/jquery.js"></script>
<script type="text/javascript" th:src="static/js/search.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
</body>
</html>
