<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
    <title>500</title>
</head>

<body>
<!--head-->
<div th:replace="/head.html::top('500')"></div>
<div class="general">
    <div class="no-found-page">
        <h1>500</h1>网页挂了，工程师正在努力抢救中.....
        <div th:if="${exception != null}">
            <h2 th:text="${exception.message}"></h2>

            <p th:text="${exception.stackTrace}"></p>
        </div>
    </div>

</div>
<div th:replace="/bottom.html::bottom"></div>

</body>
</html>