<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <title>500</title>
    <meta charset="utf-8">
    <meta name="description" content="xxx">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/static/css/common.css" th:href th:cdn/>
</head>
<body class="background-color-FFF">
<div class="wrap font-size-px-14">
    <div class="padding-bottom-50 background-color-d9d9d9 position-relative">
        <img src="/static/images/404gif01.gif" alt="500" class="display-block width-full" th:cdn/>

        <div class="text-center padding-top-30">

            <img src="/static/images/sorry.png" width="80" class="vertical-top" th:cdn/>

            <div class="display-lineblock padding-left-20 width-200 font-size-px-13 font-color-333">
                <p class="margin-top-8 text-left">请您耐心等待，稍后再试</p>

                <p class="text-left">如需更多帮忙，请<a class="font-color-5290d2 decoration-underline" href="tel:4008855900">联系客服</a></p>
            </div>
        </div>
        <p class="pattern-bottom-FFF"></p>
    </div>
    <div class="loading-update-content padding-top-30 text-center">
        <p class="line-title"><span>需要帮助?</span></p>
        <dl class="padding-top-20 padding-left-40 padding-right-40 list-float-left cf">
            <dd class="small-6">
                <a href="tel:4008855900" class="cf" data-icon="&#xf173;">
                    <span>电话咨询</span>
                </a>
            </dd>
            <dd class="small-6">
                <a href="http://mp.weixin.qq.com/s?__biz=MzIxNDAxNTk5MA==&mid=207434476&idx=1&sn=a002cbf889936653d13778f43afffbbb#rd" class="cf" data-icon="&#xf16d;">
                    <span>微信咨询</span>
                </a>
            </dd>
        </dl>
        <p class="padding-top-20">工作时间：周一至周六8:30-18:00</p>
    </div>
    <div class="" th:if="${exception != null}">
        <h2 th:text="${exception.message}"></h2>

        <p th:text="${exception.stackTrace}"></p>
    </div>
</div>
<script type="text/javascript" src="/static/js/zepto.min.js" th:cdn></script>
<script type="text/javascript" src="/static/js/common.min.js" th:cdn></script>

</body>
</html>