<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<div th:fragment="top(selectedMenuName)">
    <div class="djw_top">
        <div class="djw_top_general_o">
            <div class="djw_top_left"><a href="#">55电竞游戏网</a><a
                    href="#" class="top_menu">全站导航</a><a
                    href="javascript:void(0)" class="top_phone">手机版</a>
            </div>
            <div class="djw_top_right">
                <a href="javascript:;">设为主页</a>
                <a href="javascript:;">收藏网站</a>
            </div>
        </div>
    </div>

    <!--head-->
    <div class="general">
        <div class="pipaw_logo">
            <a href="http://www.pipaw.com/"><img
                    src="/static/img/logo.png"/></a>
            <span>电竞频道</span></div>
        <div class="ppw_search">
            <dl>
                <dt>
                <div class="search_change">全部</div>
                <div class="search_option">
                    <span>资讯</span>
                    <span>视频</span>
                    <span>赛事</span>
                    <span>主播</span>
                    <span>图集</span>
                </div>
                <input type="text" class="ppw_tx new_ppw_tx" onfocus="if(this.value=='请输入您要搜索的关键字'){this.value=''}"
                       name="keywords" onblur="if(this.value==''){this.value='请输入您要搜索的关键字'}" value="请输入您要搜索的关键字"/>
                <input type="button" class="ppw_bt" name="searchSubmit" value="搜索"/>
                </dt>
                <dd><a href="###" th:each="hotKeywords:${hotKeywordsList}" th:text="${hotKeywords.keyword}"
                       th:href="${hotKeywords.url}" target="_blank">WCA</a></dd>
            </dl>
        </div>
    </div>
    <!--menu-->
    <div class="general">
        <ul class="ppw_nav">
            <li th:classappend="${selectedMenuName}=='index'?'sel'"><a href="/index.html">电竞首页</a></li>
            <li th:classappend="${selectedMenuName}=='news'?'sel'"><a href="/news.html">新闻资讯</a></li>
            <li th:classappend="${selectedMenuName}=='video'?'sel'"><a href="/video.html">视频中心</a></li>
            <li th:classappend="${selectedMenuName}=='game'?'sel'"><a href="/game.html">赛事专区</a></li>
            <li th:classappend="${selectedMenuName}=='anchor'?'sel'"><a href="/anchor.html">主播专题</a></li>
            <li th:classappend="${selectedMenuName}=='picture'?'sel'"><a href="/picture.html">竞技美图</a></li>
        </ul>
    </div>
    <script>
        $(function () {
            $("input[name='searchSubmit']").click(function () {
                var keywords = $("input[name='keywords']").val();
                if (keywords == "" || keywords == "请输入您要搜索的关键字") {
                    alert("请输入关键字");
                    return;
                }
                var typeName = $(".search_change").text();
                var type = "all";
                if (typeName == "资讯") {
                    type = "news";
                } else if (typeName == "视频") {
                    type = "video";
                } else if (typeName == "赛事") {
                    type = "match";
                } else if (typeName == "主播") {
                    type = "anchor";
                } else if (typeName == "图集") {
                    type = "picture";
                }
                window.location.href = "/search_" + keywords + "_" + type + "_1.html";
            })
        });
    </script>
</div>