<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/wcg.css"/>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/wcg.js"></script>
    <script type="text/javascript" src="static/js/jquery.SuperSlide.2.1.1.js"></script>
    <title>电竞频道首页</title>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div style="height:41px; border-bottom:1px solid #ececec; width:100%; text-align:center;background:#fff"><img
        src="static/temp/top.png"/></div>

<!--head-->
<div class="general">
    <div class="pipaw_logo"><a href="http://www.pipaw.com/"><img
            src="http://www.pipaw.com/assets/newgamesite/img/logo.png"/></a> <span>电竞频道</span></div>
    <div class="ppw_search">
        <dl>
            <dt>
            <div class="search_change">全部</div>
            <div class="search_option"><span>网游</span> <span>单机</span> <span>礼包</span> <span>资讯</span></div>
            <input type="text" class="ppw_tx new_ppw_tx" onfocus="if(this.value=='请输入您要搜索的关键字'){this.value=''}"
                   onblur="if(this.value==''){this.value='请输入您要搜索的关键字'}" value="请输入您要搜索的关键字"/>
            <input type="button" class="ppw_bt" value="搜索"/>
            </dt>
            <dd><a href="###">WCA</a> <a href="###">LSPL</a> <a href="###">小苍</a> <a href="###">小智</a> <a
                    href="###">LPL</a> <a href="###">德玛西亚杯</a> <a href="###">徐老师来巡山</a></dd>
        </dl>
    </div>
</div>
<!--menu-->
<div class="general">
    <ul class="ppw_nav">
        <li class="sel"><a href="index.html">电竞首页</a></li>
        <li><a href="###">新闻资讯</a></li>
        <li><a href="static/video_list%20.html">视频中心</a></li>
        <li><a href="###">赛事专区</a></li>
        <li><a href="###">主播专题</a></li>
        <li><a href="###">竞技美图</a></li>
    </ul>
</div>
<!--赛事列表-->
<div class="general">
    <ul class="wcg_list">
        <li th:each="matchZone,iterStat:${matchZoneList}" th:class="${iterStat.index==3?'no_margin':''}">
            <div class="bg"></div>
            <div class="con">
                <p class="p1"><a href="#" th:text="${matchZone.name}">2015风暴英雄总决赛</a></p>
                <dl class="d1">
                    <dt><img th:if="${iterStat.index==0}"
                             th:each="matchTeam,iterStat:${matchZone.matchTeamList}"
                             th:img-src="/image/66x66${matchTeam.icoImage}"/></dt>
                    <dd>
                        <p class="p2"><img th:if="${iterStat.index!=0}"
                                           th:each="matchTeam,iterStat:${matchZone.matchTeamList}"
                                           th:img-src="/image/28x28${matchTeam.icoImage}"/>
                        <p class="p3"><em class="over" th:text="${matchZone.matchStatus.label}">已结束</em></p>
                    </dd>
                </dl>
            </div>
        </li>
    </ul>
</div>
<!--游戏列表-->
<div class="general slideBox icon_game01">
    <div class="game_list01 bd">
        <ul>
            <li><a href="#"><img src="static/temp/icon1.jpg"/><span>勇者大冒险</span></a></li>
            <li><a href="#"><img src="static/temp/icon2.jpg"/><span>王者之剑</span></a></li>
            <li><a href="#"><img src="static/temp/icon3.jpg"/><span>地铁跑酷</span></a></li>
            <li><a href="#"><img src="static/temp/icon4.jpg"/><span>天天爱闯关</span></a></li>
            <li><a href="#"><img src="static/temp/icon5.jpg"/><span>少年三国志</span></a></li>
            <li><a href="#"><img src="static/temp/icon6.jpg"/><span>全名炫舞</span></a></li>
            <li><a href="#"><img src="static/temp/icon1.jpg"/><span>勇者大冒险</span></a></li>
            <li><a href="#"><img src="static/temp/icon2.jpg"/><span>王者之剑</span></a></li>
            <li><a href="#"><img src="static/temp/icon3.jpg"/><span>地铁跑酷</span></a></li>
            <li><a href="#"><img src="static/temp/icon4.jpg"/><span>天天爱闯关</span></a></li>
            <li><a href="#"><img src="static/temp/icon1.jpg"/><span>勇者大冒险</span></a></li>
            <li><a href="#"><img src="static/temp/icon2.jpg"/><span>王者之剑</span></a></li>
            <li><a href="#"><img src="static/temp/icon3.jpg"/><span>地铁跑酷</span></a></li>
            <li><a href="#"><img src="static/temp/icon4.jpg"/><span>天天爱闯关</span></a></li>
            <li><a href="#"><img src="static/temp/icon5.jpg"/><span>少年三国志</span></a></li>
            <li><a href="#"><img src="static/temp/icon6.jpg"/><span>全名炫舞</span></a></li>
        </ul>
    </div>
    <div class="ppw_pr_bt ppw_pr_prev prev"></div>
    <div class="ppw_pr_bt ppw_pr_next next"></div>
</div>
<script type="text/javascript">
    jQuery(".slideBox").slide({
        mainCell: "ul",
        autoPlay: true,
        effect: "left",
        vis: 10,
        scroll: 1,
        autoPage: true,
        pnLoop: true
    })
</script>
<!--第三栏-->
<div class="general white clearfix">
    <div class="wcg_banner slideBox2">
        <div class="big_pic bd">
            <ul>
                <li th:each="advImage:${advImageList}"><a th:href="${advImage.url}" href="#"><img
                        th:img-src="/image/698x370${advImage.image}" th:alt="${advImage.name}"/><span><em
                        th:text="${advImage.name}">韩国《英雄联盟》代练爆料：Riot韩国公司受贿行为</em></span></a>
                </li>
            </ul>
        </div>
        <div class="wcg_force hd">
            <ul>
                <li class="on"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(".slideBox2").slide({
            mainCell: ".bd ul",
            effect: "leftLoop",
            autoPlay: true,
            delayTime: 1000,
            interTime: 3000
        });
    </script>
    <!--右边-->
    <div class="index_right">
        <!--<div class="index_tit">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<p class="p1" th:each="advWord,iterStat:${advWordList}" th:if="iterStat.index==0"><a th:href="${advWord.url}"-->
        <!--th:text="${advWord.name}">LPL第七周末日综述-->
        <!--VG.Endless狂暴五杀</a></p>-->
        <!--<p class="p2" th:each="advWord,iterStat:${advWordList}" th:if="iterStat.index==1"><a th:href="${advWord.url}" th:text="@{'['${advWord.name}']'}">[赛场外第七期：余震]</a><a href="#">[主题曲《英雄》首发]</a><a href="#">[预选位模式图文教程]</a></p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<p class="p1"><a href="#">VPGAME联赛将再升级：CDEC开放日赛</a></p>-->
        <!--<p class="p2"><a href="#">[V社考虑取消上海特锦赛]</a><a href="#">[Yao帝公告复出]</a><a-->
        <!--href="#">[xiao8回归加盟LGD战队]</a></p>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="index_con">
            <ul class="clearfix">
                <li class="hover" th:each="advWord:${advWordList}">
                    <span th:id="${advWord.id}">21</span>
                    <a th:href="${advWord.url}" class="a1" th:text="${advWord.name}">举手投足偶像范 阿狸粉红Party</a>
                    <a th:href="${advWord.url}" th:text="${advWord.name}">《秀你一脸》精确制导 弹无虚发</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<!--赛事列表2-->
<div class="general">
    <ul class="wcg_list_two">
        <li th:each="matchZone,iterStat:${matchZoneNewList}" th:class="${iterStat.index==2?'no_margin':''}">
            <p class="p1"><a href="#"><img th:img-src="/image/373X155${matchZone.icoImage}" th:alt="${matchZone.name}"/></a>
            </p>
            <p class="p2"><a href="#" th:text="${matchZone.name}">LPL2016英雄联盟职业联赛春季赛</a></p>
            <p class="p3"
               th:text="${'时间：'+#calendars.format(matchZone.startTime, 'yyyy-MM-dd')+' - '+#calendars.format(matchZone.endTime, 'yyyy-MM-dd')}">
                时间：2016.01.14 - 2016.04.10</p>
            <p class="p3"><span class="zt">状态：<em class="ing" th:text="${matchZone.matchStatus.label}">赛事进行中</em></span><span
                    th:text="${'赛区：'+matchZone.matchZoneAreaName}">赛区：全球</span>
            </p>
        </li>
    </ul>
</div>
<!--横条广告1-->
<div class="general"><a href="#" class="ad_heng"><img src="static/temp/banner1180.jpg"/></a></div>
<div class="general clearfix">
    <div class="index_tab_one">
        <!--推荐资讯tab-->
        <div class="tab_one">
            <ul>
                <li onMouseOver="setTab('one',1,5)" id="one1" class="hover">推荐资讯</li>
                <li onMouseOver="setTab('one',2,5)" id="one2">行业</li>
                <li onMouseOver="setTab('one',3,5)" id="one3">赛事</li>
                <!--<li onMouseOver="setTab('one',4,5)" id="one4">活动</li>-->
                <!--<li onMouseOver="setTab('one',5,5)" id="one5">人物</li>-->
            </ul>
        </div>
        <!--tab内容-->
        <div class="tab_one_con">
            <div class="tab_deatil" id="con_one_1" style="display:block">
                <ul>
                    <li th:each="info:${infoNewestList}">
                        <div class="d1"><a href="#"><img th:img-src="/image/204X108${info.titleImage}"
                                                         th:alt="${info.title}"/></a>
                        </div>
                        <div class="d2">
                            <p class="p1"><a href="#" th:text="${info.title}">iGirls战队处罚相关人员 恶意煽动队员离队将予以起诉</a></p>
                            <p class="p2"><a href="#" th:text="${info.infoZoneType.label}">行业新闻</a><em
                                    th:text="${#calendars.format(info.publishTime, 'MM-dd HH:mm')}">10-20
                                10:35</em>
                            </p>
                            <p class="p3" th:text="${info.subTitle}">
                                近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>
                        </div>
                    </li>
                </ul>
                <p class="add_more"><a href="#">查看更多</a></p>
            </div>

            <div class="tab_deatil" id="con_one_2">
                <ul>
                    <li th:each="info:${infoTradeList}">
                        <div class="d1"><a href="#"><img th:img-src="/image/204X108${info.titleImage}"
                                                         th:alt="${info.title}"/></a>
                        </div>
                        <div class="d2">
                            <p class="p1"><a href="#" th:text="${info.title}">iGirls战队处罚相关人员 恶意煽动队员离队将予以起诉</a></p>
                            <p class="p2"><a href="#" th:text="${info.infoZoneType.label}">行业新闻</a><em
                                    th:text="${#calendars.format(info.publishTime, 'MM-dd HH:mm')}">10-20
                                10:35</em>
                            </p>
                            <p class="p3" th:text="${info.subTitle}">
                                近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>
                        </div>
                    </li>
                </ul>
                <p class="add_more"><a href="#">查看更多</a></p>
            </div>
            <div class="tab_deatil" id="con_one_3">
                <ul>
                    <li th:each="info:${infoMatchZoneList}">
                        <div class="d1"><a href="#"><img th:img-src="/image/204X108${info.titleImage}"
                                                         th:alt="${info.title}"/></a>
                        </div>
                        <div class="d2">
                            <p class="p1"><a href="#" th:text="${info.title}">iGirls战队处罚相关人员 恶意煽动队员离队将予以起诉</a></p>
                            <p class="p2"><a href="#" th:text="${info.infoZoneType.label}">行业新闻</a><em
                                    th:text="${#calendars.format(info.publishTime, 'MM-dd HH:mm')}">10-20
                                10:35</em>
                            </p>
                            <p class="p3" th:text="${info.subTitle}">
                                近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>
                        </div>
                    </li>
                </ul>
                <p class="add_more"><a href="#">查看更多</a></p>
            </div>
            <!--<div class="tab_deatil" id="con_one_4">-->
            <!--<ul>-->
            <!--<li>-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list04.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">444《英雄联盟》选手UZI谈首秀：重归赛场后很开心</a></p>-->
            <!--<p class="p2"><a href="#">行业新闻</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list01.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">《英雄联盟》主播55开直播提车 引大量玩家围观</a></p>-->
            <!--<p class="p2"><a href="#">主播资讯</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list05.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">DOTA2冬季赛小蓝本彩蛋：新英雄深渊领主到来？</a></p>-->
            <!--<p class="p2"><a href="#">主播资讯</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list01.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">电竞火爆催生千万身价网红主播 娱乐明星也入局</a></p>-->
            <!--<p class="p2"><a href="#">主播资讯</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="no_border">-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list03.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">《英雄联盟》选手UZI谈首秀：重归赛场后很开心</a></p>-->
            <!--<p class="p2"><a href="#">主播资讯</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<p class="add_more"><a href="#">查看更多</a></p>-->
            <!--</div>-->
            <!--<div class="tab_deatil" id="con_one_5">-->
            <!--<ul>-->
            <!--<li>-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list02.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">55555《英雄联盟》选手UZI谈首秀：重归赛场后很开心</a></p>-->
            <!--<p class="p2"><a href="#">行业新闻</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list03.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">《英雄联盟》主播55开直播提车 引大量玩家围观</a></p>-->
            <!--<p class="p2"><a href="#">主播资讯</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list05.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">DOTA2冬季赛小蓝本彩蛋：新英雄深渊领主到来？</a></p>-->
            <!--<p class="p2"><a href="#">主播资讯</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list01.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">电竞火爆催生千万身价网红主播 娱乐明星也入局</a></p>-->
            <!--<p class="p2"><a href="#">主播资讯</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="no_border">-->
            <!--<div class="d1"><a href="#"><img src="static/temp/list03.jpg"/></a></div>-->
            <!--<div class="d2">-->
            <!--<p class="p1"><a href="#">《英雄联盟》选手UZI谈首秀：重归赛场后很开心</a></p>-->
            <!--<p class="p2"><a href="#">主播资讯</a><em>10-20 10:35</em></p>-->
            <!--<p class="p3">近日有不少玩家发现，《DOTA2》游戏内的饰品可以添加图片，如下图所示。目前仍然有许多人不知道如何操作，我们为大家提供一个简单的教程。</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<p class="add_more"><a href="#">查看更多</a></p>-->
            <!--</div>-->
        </div>
    </div>
    <!--right-->
    <div class="index_right_two">
        <!--明星战队 -->
        <div class="index_star">
            <div class="index_tit_two">
                <span class="text_right">明星战队</span>
                <ul class="arrow">
                    <li><a href="javascript:void(0)" class="prev"></a></li>
                    <li><a href="javascript:void(0)" class="next"></a></li>
                </ul>
            </div>
            <div class="qiehuan">
                <div class="inner">
                    <ul class="list_01">
                        <li th:each="matchTeam,iterStat:${starMatchTeamList}"
                            th:if="${iterStat.index==0||iterStat.index==1}"
                            th:class="${iterStat.odd==true?'no_border':''}">
                            <p class="p1"><a href="#"><span></span><img
                                    th:img-src="/image/106X106${matchTeam.icoImage}"/></a></p>
                            <p class="p2">
                                <span class="span01"><a href="#">Absolute Legends</a></span>
                                <span class="span02"><em>所属项目：</em><img src="static/temp/game01.jpg"/><img
                                        src="static/temp/game02.jpg"/></span>
                                <span class="span02"><em
                                        th:text="${'成立时间：'+#calendars.format(info.publishTime, 'yyyy年MM月dd日')}">成立时间：2014年11月20日</em></span>
                            </p>
                        </li>
                    </ul>
                    <ul class="list_01">
                        <li>
                            <p class="p1"><a href="#"><span></span><img src="static/temp/dj06.jpg"/></a></p>
                            <p class="p2">
                                <span class="span01"><a href="#">Orenda.luffy</a></span>
                                <span class="span02"><em>所属项目：</em><img src="static/temp/game02.jpg"/></span>
                                <span class="span02"><em>成立时间：2016年02月15日</em></span>
                            </p>
                        </li>
                        <li class="no_border">
                            <p class="p1"><a href="#"><span></span><img src="static/temp/dj04.jpg"/></a></p>
                            <p class="p2">
                                <span class="span01"><a href="#">HGT.KAKA.</a></span>
                                <span class="span02"><em>所属项目：</em><img src="static/temp/game01.jpg"/><img
                                        src="static/temp/game02.jpg"/></span>
                                <span class="span02"><em>成立时间：2015年01月03日</em></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--主播专题-->
        <div class="index_zhubo">
            <div class="index_tit_two">
                <span class="text_right">主播专题</span>
                <a href="#" class="more">更多</a>
            </div>
            <ul class="zhubo_list">
                <li>
                    <a href="#"><img src="static/temp/zbo01.jpg"/>
                        <p class="p1">LOL代练MOBA大神 美萌老鼠mayuyu</p></a>
                    <p class="p2">
                        <span>主播：<a href="#">小智脑残粉</a></span>
                        <span>人气：<em>58621032</em></span>
                    </p>
                </li>
                <li>
                    <a href="#"><img src="static/temp/zbo02.jpg"/>
                        <p class="p1">主播小苍：从解说转型直播 难舍游戏情</p></a>
                    <p class="p2">
                        <span>主播：<a href="#">小粉</a></span>
                        <span>人气：<em>58621032</em></span>
                    </p>
                </li>
            </ul>
        </div>
    </div>

</div>
<!--比赛视频-->
<div class="general white clearfix">
    <div class="index_tit_two title">
        <span class="text_left">比赛视频</span>
        <p class="link_nav"><a href="#">炉石传说</a>|<a href="#">虚荣</a>|<a href="#">全民枪战</a>|<a href="#">自由之战</a></p>
        <a href="#" class="more">更多</a>
    </div>
    <div class="index_video clearfix">
        <p class="index_video_left"><a href="#"><img
                src="static/temp/temp01.jpg"/><span>魔兽电影导演 正搭建黑暗之门场景《全民枪神》 爆破生死决战</span></a></p>
        <div class="index_video_right">
            <ul>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp03.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛炉石传说Top3</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp02.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">《虚荣》韩国pQq战队训练赛酒枪</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp03.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛全民枪战总决赛</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp02.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛 全民枪战北体决赛</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp03.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛全民枪战总决赛</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp02.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛 全民枪战北体决赛</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--主播解说-->
<div class="general white clearfix">
    <div class="index_tit_two title">
        <span class="text_left">主播解说</span>
        <p class="link_nav"><a href="#">周ZHOU</a>|<a href="#">神尾木铃</a>|<a href="#">血染春秋</a>|<a href="#">魔幻葬灵</a>|<a
                href="#">戴尔</a>|<a href="#">边边</a></p>
        <a href="#" class="more">更多</a>
    </div>
    <div class="index_video clearfix">
        <p class="index_video_left"><a href="#"><img
                src="static/temp/img03.jpg"/><span>魔兽电影导演 正搭建黑暗之门场景《全民枪神》 爆破生死决战</span></a></p>
        <div class="index_video_right">
            <ul>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp03.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛炉石传说Top3</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp02.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">《虚荣》韩国pQq战队训练赛酒枪</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp03.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛全民枪战总决赛</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp02.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛 全民枪战北体决赛</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp03.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛全民枪战总决赛</a>
                </li>
                <li>
                    <a href="#" class="img">
                        <img src="static/temp/temp02.jpg"/>
                        <p class="p1"><span>42:15</span></p>
                        <p class="p2"><em></em></p>
                    </a>
                    <a href="#" class="text">电竞校园联赛 全民枪战北体决赛</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--玩家视频-->
<div class="general game_user clearfix">
    <div class="index_tit_two title">
        <span class="text_left">玩家视频</span>
        <a href="#" class="more">更多</a>
    </div>
    <div class="index_video_right game_user_con">
        <ul>
            <li>
                <a href="#" class="img">
                    <img src="static/temp/temp03.jpg"/>
                    <p class="p1"><span>42:15</span></p>
                    <p class="p2"><em></em></p>
                </a>
                <a href="#" class="text">电竞校园联赛炉石传说Top3</a>
            </li>
            <li>
                <a href="#" class="img">
                    <img src="static/temp/temp02.jpg"/>
                    <p class="p1"><span>42:15</span></p>
                    <p class="p2"><em></em></p>
                </a>
                <a href="#" class="text">《虚荣》韩国pQq战队训练赛酒枪</a>
            </li>
            <li>
                <a href="#" class="img">
                    <img src="static/temp/temp03.jpg"/>
                    <p class="p1"><span>42:15</span></p>
                    <p class="p2"><em></em></p>
                </a>
                <a href="#" class="text">电竞校园联赛全民枪战总决赛</a>
            </li>
            <li>
                <a href="#" class="img">
                    <img src="static/temp/temp02.jpg"/>
                    <p class="p1"><span>42:15</span></p>
                    <p class="p2"><em></em></p>
                </a>
                <a href="#" class="text">电竞校园联赛 全民枪战北体决赛</a>
            </li>
            <li>
                <a href="#" class="img">
                    <img src="static/temp/temp03.jpg"/>
                    <p class="p1"><span>42:15</span></p>
                    <p class="p2"><em></em></p>
                </a>
                <a href="#" class="text">电竞校园联赛全民枪战总决赛</a>
            </li>
        </ul>
    </div>
</div>
<!--横条广告2-->
<div class="general"><a href="#" class="ad_heng"><img src="static/temp/banner1180.jpg"/></a></div>
<!--电竞排行榜-->
<div class="general index_rank">
    <div class="index_tit_two title"><span class="text_left">电竞排行榜</span></div>
    <ul class="index_rank_con clearfix">
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj02.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj01.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj03.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj04.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj05.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj06.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj03.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj05.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj06.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
        <li>
            <p class="p1"><a href="#"><span></span><img src="static/temp/dj04.jpg"/></a></p>
            <p class="p2">
                <span class="span01"><a href="#">风暴英雄</a></span>
                <span class="span02">人气：<em>41987</em></span>
            </p>
        </li>
    </ul>
</div>
<!--竞技美图 -->
<div class="general index_pic clearfix">
    <div class="index_tit_two title">
        <span class="text_left">竞技美图</span>
        <a href="#" class="more">更多</a>
    </div>
    <div class="index_pic_con">
        <ul class="ul1">
            <li><a href="#"><img src="static/temp/girl1.jpg"/>
                <p>黑发巨乳美少女宮浦三汐福利图集</p></a></li>
            <li><a href="#"><img src="static/temp/girl2.jpg"/>
                <p>黑发巨乳美少女宮浦三汐福利图集</p></a></li>
        </ul>
        <ul class="ul2">
            <li><a href="#"><img src="static/temp/girl5.jpg"/>
                <p>黑发巨乳美少女宮浦三汐福利图集</p></a></li>
        </ul>
        <ul class="ul1">
            <li><a href="#"><img src="static/temp/girl4.jpg"/>
                <p>黑发巨乳美少女宮浦三汐福利图集</p></a></li>
            <li><a href="#"><img src="static/temp/girl3.jpg"/>
                <p>黑发巨乳美少女宮浦三汐福利图集</p></a></li>
        </ul>
        <ul class="ul2">
            <li><a href="#"><img src="static/temp/girl6.jpg"/>
                <p>黑发巨乳美少女宮浦三汐福利图集</p></a></li>
        </ul>
    </div>
</div>


<!--线上琵琶网首页的foot，这里只是截图-->
<div style="width:100%; text-align:center"><img src="static/temp/foot.png" style="width:100%;"/></div>

</body>
</html>
