<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="${matchZone.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${matchZone.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${matchZone.seoDescription}"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('game')"></div>

<!--中间-->
<div th:replace="/view/game/game-head.html::top('index',${matchZone})"></div>

<!--比赛主题-->
<div class="bisaizhuti">
    <div class="zhutitop">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th colspan="4" th:text="${matchZone.name}">比赛主题：赛季英雄联盟职业联赛</th>
            </tr>

            <tr class="blod">
                <td class="imgshow" rowspan="2"><img th:img-src="/image/120x120${matchZone.icoImage}"
                                                     alt="${matchZone.name}"></td>
                <td>举办方</td>
                <td class="diqu">比赛地区</td>
                <td>比赛时间</td>
            </tr>
            <tr>
                <td class="gs" th:text="${matchZone.hostParty}">厦门市舜邦网络 科技有限公司</td>
                <td th:text="${matchZone.matchZoneAreaName}">中国</td>
                <td th:text="${#calendars.format(matchZone.startTime, 'yyyy-MM-dd')+' - '+#calendars.format(matchZone.endTime, 'yyyy-MM-dd')}">
                    2016.10.10- 2017.01-12
                </td>
            </tr>
        </table>
        <div class="zhuti-text">
            <p>比赛简介</p>
            <p th:text="${matchZone.introduction}">
                英雄联盟职业联赛（LPL）是国内《英雄联盟》最高级别的职业联赛，目前分为常规赛、季后赛、升降级赛三部分。十二支顶尖豪门战队将为赛季总冠军荣誉以及高额的赛事奖金继续展开争夺。常规赛将把LPL的12支队伍均分为两个小组，小组内将进行双循环比赛，不同小组间将进行单循环对抗。积分排名前八的战队将晋级季后赛，为赛季总冠军以及高额的赛事奖金继续展开争夺。另外，各队伍将根据积分与排名实力获得参加2017赛季世界总决赛的资格。</p>
        </div>
        <div class="zhuti-footer">
            <ul>
                <li th:each="matchZoneBonus,iterStat:${matchZoneBonusList}">
                    <div class="top-content">
                        <div class="jiangbei">
                            <img th:src="/static/img/gj1.png" th:alt="${matchZoneBonus.ranking}"
                                 th:if="${iterStat.index==0}">
                            <img th:alt="${matchZoneBonus.ranking}" th:alt="${matchZoneBonus.ranking}"
                                 th:if="${iterStat.index==1}"
                                 th:src="/static/img/yj1.png">
                            <img th:alt="${matchZoneBonus.ranking}" th:alt="${matchZoneBonus.ranking}"
                                 th:if="${iterStat.index==2}"
                                 th:src="/static/img/jj1.png">
                        </div>
                        <div class="jiangjin1" th:class="'jiangjin'+${iterStat.index+1}">
                            <p><b th:text="${matchZoneBonus.ranking}">冠军</b>（RMB）</p>
                            <p th:text="${matchZoneBonus.bonusFee}">500,000</p>
                            <span class="shuxian"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--参赛战队-->
<div class="takeItem" style="border-top: 2px solid #eaa000; margin-top: 2%;">
    <h2 style="color: #eaa000;
    padding: 2.8%;"> 参赛队伍</h2>
    <ul class="cansaizhanduixx">
        <li th:each="matchTeam:${matchTeamList}">
            <a th:href="/game/team/${matchZone.id}/">
                <img th:img-src="/image/182x137${matchTeam.icoImage}"
                     th:alt="${matchTeam.name}"
                     th:title="${matchTeam.name}" th:text="${matchTeam.name}">MVP</a></li>
    </ul>
</div>
<div class="footer-more" style="display: flex;
    justify-content: center;
    border-bottom: 1px solid #dadada;
    padding: 4% 0;">
    <a style="font-size: 13px; color: #808080;" th:href="/game/team/${matchZone.id}/"
       th:title="${matchZone.name}+'参赛队伍'">查看更多 <img style="width: 16%;" th:src="/static/img/morejt.png"
                                                     alt="查看更多"></a>
</div>
<!--比赛日程-->
<div class="bisairicheng">
    <h2>比赛日程</h2>
    <div class="wcgtime">
        <ul>
            <li>
                <span>时间</span>
                <span>战队</span>
                <span>状态</span>
            </li>
            <li th:each="matchZoneCalendar:${matchZoneCalendarList}">
                <span th:if="${matchZoneCalendar.startTime}"
                      th:utext="${#calendars.format(matchZoneCalendar.startTime, 'yyyy-MM-dd')}+' <strong>'+${#calendars.format(matchZoneCalendar.startTime, 'HH:mm')}+'</strong>'">2017-01-12 <strong>17:00</strong></span>
                <span>
                    <img th:img-src="/image/24x24${matchZoneCalendar.matchTeamOne.icoImage}"
                         th:alt="${matchZoneCalendar.matchTeamOne.name}">
                    <img th:src="/static/img/vs.png" alt="vs">
                    <img th:img-src="/image/24x24${matchZoneCalendar.matchTeamTwo.icoImage}"
                         th:alt="${matchZoneCalendar.matchTeamTwo.name}">
                </span>
                <span th:if="${matchZoneCalendar.startTime>nowTime}">
                   <em style="color:blue;" th:if="${matchZoneCalendar.startTime<nowTime}">未开始</em><br>
                        <em>敬请期待</em>
                </span>
                <span th:if="${matchZoneCalendar.startTime<nowTime}">
                    <em>已结束</em><br>
                        <a th:href="/game/video/${matchZone.id}/" th:title="${matchZone.name}+'比赛视频'">比赛视频</a>
                </span>
            </li>
        </ul>
    </div>
</div>
<!--赛事资讯-->
<div class="sszixun">
    <div class="second-content">
        <h2>赛事资讯</h2>
        <div class="tip" th:each="news,iterStat:${newsList}" th:if="${iterStat.index==0}">
            <div class="leftcontent">
                <img th:img-src="/image/204x108${news.titleImage}"
                     th:alt="${news.title}"
                     th:title="${news.title}">
            </div>
            <span><a href="#" th:title="${news.title}" th:href="/news/${news.id}.html" th:text="${news.title}">剑侠世界手游电脑版怎么玩不了
                电脑版正确下 载方式地址</a></span>
        </div>
        <div class="text-conten" style="border: none">
            <ul>
                <li th:each="news,iterStat:${newsList}" th:if="${iterStat.index>0}"><span
                        class="dian"></span><a th:text="${news.title}"
                                               th:title="${news.title}"
                                               th:href="/news/${news.id}.html">悟空说LPL：谁是赛场最强中野？</a></li>
            </ul>
        </div>
    </div>
</div>
<!--查看更多-->
<div class="footer-more"
     style="
      display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 4% 0;"
>
    <a style="color: #808080; font-size: 13px;" th:href="/game/news/${matchZone.id}/" th:title="${matchZone.name}+查看更多">查看更多
        <img style="width: 16%;"
             th:src="/static/img/morejt.png"
             alt=""></a>
</div>
<!--精彩视频-->
<div class="videoList" style=" border-top: 3px solid #eaa000; margin-top: 2%">
    <div class="moremsg">
        <p><span class="tips">精彩视频 </span></p>
    </div>
    <div class="videoshow" style=" padding-top: 2%;border-top: 1px solid #dadada;"><p></p>
        <ul>
            <li th:each="video:${videoList}">
                <a th:title="${video.title}"
                   th:href="/video/${video.id}.html">
                    <img th:img-src="/image/200x118${video.titleImage}"
                         th:alt="${video.title}"
                         th:title="${video.title}">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="${video.title}">
                </a>
                <div class="mengcheng"></div>
                <a th:title="${video.title}"
                   th:href="/video/${video.id}.html" th:text="${video.title}">小苍剑圣第一视角 细节成就五杀</a>
            </li>
        </ul>
    </div>
</div>
<!--查看更多-->
<div class="footer-more"
     style="
      display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 4% 0;"
>
    <a style="color: #808080; font-size: 13px;" th:href="/game/video/${matchZone.id}/"
       th:title="${matchZone.name}+查看更多">查看更多 <img style="width: 16%;" th:src="/static/img/morejt.png"></a>
</div>

<!--评论内容-->
<div th:replace="/comment.html::comment(${matchZone.id},${matchZone.name},${currentUrl})"></div>

<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/wcgp.js"></script>
<script th:src="/static/js/sszqHome.js"></script>
</body>
</html>
