<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<div class="eventInformation" th:fragment="top(selectedMenuName,matchZone)">
    <ul class="ystbsy" th:fragment="top(selectedMenuName,matchZone)">
        <li th:classappend="${selectedMenuName}=='index'?'action'">
            <a th:href="/game/${matchZone.id}/"
               th:text="${matchZone.name}"
               th:title="${matchZone.name}">首页</a><span
                th:styleappend="${selectedMenuName}=='index'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='news'?'action'">
            <a th:href="/game/news/${matchZone.id}/" th:title="${matchZone.name}+'资讯'">资讯</a>
            <span th:styleappend="${selectedMenuName}=='news'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='video'?'action'">
            <a th:href="/game/video/${matchZone.id}/" th:title="${matchZone.name}+'视频'">视频</a>
            <span th:styleappend="${selectedMenuName}=='video'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='team'?'action'">
            <a th:href="/game/team/${matchZone.id}/"
               th:title="${matchZone.name}+'战队'">战队</a>
            <span th:styleappend="${selectedMenuName}=='team'?'display: block;'"></span></li>
        <li th:classappend="${selectedMenuName}=='picture'?'action'">
            <a th:href="/game/picture/${matchZone.id}/" th:title="${matchZone.name}+'图集'">图集</a>
            <span th:styleappend="${selectedMenuName}=='picture'?'display: block;'"></span></li>
    </ul>
</div>