<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${matchZone.name}+'赛事图锦_'+${matchZone.name}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字"
          th:attr="content=${matchZone.name}+'赛事图片,比赛图片,战队照片,'+${matchZone.name}"/>
    <meta name="description"
          content="描述"
          th:attr="content=${matchZone.name}+'提供最新最全的'+${matchZone.name}+'赛事图片、比赛现场精彩图集、游戏截图，赛事图片，更多有关'+${matchZone.name}+'赛事图片、游戏图片尽在'+${siteName}+'（55djw.com）'+${matchZone.name}+'专区。'"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('game')"></div>
<!--中间-->
<div th:replace="/view/game/game-head.html::top('picture',${matchZone})"></div>
<!--比赛图集-->
<div class="bisaituju" style="background: #fff;">
    <ul id="newsListData">
        <li th:each="picture:${matchPictureList.list}"><a th:href="/picture/${picture.id}.html"
                                                          th:title="${picture.description}"><img
                th:img-src="/image/222x169${picture.image}"
                th:alt="${picture.description}" th:title="${picture.description}"></a><a
                th:text="${picture.description}"
                th:href="/picture/${picture.id}.html"
                th:title="${picture.description}">现场美女如云不容错过</a></li>
    </ul>
</div>

<!--加载更多-->
<div class="load_more" id="loadMore" th:if="${#lists.size(matchPictureList.list)>=matchPictureList.fetchSize}">
    <a href="javascript:;" onclick="getNewsList()">加载更多<span></span></a>
</div>
<div id="loadMoreCondition" style="display:none">
    <input type="hidden" id="offset" name="offset" th:value="${matchPictureList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${matchPictureList.fetchSize}">
    <input type="hidden" id="zoneId" name="zoneId" th:value="${matchZone.id}">
    <input type="hidden" id="pictureZoneType" name="pictureZoneType" value="matchZone">
    <input type="hidden" id="templateName" name="templateName" value="game-picture-list-template.html">
</div>

<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/game/game-picture-list.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
</body>
</html>