<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${matchZone.name}+'赛事资讯_'+${matchZone.name}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${matchZone.name}+'赛事报道,攻略资讯,'+${matchZone.name}"/>
    <meta name="description"
          content="描述"
          th:attr="content=${matchZone.name}+'提供最新最全的'+${matchZone.name}+'赛事直播、赛事报道、赛事资讯，'+${matchZone.name}+'资讯攻略，更多'+${matchZone.name}+'赛事资讯尽在'+${siteName}+'（55djw.com）'+${matchZone.name}+'专区。'"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('game')"></div>
<!--中间-->
<div th:replace="/view/game/game-head.html::top('news',${matchZone})"></div>

<!--专区首页-->
<div class="zhuanqushouye">
    <div class="tips">
        <p><a th:href="/">电竞首页</a><span>&gt;</span><a
                th:href="/game/${matchZone.id}/" th:text="${matchZone.name}">英雄联盟电竞专区</a><span>&gt;</span><em>赛事资讯</em>
        </p>
    </div>
    <div class="CompetitionDeta" id="newsListData">
        <div class="item" th:each="news:${newsList.list}">
            <div class="left-content">
                <a th:href="/news/${news.id}.html"
                   th:title="${news.title}"><img th:img-src="/image/193x113${news.titleImage}"
                                                 th:alt="${news.title}" th:title="${news.title}"></a>
            </div>
            <div class="right-content">
                <a th:href="/news/${news.id}.html"
                   th:title="${news.title}"><p th:text="${news.title}">lol6.20努努增强后怎么玩 S6雪人打野天 赋符文出装</p></a>
                <p th:text="${#calendars.format(news.publishTime, 'MM-dd HH:mm')}">10-12 09:43</p>
            </div>
        </div>
    </div>
</div>
<!--加载更多-->
<div class="load_more" id="loadMore" th:if="${#lists.size(newsList.list)>=newsList.fetchSize}">
    <a href="javascript:;" onclick="getNewsList()">加载更多<span></span></a>
</div>
<div id="loadMoreCondition" style="display:none">
    <input type="hidden" value="matchZone" id="infoZoneType.name" name="infoZoneType.name">
    <input type="hidden" id="offset" name="offset" th:value="${newsList.fetchSize}">
    <input type="hidden" id="fetchSize" name="fetchSize" th:value="${newsList.fetchSize}">
    <input type="hidden" value="game-news-list-template.html" id="templateName" name="templateName">
    <input type="hidden" th:value="${matchZone.id}" id="zoneId" name="zoneId">
    <input type="hidden" value="publishTime" id="sortName" name="sortName">
    <input type="hidden" value="true" id="sortIfDesc" name="sortIfDesc">
</div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/game/game-news-list.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
</body>
</html>