<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${info.seoTitle}+'_'+${matchZone.name}+'官网_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${info.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${info.seoDescription}"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('game')"></div>
<!--中间-->
<div th:replace="/view/game/game-head.html::top('video',${matchZone})"></div>

<div class="first-content">
    <p class="titletext"><a th:href="/">电竞首页</a>&gt;<a
            th:href="/game/${info.zoneId}/" th:text="${matchZone.name}">英雄联盟电竞专区</a>&gt;<a
            th:href="/game/video/${info.zoneId}/">赛事视频</a>&gt;正文</p>

    <div class="header-title">
        <h3 th:text="${info.title}">Doinb直面Swift QG能否四连胜？</h3>
        <p><span th:text="${#calendars.format(info.publishTime, 'yyyy-MM-dd')}">2017-01-11</span>
            <span class="author" th:text="' 作者：'+${info.author}"> 作者：官方</span>
        </p>
    </div>
    <div class="text-content" th:utext="${info.content}">
    </div>
</div>

<div class="sszixun">
    <div class="second-content">
        <h2>相关资讯</h2>
        <div class="tip" th:each="likeInfo,iterStat:${likeInfoList}" th:if="${iterStat.index==0}">
            <div class="leftcontent">
                <img th:src="/static/img/tips1.png" th:img-src="/image/154x90${likeInfo.titleImage}"
                     th:alt="${likeInfo.title}"
                     th:title="${likeInfo.title}"/>
            </div>
            <span><a th:text="${likeInfo.title}"
                     th:title="${likeInfo.title}"
                     th:href="/news/${likeInfo.id}.html">剑侠世界手游电脑版怎么玩不了 电脑版正确下 载方式地址</a></span>
        </div>
        <div class="text-conten" style="border: none">
            <ul>
                <li th:each="likeInfo,iterStat:${likeInfoList}" th:if="${iterStat.index>0}"><span class="dian"></span><a
                        th:text="${likeInfo.title}"
                        th:title="${likeInfo.title}"
                        th:href="/news/${likeInfo.id}.html">悟空说LPL：谁是赛场最强中野？</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--精选美图-->
<div class="wcgp-news-box">
    <div class="wcgp-news-tit">
        精选美图
        <a class="header-rightMore" th:href="/picture/" title="更多精选美图">更多+</a>
    </div>
    <div class="video-play">
        <ul>
            <li th:each="picture:${pictureTopList}">
                <a th:title="${picture.description}"
                   th:href="/picture/${picture.id}.html">
                    <img th:img-src="/image/335x225${picture.image}"
                         th:alt="${picture.description}"
                         th:title="${picture.description}">
                </a>
                <div class="mengcheng"></div>
                <a th:title="${picture.description}"
                   th:href="/picture/${picture.id}.html" th:text="${picture.description}">主播炸了132：miss被塔杀 魔兽爱抓胸杀</a>
            </li>
        </ul>
    </div>

</div>
<!--评论内容-->
<div th:replace="/comment.html::comment(${info.id},${info.title},${currentUrl})"></div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
</body>
</html>