<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>电竞赛事专区_游戏电竞赛事汇总_手游赛事专区_55电竞游戏网</title>
    <meta name="keywords" content="电竞,电子竞技,电竞比赛,电竞赛事,lol比赛,dota2比赛,炉石比赛,风暴英雄比赛"/>
    <meta name="description"
          content="55电竞游戏网提供王者荣耀、阴阳师、球球大作战、英雄联盟LOL比赛汇总频道，快速更新比赛资讯、日程，赛事安排、比赛直播、比赛战队、及视频录像等服务，更多精彩内容请关注55电竞游戏网。"/>
    <link rel="stylesheet" th:href="/static/css/CompetitionList.css">
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>

</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('game')"></div>

<!--中间-->
<div class="wrapper">
    <div class="Competition-header">
        <h3>赛事筛选</h3>
        <div class="tab-icon ">
            <ul id="tabUl">
                <li class="active">
                    <div class="tab-icon-content">
                        <img class="chengaeImg" th:src="/static/img/saish2-1.png" alt="地区">
                    </div>
                    <div>地区</div>
                    <span class="long-string"></span>
                    <div class="triangle">
                        <img th:src="/static/img/triangle.jpg" alt="地区">
                    </div>
                </li>
                <li>

                    <div class="tab-icon-content">
                        <img class="chengaeImg" th:src="/static/img/saish3.png" alt="时间">
                    </div>
                    <div>时间</div>
                    <span class="long-string"></span>
                    <div class="triangle" style="display: none;">
                        <img th:src="/static/img/triangle.jpg" alt="时间">
                    </div>
                </li>
                <li>
                    <div class="tab-icon-content">
                        <img class="chengaeImg" th:src="/static/img/saish4.png" alt="状态">
                    </div>
                    <div>状态</div>
                    <div class="triangle" style="display: none;">
                        <img th:src="/static/img/triangle.jpg" alt="状态">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="gamelist">
        <div class="gamelist1">
            <ul>
                <li th:classappend="${matchZoneAreaIdSelected}==0?'action'">
                    <a th:href="/game_new/${matchZoneYearIdSelected}/0/all_1.html">全部</a>
                </li>
                <li th:each="matchZoneArea:${matchZoneAreaList}"
                    th:classappend="${matchZoneAreaIdSelected}==${matchZoneArea.id}?'action'">
                    <a th:href="/game_new/${matchZoneYearIdSelected}/${matchZoneArea.id}/all_1.html"
                       th:title="${matchZoneArea.areaName}" th:text="${matchZoneArea.areaName}">比赛视频</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="gamelist" style="display: none;">
        <div class="gamelist1">
            <ul>
                <li th:classappend="${matchZoneYearIdSelected}==0?'action'">
                    <a th:href="/game_new/0/${matchZoneAreaIdSelected}/all_1.html"
                       th:classappend="${matchZoneYearIdSelected}==0?'action'">全部</a>
                </li>
                <li th:classappend="${matchZoneYearIdSelected}==${matchZoneYear.id}?'action'"
                    th:each="matchZoneYear:${matchZoneYearList}">
                    <a th:href="/game_new/${matchZoneYear.id}/${matchZoneAreaIdSelected}/all_1.html"
                       th:text="${matchZoneYear.yearName}" th:title="${matchZoneYear.yearName}">英雄联盟</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="gamelist" style="display: none;">
        <div class="gamelist1">
            <ul>
                <li th:classappend="${matchStatusSelected}=='all'?'action'">
                    <a th:href="/game_new/${matchZoneYearIdSelected}/${matchZoneAreaIdSelected}/all_1.html">全部</a>
                </li>
                <li th:classappend="${matchStatusSelected}==${matchStatus.name}?'action'"
                    th:each="matchStatus:${matchStatusList}">
                    <a th:href="/game_new/${matchZoneYearIdSelected}/${matchZoneAreaIdSelected}/${matchStatus.name}_1.html"
                       th:text="${matchStatus.label}" th:title="${matchStatus.label}">英雄联盟</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="Competition-data" id="newsListData">
        <div class="item" th:each="matchZone:${matchZoneList.list}">
            <div class="left-content">
                <a th:href="/game/${matchZone.id}/" th:title="${matchZone.name}">
                    <img th:img-src="/image/122x122${matchZone.icoImage}" th:alt="${matchZone.name}">
                    <img class="tipIco" th:src="/static/img/hdqidai.png" th:if="${matchZone.matchStatus.name=='START'}"
                         th:alt="${matchZone.matchStatus.label}">
                    <img class="tipIco" th:src="/static/img/hding.png" th:if="${matchZone.matchStatus.name=='DOING'}"
                         th:alt="${matchZone.matchStatus.label}">
                    <img class="tipIco" th:src="/static/img/hdover.png" th:if="${matchZone.matchStatus.name=='END'}"
                         th:alt="${matchZone.matchStatus.label}">
                </a>
            </div>
            <div class="right-content">
                <a th:href="/game/${matchZone.id}/" th:title="${matchZone.name}"><p th:text="${matchZone.name}">
                    lol6.20努努增强后怎么玩 S6雪人打野天 赋符文出装</p></a>
                <p th:text="${'时间：'+#calendars.format(matchZone.startTime, 'yyyy-MM-dd')+' - '+#calendars.format(matchZone.endTime, 'yyyy-MM-dd')}">
                    时间：2016.10.10-2017.01-12</p>
                <p class="sqc">赛区 ： <span><em th:text="${matchZone.matchZoneAreaName}">全球</em></span></p>
            </div>
            <a href="#" class="zright-content" th:href="/game/${matchZone.id}/" th:title="${matchZone.name}">
                进入专区
            </a>
        </div>
    </div>

    <div class="Competition-more" id="loadMore" th:if="${#lists.size(matchZoneList.list)>=matchZoneList.fetchSize}">
        <p><a href="javascript:;" onclick="getNewsList()">加载更多 <img th:src="/static/img/morejt.png" alt=""></a></p>
    </div>
    <div id="loadMoreCondition" style="display:none">
        <input type="hidden" value="0" id="matchZoneAreaId" name="matchZoneAreaId"
               th:value="${matchZoneAreaIdSelected}">
        <input type="hidden" value="all" id="matchStatus" name="matchStatus" th:value="${matchStatusSelected}">
        <input type="hidden" value="0" id="matchZoneYearId" name="matchZoneYearId"
               th:value="${matchZoneYearIdSelected}">
        <input type="hidden" id="offset" name="offset" th:value="${matchZoneList.fetchSize}">
        <input type="hidden" id="fetchSize" name="fetchSize" th:value="${matchZoneList.fetchSize}">
    </div>
</div>

<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>

<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
<script type="text/javascript" th:src="/static/js/CompetitionList.js"></script>
<script type="text/javascript" th:src="/static/js/game/game-list.js"></script>
</body>
</html>
