<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="${matchZone.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${matchZone.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${matchZone.seoDescription}"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('game')"></div>

<!--中间-->
<div class="eventInformation">
    <ul class="ystbsy">
        <li class="action"><a href="">首页</a><span style="display: block;"></span></li>
        <li><a href="">资讯</a><span></span></li>
        <li><a href="">视频</a><span></span></li>
        <li><a href="">战队</a><span></span></li>
        <li><a href="">图集</a><span></span></li>
        <li><a href="">攻略</a><span></span></li>
    </ul>
</div>

<!--比赛主题-->
<div class="bisaizhuti">
    <div class="zhutitop">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th colspan="4">比赛主题：赛季英雄联盟职业联赛</th>
            </tr>

            <tr class="blod">
                <td class="imgshow" rowspan="2"><img th:src="/static/img/css1.png" alt=""></td>
                <td>举办方</td>
                <td class="diqu">比赛地区</td>
                <td>比赛时间</td>
            </tr>
            <tr>
                <td class="gs">厦门市舜邦网络 科技有限公司</td>
                <td>中国</td>
                <td>2016.10.10- 2017.01-12</td>
            </tr>
        </table>
        <div class="zhuti-text">
            <p>比赛简介</p>
            <p>
                英雄联盟职业联赛（LPL）是国内《英雄联盟》最高级别的职业联赛，目前分为常规赛、季后赛、升降级赛三部分。十二支顶尖豪门战队将为赛季总冠军荣誉以及高额的赛事奖金继续展开争夺。常规赛将把LPL的12支队伍均分为两个小组，小组内将进行双循环比赛，不同小组间将进行单循环对抗。积分排名前八的战队将晋级季后赛，为赛季总冠军以及高额的赛事奖金继续展开争夺。另外，各队伍将根据积分与排名实力获得参加2017赛季世界总决赛的资格。</p>
        </div>
        <div class="zhuti-footer">
            <ul>
                <li>
                    <div class="top-content">
                        <div class="jiangbei">
                            <img th:src="/static/img/gj1.png" alt="">
                        </div>
                        <div class="jiangjin1">
                            <p><b>冠军</b>（RMB）</p>
                            <p>500,000</p>
                            <span class="shuxian"></span>
                        </div>
                    </div>
                    <div class="mengcheng">
                        <p>殿军100,000<span>（RMB）</span></p>
                        <span class="shuxian"></span>
                    </div>
                </li>
                <li>
                    <div class="top-content">
                        <div class="jiangbei">
                            <img th:src="/static/img/yj1.png" alt="">
                        </div>
                        <div class="jiangjin2">
                            <p><b>亚军</b>（RMB）</p>
                            <p>200,000</p>
                            <span class="shuxian"></span>
                        </div>
                    </div>
                    <div class="mengcheng">
                        <p>5-6名 50,000<span>（RMB）</span></p>
                        <span class="shuxian"></span>
                    </div>

                </li>
                <li>
                    <div class="top-content">
                        <div class="jiangbei">
                            <img th:src="/static/img/jj1.png" alt="">
                        </div>
                        <div class="jiangjin3">
                            <p><b>季军</b>（RMB）</p>
                            <p>100,000</p>
                        </div>
                    </div>
                    <div class="mengcheng">
                        <p>5-6名 25,000<span>（RMB）</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--参赛战队-->
<div class="takeItem" style="border-top: 2px solid #eaa000; margin-top: 2%;">
    <h2 style="color: #eaa000;
    padding: 2.8%;"> 参赛队伍</h2>
    <ul class="cansaizhanduixx">
        <li><a href=""><img th:src="/static/img/team1.png" alt="">MVP</a></li>
        <li><a href=""><img th:src="/static/img/team2.png" alt="">LD</a></li>
        <li><a href=""><img th:src="/static/img/team3.png" alt="">DS</a></li>
        <li><a href=""><img th:src="/static/img/team4.png" alt="">SNG</a></li>
        <li><a href=""><img th:src="/static/img/team5.png" alt="">GT</a></li>
        <li><a href=""><img th:src="/static/img/team6.png" alt="">Snake</a></li>
        <li><a href=""><img th:src="/static/img/team7.png" alt="">MVP</a></li>
        <li><a href=""><img th:src="/static/img/team8.png" alt="">LD</a></li>
    </ul>
</div>
<div class="footer-more"
     style="display: flex;
    justify-content: center;
    border-bottom: 1px solid #dadada;
    padding: 4% 0;"
>
    <a style="font-size: 13px; color: #808080;" href="">查看更多 <img style="width: 16%;" th:src="/static/img/morejt.png"
                                                                  alt=""></a>
</div>
<!--比赛日程-->
<div class="bisairicheng">
    <h2>比赛日程</h2>
    <div class="wcgtime">
        <ul>
            <li>
                <span>时间</span>
                <span>战队</span>
                <span>状态</span>
            </li>
            <li>
                <span>2017-01-12 <strong>17:00</strong></span>
                <span>
                    <img th:src="/static/img/xd1.png" alt="">
                    <img th:src="/static/img/vs.png" alt="">
                    <img th:src="/static/img/xd2.png" alt="">
                </span>
                <span>
                    <a href="">已结束</a><br>
                    <a href="">比赛视频</a>
                </span>
            </li>
            <li>
                <span>2017-01-12 <strong>18:00</strong> </span>
                <span>
                    <img th:src="/static/img/dx3.png" alt="">
                    <img th:src="/static/img/vs.png" alt="">
                    <img th:src="/static/img/dz4.png" alt="">
                </span>
                <span>
                    <a href="" style="color:blue;">未开始</a><br>
                    <a href="">敬请期待</a>
                </span>
            </li>
            <li>
                <span>2017-01-12 <strong>17:00</strong> </span>
                <span>
                     <img th:src="/static/img/xd1.png" alt="">
                    <img th:src="/static/img/vs.png" alt="">
                    <img th:src="/static/img/xd2.png" alt="">
                </span>
                <span>
                    <a href="">已结束</a><br>
                    <a href="">比赛视频</a>
                </span>
            </li>
            <li>
                <span>2017-01-12 <strong>18:00</strong> </span>
                <span>
                  <img th:src="/static/img/dx3.png" alt="">
                    <img th:src="/static/img/vs.png" alt="">
                    <img th:src="/static/img/dz4.png" alt="">
                </span>
                <span>
                    <a style="color:blue;" href="">未开始</a><br>
                    <a href="">敬请期待</a>
                </span>
            </li>
        </ul>
    </div>
</div>
<!--查看更多-->
<div class="footer-more"
     style="
      display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 4% 0;"
>
    <a style="color: #808080; font-size: 13px;" href="">查看更多 <img style="width: 16%;" th:src="/static/img/morejt.png"
                                                                  alt=""></a>
</div>
<!--赛事资讯-->
<div class="sszixun">
    <div class="second-content">
        <h2>赛事资讯</h2>
        <div class="tip">
            <div class="leftcontent">
                <img th:src="/static/img/tips1.png" alt="">
            </div>
            <span><a href="#">剑侠世界手游电脑版怎么玩不了 电脑版正确下 载方式地址</a></span>
        </div>
        <div class="text-conten" style="border: none">
            <ul>
                <li><span class="dian"></span><a href="">悟空说LPL：谁是赛场最强中野？</a></li>
                <li><span class="dian"></span><a href="">EDG能否夺得桂冠？IEM世界赛最终名单已确定</a></li>
                <li><span class="dian"></span><a href="">1分钟看完LPL次周比赛 NB新中单首秀掀翻EDG</a></li>
                <li><span class="dian"></span><a href="">LPL春季赛上周回顾 副班长逆袭领头羊</a></li>
                <li><span class="dian"></span><a href="">RYL无解阵容轻取胜利 SAT鏖战三场终获首胜</a></li>
                <li><span class="dian"></span><a href="">老外热议KT首败：道理我懂 为啥不禁卡蜜尔韩国</a></li>
            </ul>
        </div>
    </div>
</div>
<!--查看更多-->
<div class="footer-more"
     style="
      display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 4% 0;"
>
    <a style="color: #808080; font-size: 13px;" href="">查看更多 <img style="width: 16%;" th:src="/static/img/morejt.png"
                                                                  alt=""></a>
</div>
<!--精彩视频-->
<div class="videoList" style=" border-top: 3px solid #eaa000; margin-top: 2%">
    <div class="moremsg">
        <p><span class="tips">精彩视频 </span></p>
    </div>
    <div class="videoshow" style=" padding-top: 2%;border-top: 1px solid #dadada;"><p></p>
        <ul>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp1.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">小苍剑圣第一视角 细节成就五杀</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp2.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">比赛视频高清 rngvstsm比赛录像</a>
            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp3.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">主播炸了132：miss被塔杀 魔兽爱抓胸</a>

            </li>
            <li>
                <a href="">
                    <img th:src="/static/img/yxsp4.png" alt="">
                    <img class="playIoc" th:src="/static/img/playico.png" alt="">
                </a>
                <div class="mengcheng"></div>
                <a href="">程高能 s6总决赛八强对阵抽签现场</a>
            </li>
        </ul>
    </div>
</div>
<!--查看更多-->
<div class="footer-more"
     style="
      display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 4% 0;"
>
    <a style="color: #808080; font-size: 13px;" href="">查看更多 <img style="width: 16%;" th:src="/static/img/morejt.png"
                                                                  alt=""></a>
</div>
<!--用户评论-->


<div class="three-content">
    <form action="">
        <p class="tbys"><span>用户评论</span><span>(已有<b>33</b>条评论）</span></p>
        <textarea placeholder="请输入评论内容......" name="" id="" cols="30" rows="10"></textarea>
        <p><a href="">登录 | </a><a href=""> 注册</a> <input class="publish" type="submit" value="发表"></p>
    </form>
</div>

<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/wcgp.js"></script>
<script th:src="/static/js/sszqHome.js"></script>
</body>
</html>
