<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#" ui-sref="index">首页</a></li>
        <li><a href="#" ui-sref="sys-user.list">菜单管理</a></li>
        <li class="active" ng-if="id">添加菜单</li>
    </ol>

    <!--<h2 class="page-header">车型信息</h2>-->

    <form name="form" nclass="form-horizontal" ovalidate>
        <div class="well">
            <a href="" class="btn btn-primary" validation-submit="form" ng-click="updateSysMenu()">保存</a>
            <button class="btn btn-default" onClick="javascript :history.back(-1)">返回</button>
        </div>
        <div class="section form-horizontal">
            <table class="table">
                <tr>
                    <td width="10%">菜单归属：</td>
                    <td width="20%">
                        <select id="level1" ng-model="currentMenu1" name="level1"
                                ng-options="menu1.name for menu1 in menus1 track by menu1.uuid"
                                class="form-control">
                            <option value="">请选择一级菜单</option>
                        </select>
                        <select id="level2" ng-model="currentMenu2" name="level2"
                                ng-options="menu2.name for menu2 in menus2 track by menu2.uuid"
                                class="form-control">
                            <option value="">请选择二级菜单</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="10%">菜单名称：</td>
                    <td width="20%"><input class="form-control col-sm-1" type="text" ng-model="sysMenu.name"/></td>
                </tr>
                <tr>
                    <td width="10%">跳转链接：</td>
                    <td width="20%"><input class="form-control col-sm-1" type="text" ng-model="sysMenu.url"/></td>
                </tr>
                <tr>
                    <td width="10%">菜单排序：</td>
                    <td width="20%"><input class="form-control col-sm-1" type="text" ng-model="sysMenu.seq"/></td>
                </tr>
            </table>
        </div>
    </form>
</div>