<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
    <title th:text="${matchZone.name}+'赛事图锦_'+${matchZone.name}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字"
          th:attr="content=${matchZone.name}+'赛事图片,比赛图片,战队照片,'+${matchZone.name}"/>
    <meta name="description"
          content="描述"
          th:attr="content=${matchZone.name}+'提供最新最全的'+${matchZone.name}+'赛事图片、比赛现场精彩图集、游戏截图，赛事图片，更多有关'+${matchZone.name}+'赛事图片、游戏图片尽在'+${siteName}+'（55djw.com）'+${matchZone.name}+'专区。'"/>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div th:replace="/view/game/game-head.html::top('picture',${matchZone})"></div>
<!--面包屑-->
<div class="position" style="margin-left:120px;height: 26px;line-height: 26px;"><a href="/">电竞首页</a>&gt;<a
        th:href="/game/${matchZone.id}.html" th:text="${matchZone.name}">英雄联盟电竞专区</a>&gt;<em>赛事图集</em></div>


<div class="game_main_box">
    <div class="game_main_left">
        <div class="all_zixun">
            <div class="index_tit_two" style="margin-left:10px;"><span class="text_left"
                                                                       th:text="${matchZone.name}+'图集'">英雄联盟电竞资讯</span>
            </div>
            <!--瀑布流-->
            <div class="pubu_list" id="wrapper" style="border-bottom:0px;">
                <div class="zone-brand-list">
                    <div class="brand-bd cle" id="brand-waterfall">
                        <div class="item" id="brand-a" th:each="picture:${matchPictureList.list}">
                            <p class="p1"><a href="#" th:href="/picture/${picture.id}.html"
                                             th:title="${picture.description}"><img th:img-src="${picture.image}"
                                                                                    th:alt="${picture.description}"/></a>
                            </p>
                            <p class="p2"><a href="#" th:text="${picture.description}"
                                             th:href="/picture/${picture.id}.html"
                                             th:title="${picture.description}">LOL国服主播排行榜TOP8：第一名小智你们服不服？</a></p>
                            <p class="p3"><span class="time"
                                                th:text="${#calendars.format(picture.createTime, 'yyyy-MM-dd')}">2016-05-02</span><span
                                    class="eye" th:text="${picture.visitCount}">214321</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--页码-->
            <div th:replace="/pager.html::page(${matchPictureList.pageName},${matchPictureList.currentPage},${matchPictureList.totalPage})"></div>

        </div>


    </div>


    <div class="game_main_right">
        <div class="index_tit_two" style="height:320px;">
            <span class="text_left padding1">热门赛事</span>
            <a href="/game.html" target="_blank" class="more">更多</a>
            <div class="game_hot">
                <dl style="margin-top:20px;" th:each="matchZoneTop,iterStat:${matchZoneListTop}"
                    th:if="${iterStat.index==0}">
                    <a href="#" th:href="/game/${matchZoneTop.id}.html" th:title="${matchZoneTop.name}">
                        <img src="/static/img/game/ls01.jpg" th:img-src="/image/373x155${matchZoneTop.icoImage}"/>
                        <dt th:text="${matchZoneTop.name}">LPL2016英雄联盟职业联赛春季赛</dt>
                    </a>
                </dl>
                <dl style="margin-top:20px;margin-bottom:20px;" th:each="matchZoneTop,iterStat:${matchZoneListTop}"
                    th:if="${iterStat.index==1}">
                    <a href="#" th:href="/game/${matchZoneTop.id}.html" th:title="${matchZoneTop.name}">
                        <img src="/static/img/game/ls01.jpg" th:img-src="/image/373x155${matchZoneTop.icoImage}"/>
                        <dt th:text="${matchZoneTop.name}">LPL2016英雄联盟职业联赛春季赛</dt>
                    </a>
                </dl>
            </div>
        </div>
        <div class="index_tit_two" style="height:440px;">
            <span class="text_left padding1">热门资讯</span>
            <a href="/news.html" target="_blank" class="more">更多</a>
            <div class="game_zixun2">
                <ul class="hot_zixun">
                    <li th:each="newsTop:${topNewsList}"><a href="#" th:text="${newsTop.title}"
                                                            th:href="/game/news/${newsTop.id}.html"
                                                            th:title="${newsTop.title}">驰骋野区的风暴骑手：新版本打野人马攻略</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="index_tit_two">
            <span class="text_left padding1" style="margin-top:20px;">最新资讯</span>
            <a href="/news.html" target="_blank" class="more" style="margin-top:24px;">更多</a>
            <div class="game_zixun2">
                <ul class="hot_zixun">
                    <li th:each="news:${newestNewsList}"><a href="#" th:text="${news.title}"
                                                            th:href="/game/news/${news.id}.html"
                                                            th:title="${news.title}">驰骋野区的风暴骑手：新版本打野人马攻略</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="clear"></div>
</div>

<script>
    $(function () {
        $('#brand-waterfall').waterfall();
    });
    // 瀑布流插件
    // pannysp 2013.4.9
    (function ($) {
        $.fn.waterfall = function (options) {
            var df = {
                item: '.item',
                margin: 20,
                addfooter: true
            };
            options = $.extend(df, options);
            return this.each(function () {
                var $box = $(this), pos = [],
                        _box_width = $box.width(),
                        $items = $box.find(options.item),
                        _owidth = $items.eq(0).outerWidth() + options.margin,
                        _oheight = $items.eq(0).outerHeight() + options.margin,
                        _num = Math.floor(_box_width / _owidth);
                (function () {
                    var i = 0;
                    for (; i < _num; i++) {
                        pos.push([i * _owidth, 0]);
                    }
                })();
                $items.each(function () {
                    var _this = $(this),
                            _temp = 0,
                            _height = _this.outerHeight() + options.margin;

                    _this.hover(function () {
                        _this.addClass('hover');
                    }, function () {
                        _this.removeClass('hover');
                    });

                    for (var j = 0; j < _num; j++) {
                        if (pos[j][1] < pos[_temp][1]) {
                            //暂存top值最小那列的index
                            _temp = j;
                        }
                    }
                    this.style.cssText = 'left:' + pos[_temp][0] + 'px; top:' + pos[_temp][1] + 'px;';
                    //插入后，更新下该列的top值
                    pos[_temp][1] = pos[_temp][1] + _height;
                });

                // 计算top值最大的赋给外围div
                (function () {
                    var i = 0, tops = [];
                    for (; i < _num; i++) {
                        tops.push(pos[i][1]);
                    }
                    tops.sort(function (a, b) {
                        return a - b;
                    });
                    $box.height(tops[_num - 1]);
                    //增加尾部填充div
                    if (options.addfooter) {
                        addfooter(tops[_num - 1]);
                    }
                })();
                function addfooter(max) {
                    var addfooter = document.createElement('div');
                    addfooter.className = 'item additem';
                    for (var i = 0; i < _num; i++) {
                        if (max != pos[i][1]) {
                            var clone = addfooter.cloneNode(),
                                    _height = max - pos[i][1] - options.margin;
                            clone.style.cssText = 'left:' + pos[i][0] + 'px; top:' + pos[i][1] + 'px; height:' + _height + 'px;';
                            $box[0].appendChild(clone);
                        }
                    }
                }
            });
        }
    })(jQuery);</script>
<!--线上琵琶网首页的foot，这里只是截图-->
<div th:replace="/bottom.html::bottom"></div>
</body>
</html>
