<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
    <title>赛事专区首页</title>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div th:replace="/view/game/game-head.html::top('video',${matchZone})"></div>
<!--面包屑-->
<div class="position" style="margin-left:120px;height: 26px;line-height: 26px;"><a href="/">电竞首页</a>&gt;<a
        th:href="/game/${info.zoneId}.html" th:text="${matchZone.name}">英雄联盟电竞专区</a>&gt;<a
        th:href="/game/video-list/${info.zoneId}/page_1.html">赛事视频</a>&gt;<em th:text="${info.title}">赛事视频</em>
</div>
<div class="game_main_box">
    <div class="game_main_left">
        <div class="zixun_left_con clearfix game_gai">
            <div class="news_d_top">
                <p th:text="${info.title}">梦幻西游手游大唐修炼怎么点 大唐修炼选择优先顺序</p>
                来源：<a href="http://www.pipaw.com" th:text="${info.source}">www.pipaw.com</a>&nbsp;&nbsp;&nbsp;&nbsp;
                时间：<span th:text="${#calendars.format(info.publishTime, 'yyyy-MM-dd')}">2015-04-28</span> &nbsp;&nbsp;&nbsp;&nbsp;
                作者：<span th:text="${info.author}">晨落</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>评论：0条</span></div>
            <!--<div class="news_d_link"><a href="#"> <em>NO1.</em>天赋符文推荐： 极限追求伤害</a> <a href="#"> <em>NO2.</em>打法剖析：你好，我的名字叫猥琐</a>-->
            <!--<a href="#"> <em>NO3.</em>出装顺序：回声+传送门，带线天下无敌</a> <a href="#"> <em>NO4.</em>提升熟练度的方法：猥琐也需要练习</a> <a-->
            <!--href="#"> <em>NO5.</em>英雄克制与阵容选择：能拖能跑最适合</a> <a href="#"> <em>NO6.</em>英雄克制与阵容选择：能拖能跑最适合</a>-->
            <!--</div>-->
            <div class="new_d_font" th:utext="${info.content}">
            </div>
            <!--页码-->
            <!--<div class="newyiiPager">-->
            <!--<ol id="yw0" class="yiiPager">-->
            <!--<li>共2页：</li>-->
            <!--<li class="page hidden"><a href="">首页</a></li>-->
            <!--<li class="previous hidden"><a href="#">上一页</a></li>-->
            <!--<li class="page selected"><span>1</span></li>-->
            <!--<li class="page"><a href="#">2</a></li>-->
            <!--<li class="page"><a href="#">3</a></li>-->
            <!--<li class="page"><a href="#">4</a></li>-->
            <!--<li class="next"><a href="#">下一页</a></li>-->
            <!--<li class="last"><a href="#">末页</a></li>-->
            <!--</ol>-->
            <!--</div>-->
            <div class="detail_tag">
                <p class="p1">标签：<a href="#" th:each="tagTrade:${info.tagMappingWebList}"
                                    th:text="${tagTrade.name}">电竞</a></p>
                <div class="p2" style="width:400px;">
                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a> <a title="分享到QQ空间"
                                                                                                       href="#"
                                                                                                       class="bds_qzone"
                                                                                                       data-cmd="qzone"></a>
                        <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a> <a title="分享到腾讯微博" href="#"
                                                                                               class="bds_tqq"
                                                                                               data-cmd="tqq"></a> <a
                                title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a> <a title="分享到微信"
                                                                                                     href="#"
                                                                                                     class="bds_weixin"
                                                                                                     data-cmd="weixin"></a>
                    </div>
                    <script>
                        window._bd_share_config = {
                            "common": {
                                "bdSnsKey": {},
                                "bdText": "",
                                "bdMini": "2",
                                "bdPic": "",
                                "bdStyle": "0",
                                "bdSize": "16"
                            }, "share": {}
                        };
                        with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                    <span>分享到：</span></div>
                <p class="p1">上一篇：<a href="###" class="a1" th:if="${lastInfo!=null}" th:text="${lastInfo.title}"
                                     th:href="/news/${lastInfo.id}.html">天天酷跑地狱熊爵熊队长极速5000米对比</a><span
                        th:if="${lastInfo==null}">没有了</span></p>
                <p class="p3">下一篇：<a href="###" th:if="${nextInfo!=null}" th:text="${nextInfo.title}"
                                     th:href="/news/${nextInfo.id}.html">天天传奇战士搭配什么伙伴好战士阵容搭配推荐</a><span
                        th:if="${nextInfo==null}">没有了</span></p>
            </div>
        </div>
        <!--相关文章-->
        <div class="about_read clearfix">
            <div class="index_tit_two"><span class="text_left padding1">相关文章</span></div>
            <ul class="hot_zixun read_text">
                <li th:each="likeInfo:${likeInfoList}"><a href="#" th:text="${likeInfo.title}"
                                                          th:title="${likeInfo.title}"
                                                          th:href="/news/${likeInfo.id}.html">驰骋野区的风暴骑手：新版本打野人马攻略</a>
                </li>
            </ul>
        </div>
        <!--精选美图 -->
        <div class="about_pic clearfix">
            <div class="index_tit_two"><span class="text_left padding1">精选美图</span><a href="/picture.html"
                                                                                      target="_blank"
                                                                                      class="more">更多</a></div>
            <ul>
                <li th:each="picture:${pictureTopList}">
                    <a href="#" th:title="${picture.description}"
                       th:href="/picture/${picture.id}.html"><img src="/static/temp/girl1.jpg"
                                                                  th:img-src="/image/234x148${picture.image}"
                                                                  th:alt="${picture.description}"/>
                        <p><span th:text="${picture.description}">最美拉克丝COS 水灵大眼神似小鹿斑比</span></p></a>
                </li>
            </ul>
        </div>
        <!--用户评论-->
        <div th:replace="/comment.html::comment(${info.id},${info.title},${currentUrl})"></div>

    </div>


    <div class="game_main_right">

        <div class="index_tit_two" style="height:320px;">
            <span class="text_left padding1">热门赛事</span>
            <a href="game.html" target="_blank" class="more">更多</a>
            <div class="game_hot">
                <dl style="margin-top:20px;" th:each="matchZoneTop,iterStat:${matchZoneListTop}"
                    th:if="${iterStat.index==0}">
                    <a href="#" th:title="${matchZoneTop.name}"
                       th:href="/game/${matchZoneTop.id}.html">
                        <img src="/static/img/game/ls01.jpg" th:img-src="/image/373x155${matchZoneTop.icoImage}"/>
                        <dt th:text="${matchZoneTop.name}">LPL2016英雄联盟职业联赛春季赛</dt>
                    </a>
                </dl>
                <dl style="margin-top:20px;margin-bottom:20px;" th:each="matchZoneTop,iterStat:${matchZoneListTop}"
                    th:if="${iterStat.index==1}">
                    <a href="#" th:title="${matchZoneTop.name}"
                       th:href="/game/${matchZoneTop.id}.html">
                        <img src="/static/img/game/ls01.jpg" th:img-src="/image/373x155${matchZoneTop.icoImage}"/>
                        <dt th:text="${matchZoneTop.name}">LPL2016英雄联盟职业联赛春季赛</dt>
                    </a>
                </dl>
            </div>
        </div>
        <div class="index_tit_two" style="height:442px;">
            <span class="text_left padding1">热门资讯</span>
            <a href="/news.html" target="_blank" class="more">更多</a>
            <div class="game_zixun2">
                <ul class="hot_zixun">
                    <li th:each="newsTop:${topNewsList}"><a href="#" th:text="${newsTop.title}"
                                                            th:title="${newsTop.title}"
                                                            th:href="/game/news/${newsTop.id}.html">驰骋野区的风暴骑手：新版本打野人马攻略</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="index_tit_two">
            <span class="text_left padding1" style="margin-top:20px;">最新资讯</span>
            <a href="/news.html" target="_blank" class="more" style="margin-top:24px;">更多</a>
            <div class="game_zixun2">
                <ul class="hot_zixun">
                    <li th:each="news:${newestNewsList}"><a href="#" th:text="${news.title}" th:title="${news.title}"
                                                            th:href="/game/news/${news.id}.html">驰骋野区的风暴骑手：新版本打野人马攻略</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>


<!--线上琵琶网首页的foot，这里只是截图-->
<div th:replace="/bottom.html::bottom"></div>

</body>
</html>
