<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <title>电竞赛事专区_游戏电竞赛事汇总_手游赛事专区_55电竞游戏网</title>
    <meta name="keywords" content="电竞,电子竞技,电竞比赛,电竞赛事,lol比赛,dota2比赛,炉石比赛,风暴英雄比赛"/>
    <meta name="description"
          content="55电竞游戏网提供王者荣耀、阴阳师、球球大作战、英雄联盟LOL比赛汇总频道，快速更新比赛资讯、日程，赛事安排、比赛直播、比赛战队、及视频录像等服务，更多精彩内容请关注55电竞游戏网。"/>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div th:replace="/head.html::top('game')"></div>

<div class="general">
    <!--面包屑-->
    <div class="position"><a href="/">电竞首页</a>&gt;<em>赛事列表</em></div>
    <!--赛事筛选-->
    <div class="list_choose">
        <div class="index_tit_two title"><span class="text_left">赛事筛选</span></div>
        <div class="list_choose_con">
            <!--<dl>-->
            <!--<dt>游戏</dt>-->
            <!--<dd class="dd1"><a href="#" class="hover">全部</a><a href="#">英雄联盟</a><a href="#">DOTA2</a><a href="#">炉石传说</a><a-->
            <!--href="#">风暴英雄</a><a href="#">自由之战</a><a href="#">王者荣耀</a><a href="#">全民枪战</a><a-->
            <!--href="#">虚荣</a><a href="#">自由之战</a><span>More</span></dd>-->
            <!--<dd class="dd2">-->
            <!--<a href="#">Raven掠夺者</a><a href="#">大话西游手游</a><a href="#">炉石传说</a><a href="#">风暴英雄</a><a href="#">自由之战</a><a-->
            <!--href="#">王者荣耀</a><a href="#">全民枪战</a><a href="#">虚荣</a><a href="#">自由之战</a><a-->
            <!--href="#">炉石传说</a><a href="#">风暴英雄</a><a href="#">自由之战</a><a href="#">王者荣耀</a><a-->
            <!--href="#">全民枪战</a>-->
            <!--</dd>-->
            <!--</dl>-->
            <dl>
                <dt>地区</dt>
                <dd class="dd1"><a
                        th:href="/game_${pageFlag}/${matchZoneYearIdSelected}/0/all_${matchZoneList.currentPage}.html"
                        th:classappend="${matchZoneAreaIdSelected}==0?'hover'">全部</a><a
                        th:each="matchZoneArea:${matchZoneAreaList}"
                        th:href="/game_${pageFlag}/${matchZoneYearIdSelected}/${matchZoneArea.id}/all_${matchZoneList.currentPage}.html"
                        th:text="${matchZoneArea.areaName}"
                        th:classappend="${matchZoneAreaIdSelected}==${matchZoneArea.id}?'hover'">全球</a></dd>
            </dl>
            <dl>
                <dt>时间</dt>
                <dd class="dd1"><a
                        th:href="/game_${pageFlag}/0/${matchZoneAreaIdSelected}/all_${matchZoneList.currentPage}.html"
                        th:classappend="${matchZoneYearIdSelected}==0?'hover'">全部</a><a
                        th:each="matchZoneYear:${matchZoneYearList}"
                        th:href="/game_${pageFlag}/${matchZoneYear.id}/${matchZoneAreaIdSelected}/all_${matchZoneList.currentPage}.html"
                        th:text="${matchZoneYear.yearName}"
                        th:classappend="${matchZoneYearIdSelected}==${matchZoneYear.id}?'hover'">2016</a>
                </dd>
            </dl>
            <dl>
                <dt>状态</dt>
                <dd class="dd1"><a
                        th:href="/game_${pageFlag}/${matchZoneYearIdSelected}/${matchZoneAreaIdSelected}/all_${matchZoneList.currentPage}.html"
                        th:classappend="${matchStatusSelected}=='all'?'hover'">全部</a><a
                        th:each="matchStatus:${matchStatusList}"
                        th:href="/game_${pageFlag}/${matchZoneYearIdSelected}/${matchZoneAreaIdSelected}/${matchStatus.name}_${matchZoneList.currentPage}.html"
                        th:text="${matchStatus.label}"
                        th:classappend="${matchStatusSelected}==${matchStatus.name}?'hover'">正在进行</a></dd>
            </dl>

        </div>
    </div>
    <!--最新最热-->
    <div class="list_tab_one">
        <div class="tab_two">
            <ul>
                <li th:classappend="${#strings.startsWith(matchZoneList.pageName,'/game_new')}?'hover'"><a
                        href="/game_new/0/0/all_1.html"><span>最新</span></a></li>
                <li th:classappend="${#strings.startsWith(matchZoneList.pageName,'/game_top')}?'hover'">
                    <a
                            href="/game_top/0/0/all_1.html"><span>最热</span></a></li>
            </ul>
        </div>
        <div id="con_one_1" style="display:block">
            <div style="margin-top:22px;">
                <div class="game_report" th:each="matchZone:${matchZoneList.list}">
                    <div class="report_logo" th:if="${matchZone.matchStatus.name=='START'}">
                        <span th:text="${matchZone.matchStatus.label}">正在<br/>进行</span>
                    </div>
                    <div class="report_logo" th:if="${matchZone.matchStatus.name=='END'}"
                         style="background:url(/static/img/game/game_list2.png) no-repeat;">
                        <span th:text="${matchZone.matchStatus.label}">正在<br/>进行</span>
                    </div>
                    <div class="report_logo" th:if="${matchZone.matchStatus.name=='DOING'}"
                         style="background:url(/static/img/game/game_list3.png) no-repeat;">
                        <span th:text="${matchZone.matchStatus.label}">正在<br/>进行</span>
                    </div>
                    <div class="game_report_main">
                        <a href="#" th:href="/game/${matchZone.id}.html" th:title="${matchZone.name}" target="_blank">
                            <h1
                                    th:text="${matchZone.name}">LPL第七周末日综述
                                VG.Endless狂暴五杀</h1></a>
                        <dl>
                            <dt>赛区：<em th:text="${matchZone.matchZoneAreaName}">全球</em></dt>
                            <span th:text="${'时间：'+#calendars.format(matchZone.startTime, 'yyyy-MM-dd')+' - '+#calendars.format(matchZone.endTime, 'yyyy-MM-dd')}">时间：2016.01.14-2016.04.10</span>
                        </dl>
                        <ul th:text="${matchZone.introduction}">
                            本赛季LPL春季赛将采用全新的分组赛制进行比赛，12支LPL队伍被平分到A、B两个组别中进行常规赛。每周将进行十场BO3，共十周，<br/>
                            其中有四个周日首场轮空，共96场BO3。
                        </ul>

                    </div>
                    <a href="#" th:href="/game/${matchZone.id}.html" th:title="${matchZone.name}" target="_blank">
                        <div class="goin">进入专区</div>
                    </a>
                    <div class="line"></div>
                    <div class="clear"></div>
                </div>
            </div>


            <!--页码-->
            <div th:replace="/pager.html::page(${matchZoneList.pageName},${matchZoneList.currentPage},${matchZoneList.totalPage})"></div>
        </div>
    </div>
</div>


<div th:replace="/bottom.html::bottom"></div>

</body>
</html>
