<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title th:text="${info.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${info.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${info.seoDescription}"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" th:href="/static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('news')"></div>

<!--中间-->
<div class="first-content" style="margin-top: 3%; border-top: 2px solid #eaa000;">
    <p class="titletext"><a th:href="">电竞首页</a><span>&gt;</span><a th:href="/news/">全部资讯</a><span>&gt;</span><a
            th:if="${info.infoZoneType.name}=='trade'" th:href="/news_trade_1.html">行业新闻</a><a
            th:if="${info.infoZoneType.name}=='matchZone'" th:href="/news_game_1.html">赛事新闻</a><a
            th:if="${info.infoZoneType.name}=='anchorZone'" th:href="/news_anchor_1.html">主播新闻</a><span>&gt;</span>正文</p>

    <div class="header-title">
        <h3 th:text="${info.title}">2017LPL春季赛常规赛回放NB VS QG 第二场</h3>
        <p><span th:text="${#calendars.format(info.publishTime, 'yyyy-MM-dd')}">2017-01-11</span>
            <span class="author" th:text="' 作者：'+${info.author}"> 作者：官方</span>
        </p>
    </div>
    <div class="text-content" th:utext="${info.content}">
    </div>
</div>

<div class="second-content">
    <h2>相关资讯</h2>
    <div class="text-conten">
        <ul>
            <li th:each="likeInfo,iterStat:${likeInfoList}"><span class="dian"></span><a
                    th:text="${likeInfo.title}"
                    th:title="${likeInfo.title}"
                    th:href="/news/${likeInfo.id}.html">悟空说LPL：谁是赛场最强中野？</a>
            </li>
        </ul>
    </div>
</div>
<!--评论内容-->
<div th:replace="/comment.html::comment(${info.id},${info.title},${currentUrl})"></div>
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div th:replace="/bottom.html::tipTop"></div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
</body>
</html>