<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>游戏新闻资讯_55电竞游戏网</title>
    <meta name="keywords" content="网游资讯,游戏新闻,网游活动,热门网游,55电竞游戏网"/>
    <meta name="description"
          content="55电竞游戏网新闻资讯栏目，为您第一时间发布国内外最新最有价值的游戏新闻，包括王者荣耀直播、球球大作战直播、阴阳师直播及英雄联盟lol等赛事新闻，热门网游活动和游戏周边八卦等，更多精彩内容请关注55电竞游戏网。"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/gp.css" th:href="static/css/gp.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/VSEC.css" th:href="static/css/VSEC.css"/>
</head>
<body>
<!--头部1-->
<!--头部1-->
<header th:replace="/head.html::top"></header>
<!--导航1-->
<div th:replace="/head.html::nav('news')"></div>

<!--中间-->
<div class="zhuanqushouye" style="border: none; margin-top: 2%;">
    <div class="hangye">
        <ul>
            <li th:classappend="${infoList.pageName}=='/news_trade'?'action'"><a
                    th:href="/news_trade_1.html">行业</a></li>
            <li th:classappend="${infoList.pageName}=='/news_match'?'action'"><span class="long-string"></span><a
                    th:href="/news_match_1.html">赛事</a></li>
            <li th:classappend="${infoList.pageName}=='/news_anchor'?'action'"><span class="long-string"></span><a
                    th:href="/news_anchor_1.html">主播</a></li>
        </ul>
    </div>
    <div style="margin-top: -1.3%">
        <div class="CompetitionDeta" style="padding-bottom: 1%;" id="newsListData">
            <div class="item" th:each="info:${infoList.list}">
                <div class="left-content">
                    <a th:href="/news/${info.id}.html" th:title="${info.title}">
                        <img src="../../static/img/zxt1.png"
                             th:img-src="/image/275x161${info.titleImage}" th:alt="${info.title}"
                             th:title="${info.title}"></a>
                </div>
                <div class="right-content">
                    <a th:href="/news/${info.id}.html" th:title="${info.title}"><p th:text="${info.title}">
                        lol6.20努努增强后怎么玩 S6雪人打野天 赋符文出装</p></a>
                    <p><span th:text="${info.infoZoneType.label}">行业</span>
                        <span class="time"
                              th:text="${#calendars.format(info.publishTime, 'MM-dd HH:mm')}">10-12 09:43</span>
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
<!--加载更多-->
<div class="footer-more more-other" id="loadMore">
    <a style="color: #808080; font-size: 13px;" href="javascript:;" onclick="getNewsList()">加载更多 <img
            style="width: 16%;"
            th:src="/static/img/morejt.png"></a>
</div>
<input type="hidden" value="trade" th:if="${infoList.pageName}=='/news_trade'" id="zoneType" name="zoneType">
<input type="hidden" value="matchZone" th:if="${infoList.pageName}=='/news_match'" id="zoneType" name="zoneType">
<input type="hidden" value="anchorZone" th:if="${infoList.pageName}=='/news_anchor'" id="zoneType" name="zoneType">
<input type="hidden" id="offset" name="offset" th:value="${infoList.fetchSize}">
<!--底部导航-->
<nav th:replace="/bottom.html::footerNav"></nav>
<!--TOP-->
<div class="tipTop backtop">
    TOP ∧
</div>
<!--底部-->
<footer th:replace="/bottom.html::footer"></footer>
<script type="text/javascript" th:src="/static/js/jquery.js"></script>
<script type="text/javascript" th:src="/static/js/wcgp.js"></script>
<script type="text/javascript" th:src="/static/js/news/news-list.js"></script>
<script type="text/javascript" th:src="/static/js/main.js"></script>
<script type="text/javascript" th:src="/static/js/layer/layer.js"></script>
</body>
</html>
