html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    background-color: rgb(242, 242, 242);

}

/*参赛战队*/
.eventInformation {
    width: 99%;
    padding: 3% 0;
}

.eventInformation ul {
    width: 100%;
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-direction: row;
    justify-content: space-around;
    /*padding: 1rem 0.1rem 0.2rem 0;*/
}

.eventInformation ul li {
    width: 20%;
    padding: 0.5% 2px 0.6% 2px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #dadada;
    position: relative;
    background-color: #fff;
    line-height: 2rem;
    border-radius: 3px;
}

.ancy-width5 ul li {
    width: 16% !important;
}

.eventInformation ul li span {
    background: url(../img/xbxsj.png) no-repeat;
    background-size: 10px auto;
    width: 10px;
    height: 6px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin: 0 0 0 -3px;
    display: none;
}

.eventInformation ul li a {
    color: rgb(102, 102, 102);
    text-decoration: none;
    display: block;
}

.eventInformation ul li.action {
    height: 2rem;
    color: #eaa000;
    border: 1px solid #eaa000;
}

.eventInformation ul li.action a {
    color: #eaa000;
}

.takeItem {
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding-bottom: 1rem;
    background-color: #fff;
}

.takeItem ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-wrap: wrap;
    text-align: center;
}

.takeItem ul li {
    margin: 0 0 18px 11.2px;
    width: 29%;

}

.takeItem ul li a {
    color: #7d7d7d;
    font-size: 13px;
}

.takeItem ul li img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 9%;
}

.takeItem .tab {
    width: 100%;
    clear: both;
    margin-bottom: 1.2rem;
}

.takeItem .tab ul {
    clear: both;
    width: 100%;
}

.takeItem .tab ul li {
    margin-left: 0;
    margin-bottom: 0;
    /*padding: 1.4rem 0;*/
    padding: 1rem 0;
    float: left;
    width: 49.6446%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #eaa000;
}

.takeItem .tab ul li.action {
    border: 1px solid #ebebeb;
    color: #999999;
}

/*专区首页*/
.zhuanqushouye {
    -display: none;
    background-color: #fff;
}

.zhuanqushouye .tips {
    padding: 1rem 0 1rem;
    text-indent: 0.6rem;
    color: rgb(102, 102, 102);
}

.CompetitionDeta {
    width: 99%;
    /*border-top: 1px solid #dadada;*/
    /*border-bottom: 1px solid #dadada;*/
    padding-bottom: 1rem;
}

@media screen and (max-width: 20rem) {
    .Competition p {
        margin: 20% 0 4% 30%;
    }
}

.Competition p img {
    width: 99%;
    max-width: 100%;
    display: block;
    height: auto;
}

.CompetitionDeta .item {
    margin: 4px;
    width: 99%;
    clear: both;
    padding: 3% 0 25% 0;
}

.CompetitionDeta .item + .item {
    border-top: 1px dashed #dadada;
}

.CompetitionDeta .item .left-content {
    float: left;
    width: 45%;
}

.CompetitionDeta .item .left-content img {
    width: 85%;
    height: auto;
}

.CompetitionDeta .item .right-content {
    float: right;
    width: 55%;
    color: #000;
    font-size: 13px;
}

.CompetitionDeta .item .right-content p + p {
    margin-top: 1.3rem;
}

@media screen and (max-width: 20rem) {
    .CompetitionDeta .item .right-content {
        line-height: 1.4rem;
    }
}

.CompetitionDeta .item .right-content p span {
    color: rgb(64, 95, 255);
}

.CompetitionDeta .item .right-content p:nth-child(2) {
    color: rgb(179, 179, 179);
}

/*右边的more+*/
.header-rightMore {
    float: right;
    font-size: 9pt;
    color: #808080 !important;
    font-weight: normal;
    margin-right: 8pt;
}

/*视频播放*/
.video-play {
    width: 100%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.video-play ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-wrap: wrap;
}

.video-play ul li {
    width: 47.6%;
    /*margin:  0 0 2% 1.7%;*/
    margin: 0 0 7px 1.7%;
    text-align: center;
    position: relative;
}

.video-play ul li img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.video-play ul li p {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 22%;
    left: 0;
    color: #ffffff;
    padding: 6% 0;
    font-size: 12px;
}

.video-play ul li a:last-child {
    color: #fff;
    position: absolute;
    bottom: 5.1%;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
    text-align: center;
    display: block;
}

.video-play ul li img.playIoc {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 17% !important;
    height: auto;;
}

/*
* * 比赛图集
*/
/*直角蒙层*/
.mengcheng {
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 1px;
    left: 0;
    color: #ffffff;
    padding: 7.4% 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.5;
}

.bisaituju {
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding-bottom: 8%;
}

.bisaituju ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    -webkit-flex-wrap: wrap;

}

.bisaituju ul li {
    width: 31%;
    /*margin: 5% 0 0 2%;*/
    margin: 10px 0 0 1.7%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;

}

.bisaituju ul li img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 8%;
}

.bisaituju ul li a {
    color: rgb(46, 46, 47);
}

/*新闻详情页*/
.first-content {
    color: rgb(133, 133, 133);
    line-height: 2.5rem;
    border-bottom: 1px solid #d5d9da;
    padding-bottom: 1rem;
    background-color: #fff;
    margin-bottom: 3%;
    border-top: 2px solid #eaa000;
}

.first-content p.titletext {
    font-size: 1.3rem;
    border-bottom: 1px solid #d5d9da;
    color: #777777;
    padding: 2%;
}

.first-content p.titletext span {
    padding: 0 3px;
}

.first-content .header-title {
    text-align: center;
    /*border-bottom: 1px dashed #d5d9da;*/
}

.first-content .header-title h3 {
    color: #eaa000;
    font-size: 1.5rem;
    padding-top: 2.6%;
}

.first-content .header-title p {
    text-align: center;
    color: #aeaeae;
    margin-bottom: 1.2%;
}

.first-content .header-title span.author {
    margin-left: 8%;
}

.first-content .text-content .img-content {
    width: 92%;
    margin: 0 auto;

}

.first-content .text-content img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 3%;
}

.first-content .text-content p {
    font-size: 14px;
    line-height: 25px;
    color: #666;
    font-weight: normal;
    margin: 3% 3% 0 2%;
}

.second-content {
    border-top: 2px solid #eaa000;
    background-color: #fff;
}

.second-content h2 {
    color: #eaa000;
    margin: 2% 0 3.5% 2%;
}

.second-content .text-conten {
    border-bottom: 2px solid rgb(288, 288, 288);
    border-top: 1px solid rgb(238, 238, 238);
}

.second-content ul {
    list-style-type: square;
}

.second-content .text-conten li {
    line-height: 3rem;
    padding-left: 5%;
    position: relative;
}

.second-content li a {
    color: #777777;
    font-size: 13px;
    font-weight: normal;
}

.three-content {
    margin-top: 4%;
    background-color: #fff;
    border-top: 2px solid black;

}

.three-content .comment {
    margin-left: 8px;
    margin-right: 23px;
    /*width: 100%*/
}

/*咨询列表*/
.zhuanqushouye {
    background-color: #fff;
    /*margin-top: 3%;*/
}

.zhuanqushouye .tips {
    padding: 1rem 0 1rem;
    text-indent: 0.6rem;
    color: rgb(102, 102, 102);
}

.hangye {
    width: 100%;
}

.hangye ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    justify-content: space-around;
}

.hangye ul li {
    padding: 3%;
    font-size: 1.3rem;

}

.hangye ul li.action {
    color: #eaa000;
    border-bottom: 3px solid #eaa000;
}

.hangye ul li.action a {
    color: #eaa000;
}

/*赛事列表*/
.Competition {
    border-top: 2px solid rgb(234, 160, 0);
    margin-top: 3%;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 5px;
}

.Competition h2 {
    color: #eaa000;
    margin: 4%;
}

.Competition .iocList {
    width: 99%;
    margin-top: 5px;
    clear: both;
    height: 4rem;
}

.Competition .iocList span {
    display: inline-block;
    width: 8%;
    margin-left: 13%;
}

.Competition .iocList span img {
    float: right;
    width: 99%;
    max-width: 100%;
    display: block;
    height: auto;
}

.Competition .iocList span img + img {
    border-left: 3px solid rgb(102, 102, 102);
}

.Competition .iocList span:last-child {
    margin-left: 16%;
}

.Competition .imgList {
    width: 99%;
    margin-top: 5px;
    clear: both;
    height: 10rem;

}

.Competition .imgList li {
    float: left;
    width: 21%;
    margin-left: 4%;
}

.Competition .imgList li img {
    width: 99%;
    max-width: 100%;
    display: block;
    height: auto;
}

.imgList-content {
    margin-right: 3%;
    height: 18rem;
}

.Competition p {
    width: 40%;
    margin: 27% 0 4% 30%;
}

.CompetitionDeta {
    width: 99%;
}

@media screen and (max-width: 20rem) {
    .Competition p {
        margin: 20% 0 4% 30%;
    }
}

.Competition p img {
    width: 99%;
    max-width: 100%;
    display: block;
    height: auto;
}

.CompetitionDeta .item {
    margin: 4px;
    width: 99%;
    clear: both;
    border-top: 1px solid #e2e2e2;
    padding: 3% 0 24.8% 0;
}

.CompetitionDeta .item .left-content {
    float: left;
    width: 38%;
    margin-left: 2%;
}

.CompetitionDeta .item .left-content img {
    width: 99%;
    height: auto;
}

.CompetitionDeta .item .right-content {
    float: right;
    width: 56%;
    line-height: 2rem;
}

.CompetitionDeta .item .right-content a {
    color: #828282;
}

@media screen and (max-width: 20rem) {
    .CompetitionDeta .item .right-content {
        line-height: 1.5rem;
    }
}

.CompetitionDeta .item .right-content p span {
    color: rgb(64, 95, 255);
}

.CompetitionDeta .item .right-content p:nth-child(1) {
    color: #333;
}

.CompetitionDeta .item .right-content p:nth-child(2) {
    color: rgb(198, 198, 198);
    margin-top: 7%;
}

.Competition-header .tab-icon ul li.active div:nth-child(2) {
    color: #eaa000;
}

.videoshow {
    width: 100%;
    border: 1px solid #dadada;
    padding-bottom: 2%;
    padding-top: 2%;
}

.videoshow ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-wrap: wrap;
}

.videoshow ul li {
    width: 47.6%;
    margin: 0 0 2% 1.4%;
    /*margin: 8px 0 3px 1.7%;*/
    text-align: center;
    position: relative;
}

.videoshow ul li img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
    position: relative;
}

.videoshow ul li img.playIoc {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 17% !important;
    height: auto;;
}

.videoshow ul li .mengcheng {
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    padding: 7.4% 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.5;
}

.anchordeta {
    width: 100%;
    position: relative;
    padding-bottom: 3%;
    margin-top: -2%;
}

.anchordeta .anchor-img {
    background: url(../img/zbobg.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    padding: 0% 0 6%;
}

.anchordeta .anchor-img .left-content {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-direction: row;
    /*margin: 8% 0 10% 2%;*/
    margin: 17px 0 31px 5%;
}

.anchordeta .anchor-img .left-content .img-content {
    width: 28%;
}

.anchordeta .anchor-img .left-content .img-content img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.anchordeta .anchor-img .left-content .contentdeta {
    width: 47%;
    margin: 7.4% 4%;
    line-height: 1.5rem;
}

.anchordeta .anchor-img .left-content .contentdeta p:first-child {
    font-size: 15px;
}

.anchordeta .anchor-img .left-content .contentdeta p:last-child img {
    width: 19%;
}

.anchordeta .anchor-img .right-content {
    width: 25%;
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-direction: row;
    margin-left: 13%;
    padding-top: 7vh;
}

.anchordeta .scqk {
    width: 65%;
    font-size: 12px;
    color: black;
}

.anchordeta .scqk1 {
    width: 65%;
    font-size: 12px;
    color: #8d8d8d;
}

.anchordeta .anchor-img .right-content .aixincontent {
    width: 22%;
    margin-right: 7%;
    margin-top: -1.9%;
}

.anchordeta .anchor-img .right-content .aixincontent img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.anchor-text {
    background-color: #fff;
    width: 86%;
    margin-left: 3%;
    border-radius: 5px;
    padding: 3.4% 4%;
    color: #8d8d8d;
    margin-top: -12%;
}

.anchor-text p:first-child {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    justify-content: space-between;
    border-bottom: 1px dashed #dadada;
    padding-bottom: 4%;
    font-size: 12px;
}

.anchor-text p:last-child {
    line-height: 1.5rem;
    margin-top: 3%;
    font-size: 12px;
}

/*主播资讯*/
.zhuanqushouye {
    background-color: #fff;
    border-top: 2px solid #eaa000;
}

.moremsg {
    width: 95%;
    padding: 3% 2%;
}

.moremsg .tips {
    text-indent: 0.6rem;
    color: #eaa000;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 3% 0;

}

.moremsg p {
    margin: 0 3%;
}

.moremsg .more {
    float: right;
    color: #a0a0a0;
}

.gamelist {
    background-color: #f5f5f5;
    width: 96%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    padding-bottom: 3%;
    margin-left: 2%
}

.gamelist1 ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-wrap: wrap;
}

.gamelist ul li.action {
    background-color: #eaa000;
}

.gamelist ul li.action a {
    color: #ffffff;
}

.gamelist ul li {
    /*margin: 3.6% 0 0;*/
    margin: 15px 0 0;
    background-color: #e5e5e5;
    text-align: center;
    padding: 0 1%;
}

.gamelist1 {
    padding-bottom: 3%;
}

.gamelist1 ul li {
    padding: 1% 4%;
    line-height: 2.3rem;
    margin: 5% 1% -2% 4.1%;
}

.gamelist ul li a {
    color: #444444;
}

.ganmelist2 ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    justify-content: flex-start;
}

.ganmelist2 ul li {
    padding: 1% 4%;
    line-height: 2.3rem;
    margin-left: 2%;
}

.gamelist3 ul li {
    line-height: 2.3rem;
    padding: 1% 4%
}

/*主播专题列表*/
.videos {
    margin-top: 3%;
    width: 100%;
    border-top: 2px solid #eaa000;
    background-color: #fff;
    padding-bottom: 3.5%;
}

.videos h2 {
    color: #eaa000;
    padding: 3% 0 3% 2%;
    border-bottom: 1px solid #dadada;
    font-size: 14pt;
}

.videodata {
    border-bottom: 1px solid #f4f4f4;
    position: relative;
    background-color: #fff;
}

.videodata .sx {
    position: absolute;
    top: 13%;
    left: 50%;
    height: 68%;
}

.videodata ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    justify-content: space-around;
    padding: 3.9% 0 6% 0;
}

.videodata ul li {
    width: 8%;
}

.videodata ul li p {
    margin-top: 30%;
}

.videodata ul li img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
    z-index: 3;
}

.videodata ul li img#tpbubiaozhun {
    width: 84%;
    max-width: 84%;
}

.videodata ul li p {
    color: #727272;
}

.HYblue {
    color: blue !important;
    font-size: 12px;
}

.videodata .biaojiao {
    display: inline;
    position: absolute;
    bottom: 0.4%;
    left: 22%;
    width: 5%;
}

.videoUl1 li {
    position: relative;
}

.videodata .biaojiao1 {
    display: inline;
    position: absolute;
    bottom: -4.6%;
    left: 13%;
    width: 4%;
}

.videodata .biaojiao1 img {
    width: 100%;
}

.videodata .biaojiao img {
    width: 100%;
    display: block;
    height: auto;
}

.videos .searchmore {
    width: 100%;
    margin-top: 7%;
    padding-bottom: 2%;
}

.videos .searchmore p {
    border: 1px solid #dadada;
    text-align: center;
    width: 40%;
    margin-left: 29.5%;
    padding: 1.7% 0.7% 1.9% 2.5%;
    border-radius: 20px;
    color: #a6a6a6;
}

.videoList {
    width: 100%;
    margin-top: 3%;
    background-color: #fff;
}

/*@media screen and (min-width: 26rem){*/
/*.videoList {*/
/*margin-top: 1%;*/
/*}*/
/*}*/
.vedeonav {
    margin-bottom: 5%;
}

.vedeonav ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-direction: row;
}

.vedeonav ul li.action {
    border: none;
    color: #eaa000;
}

.vedeonav ul li {
    width: 50%;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-top: none;
    text-align: center;
    padding: 13px 0;
    font-size: 13pt;
    font-weight: bold;
    color: #9e9e9e;
}

.videoList .videoshow {
    width: 100%;
    border: 1px solid #dadada;
    padding-bottom: 2%;
}

.videoList .videoshow ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-wrap: wrap;
}

.videoList .videoshow ul li {
    width: 47.6%;
    /*margin:  0 0 2% 1.7%;*/
    margin: 0 0 7px 1.7%;
    text-align: center;
    position: relative;
}

.videoList .videoshow ul li img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.videoList .videoshow ul li p {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 22%;
    left: 0;
    color: #ffffff;
    padding: 6% 0;
    font-size: 12px;
}

.videoList .videoshow ul li a:last-child {
    color: #fff;
    position: absolute;
    bottom: 5.1%;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.zhuboleibiao {
    width: 100%;
    padding-bottom: 3%;
}

.zhuboleibiao ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-wrap: wrap;
}

.zhuboleibiao ul li {
    border: 1px solid #dadada;
    width: 29%;
    /*margin: 2% 1% 3% 2%;*/
    margin: 2px 1% 14px 2%;
    text-align: center;
}

.zhuboleibiao ul li .headimg {
    width: 70%;
    margin: 13%;
    border-radius: 50%;
}

.zhuboleibiao ul li .headimg img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.zhuboleibiao ul li .mgslist img {
    width: 20%;
    display: inline;;
}

.zhuboleibiao ul li .mgslist span:first-child {
    color: #949494;
}

.zhuboleibiao ul li .mgslist p:first-child {
    padding: 0;
}

.zhuboleibiao ul li a {
    font-weight: bold;
    color: black;
}

.zhuboleibiao ul li .mgslist .tjxiant {
    border-top: 1px solid #dadada;
}

.zhuboleibiao ul li .mgslist p {
    padding: 4% 0;
}

.zhuboleibiao ul li .mgslist p:last-child span:last-child {
    color: red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*比赛主题*/
/*<!--比赛主题-->*/
.bisaizhuti {
    width: 100%;
    background-color: #fff;
    padding-bottom: 5%;
    border-bottom: 1px solid #e0e0e0;
}

.bisaizhuti table {
    width: 100%;
    /*border-right: 1px solid #dadada;*/
    border-bottom: 1px solid #dadada
}

.bisaizhuti table td, th {
    border-left: 1px solid #dadada;
    border-top: 1px solid #dadada;
    text-align: center;
}

.bisaizhuti table th {
    color: #eaa000;
    font-size: 2rem;
    padding: 5% 0;
}

.bisaizhuti .imgshow {
    width: 29%;
    padding: 3%;
}

.bisaizhuti .imgshow img {
    width: 100%;
    display: block;
    height: auto;
}

.bisaizhuti table .blod td {
    font-weight: bold;
}

.bisaizhuti .gs {
    padding: 0 3%;
}

.bisaizhuti .diqu {
    width: 20%;
}

.zhuti-text {
    padding-bottom: 2%;
    border-bottom: 1px dashed #dadada;
    margin: 0 4.1%;
}

.zhuti-text p:first-child {
    color: #eaa000;
    border-left: 3px solid #eaa000;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 2%;
    margin: 4% 0;
}

.zhuti-text p:last-child {
    font-size: 1.5rem;
    color: #909090;
    text-indent: 2rem;
    line-height: 2.2rem;
    padding: 2%;
}

.zhuti-footer {
    width: 100%;
}

.zhuti-footer ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-direction: row;
}

.zhuti-footer ul li {
    width: 34%;
    border-left-width: inherit;

}

.zhuti-footer .jiangbei {
    width: 34%;
    padding: 11% 0 0 6%;
}

.zhuti-footer .top-content {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-direction: row;
}

.zhuti-footer .jiangbei img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.zhuti-footer .jiangjin1, .jiangjin2, .jiangjin3 {
    width: 55%;
    text-align: center;
    position: relative;
}

.zhuti-footer .jiangjin1 .shuxian, .jiangjin2 .shuxian {
    width: 1px;
    height: 2rem;
    background: #e6e6e6;
    position: absolute;
    right: 0;
    top: 41%;
}

.zhuti-footer .jiangjin1 p:first-child, .jiangjin2 p:first-child, .jiangjin3 p:first-child {
    color: #9a9a9a;
    padding: 19% 0 0 2%;
    line-height: 1.3rem;
}

.zhuti-footer .jiangjin1 p:first-child b, .jiangjin2 p:first-child b, .jiangjin3 p:first-child b {
    color: red;
}

.zhuti-footer .jiangjin1 p:last-child, .jiangjin2 p:last-child, .jiangjin3 p:last-child {
    font-weight: bold;
    font-size: 1.4rem;
}

.zhuti-footer .mengcheng {
    background-color: #fff9ed;
    padding: 4% 1%;
    text-align: left;
    margin: 7% 0 0;
    position: relative;
}

.zhuti-footer .mengcheng p {
    width: 85%;
    margin-left: 11%;
}

.zhuti-footer .mengcheng p span {
    color: #9a9a9a;
}

.zhuti-footer .mengcheng .shuxian {
    width: 1px;
    height: 2rem;
    background: #e6e6e6;
    position: absolute;
    right: 0;
    top: 25%;
}

/*比赛日程*/
.bisairicheng {
    width: 100%;
    background-color: #fff;
    border-top: 2px solid #eaa000;
    margin-top: 3%;
}

.bisairicheng h2 {
    color: #eaa000;
    margin: 3%;
}

.bisairicheng .wcgtime {
    width: 100%;
    border-top: 1px solid #dadada;
}

span.time {
    color: #898989 !important;
    margin-left: 35% !important;
}

.bisairicheng .wcgtime ul {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-direction: column;
}

.bisairicheng .wcgtime ul li {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    justify-content: space-around;
    margin-top: 2%;
}

.bisairicheng .wcgtime ul li + li {
    border-bottom: 1px dashed #dadada;
}

.bisairicheng .wcgtime ul li span {
    width: 30%;
    text-align: center;
    padding: 1.5% 0;
}

.bisairicheng .wcgtime ul li:first-child {
    background-color: #fff9ed;
    color: #000;
    font-size: 1.4rem;
}

.bisairicheng .wcgtime ul li:last-child {
    border-bottom: 1px solid #dadada;
}

.bisairicheng .wcgtime ul li + li span:first-child {
    font-size: 1.5rem;
    color: #7c7c7c;
}

.bisairicheng .wcgtime ul li + li span:first-child strong {
    color: #000;
    font-size: 1.9rem;
}

.bisairicheng .wcgtime ul li + li span:nth-child(2) img:first-child {
    width: 22.8%;
    height: 2.4rem;
    padding: 7% 3% 0 1%;
}

.bisairicheng .wcgtime ul li + li span:nth-child(2) img:last-child {
    width: 26.6%;
    height: 2.3rem;
    padding: 7% 3% 0 1%;
}

.bisairicheng .wcgtime ul li + li span:nth-child(2) img:nth-child(2) {
    width: 20.6%;
    height: 1.6rem;
    padding: 7% 3% 0 1.8%;
}

.bisairicheng .wcgtime ul li + li span:nth-child(3) a {
    line-height: 2rem;
}

.bisairicheng .wcgtime ul li + li span:nth-child(3) a:first-child {
    color: #7c7c7c;
    font-size: 1.2rem;
}

.bisairicheng .wcgtime ul li + li span:nth-child(3) a:last-child {
    border: 2px solid #ecc24e;
    color: #ecc24e;
    padding: 1% 8%;
    border-radius: 19px;
}

/*赛事资讯*/

.sszixun {
    margin-top: 3%;
    width: 100%;;
}

.sszixun .tip {
    border-bottom: 1px dashed #dadada;
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    flex-direction: row;
    border-top: 1px solid #dadada;
    margin-left: 3%;
    padding: 1% 0 3.5% 0;
}

.sszixun .tip span {
    line-height: 1.8rem;
    margin: 3%;
    color: #777777;
    font-size: 1.4rem;
    font-weight: normal;
}

.sszixun .tip .leftcontent {
    width: 30%;
    margin: 3% 0 0 0;
}

.sszixun .tip .leftcontent img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.sszixun .text-conten ul li {
    position: relative;
}

.sszixun ul li span.dian {
    width: 5px;
    height: 5px;
    background-color: #cbcbcb;
    position: absolute;
    left: 3.4%;
    top: 44%;
}

span.dian {
    width: 5px;
    height: 5px;
    background-color: #cbcbcb;
    position: absolute;
    left: 2%;
    top: 44%;
}

.sszixun .text-conten {
    border-bottom: 1px solid #dadada;
}

.sszixun .text-conten ul li a {
    margin-left: 2%;
}

.aifansile .item .right-content {
    float: right;
    width: 57%;
    line-height: 2rem;
    color: #333;
    font-size: 13px;
}

.aifansile .item .right-content a {
    color: #000;

}

.Competition-header {
    width: 100%;
    margin-top: 2%;
    background-color: #fff;
}

.Competition-header h3 {
    color: #eaa000;
    margin: 3%;
    font-weight: bold;
    font-size: 1.2rem;
}

.Competition-header .tab-icon {
    width: 100%;
    padding: 3% 0 0 0;
}

.Competition-header .tab-icon ul {
    display: flex;
    justify-content: space-around;
}

.Competition-header .tab-icon ul li {
    /*border: 1px solid;*/
    text-align: center;
    position: relative;
    width: 9%;
    border-bottom: none;
}

.Competition-header .tab-icon ul li div:nth-child(2) {
    margin-top: 5%;
    color: #b7b7b7;
    padding: 3% 0 30% 0;
}

.Competition-header .tab-icon ul li .long-string {
    width: 1px;
    height: 60%;
    background-color: #d0d0d0;
    position: absolute;
    top: 5%;
    right: -232%;
}

.Competition-header .tab-icon ul li .tab-icon-content {
    width: 52%;
    text-align: center;
    margin-left: 20%;
}

.Competition-header .tab-icon ul li .tab-icon-content img {
    width: 100%;
    height: auto;
}

.Competition-header .tab-icon ul li .triangle {
    width: 44%;
    text-align: center;
    margin-left: 24%;
    height: 20%;
    position: absolute;
    bottom: 7%;
    border-bottom: none;
}

.Competition-header .tab-icon ul li .triangle img {
    width: 100%;
    height: auto;
}

.eventInformation .liybutong li {
    width: 13%;
}

.hangye li {
    position: relative;
}

.hangye li .long-string {
    width: 1px;
    height: 33%;
    position: absolute;
    top: 36%;
    right: 170%;
    background-color: #d3d3d3;
}

.right-content .time {
    font-size: 12px;
    color: #cbcbcb !important;
    float: right;
    margin-right: 4%;
}

.ystbsy li {
    width: 13% !important;
}

.tab-icon-sssx .long-string {
    width: 1px;
    height: 60%;
    background-color: #d0d0d0;
    position: absolute;
    top: 10%;
    right: -137% !important;
}

.cansaizhanduixx {
    border-top: 1px solid #dadada;
    padding-top: 5%;
}

.cansaizhanduixx li {
    width: 20% !important;
    margin-left: 4% !important;
}

.sszixun a {
    font-size: 13px;
    color: #777777;
}

.gamelist .gamelist3 ul {
    display: flex;
    justify-content: space-around;
}

.header-rightMore {
    text-align: right;
}

/*头部修改*/
.header1 {
    background: #145eb6;
    width: 100%;
    height: 45px;
    border-top: 1px solid #3f89e0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100
}

.menu-new {
    float: right;
}

.list_menu_new {
    left: -70px;
    top: 8px;
}

.list_menu_new .img {
    float: right;
    margin-left: 0;
    margin-right: 13px;
}

.menu-new-back {
    width: 55px;
    height: 45px;
    float: left;
    border-right: 1px solid #0f53a4;
}

.menu-new-back a {
    display: block;
    width: 55px;
    height: 45px;
    background: url(../img/back.png) no-repeat 14px center;
    background-size: 22px auto;
}

.menu-new-search {
    float: right;
    width: 40px;
    height: 45px;
}

.menu-new-search a {
    display: block;
    width: 40px;
    height: 45px;
    background: url(../img/search.png) no-repeat center center;
    background-size: 23px auto;
}

.bread-lost {
    border-top: 2px solid #eaa000;
    font-size: 1.3rem;
    color: #777777;
    padding: 2%;
}

.bread-lost span {
    padding: 0 3px;
}

.picture-bread-lost {
    font-size: 1.3rem;
    color: #777777;
    padding: 2%;
}

.picture-bread-lost span {
    padding: 0 3px;
}