<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:page>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wcg.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/wcg.js"></script>
    <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
    <title th:text="${video.seoTitle}+'_'+${siteName}">标题</title>
    <meta name="keywords" content="关键字" th:attr="content=${video.seoKeywords}"/>
    <meta name="description"
          content="描述" th:attr="content=${video.seoDescription}"/>
</head>

<body>
<!--线上的top内容,这个仅放截图-->
<div th:replace="/head.html::top('video')"></div>

<div class="general">
    <!--面包屑-->
    <div class="position"><a href="/">电竞首页</a>&gt;<a href="/video.html">视频列表</a>&gt;<em
            th:text="${video.title}">LSPL2016春季赛常规赛第三周INGvsMF</em></div>

    <!--主要内容区-->
    <div class="main_box">
        <div class="main_left">
            <div class="left_top">
                <ul>
                    <h1 th:text="${video.title}">LSPL2016春季赛常规赛第三周 ING vs MF</h1>
                    <h2>
                        <a th:text="${#calendars.format(video.publishTime, 'yyyy-MM-dd HH:mm')}">2016-10-20 10:25</a>
                        <a th:text="'来源:'+${video.source}" th:href="${baseUrl}" href="http://www.55djw.com">来源:琵琶网</a>
                        <a th:text="'作者:'+${video.author}">作者:编辑人员</a>
                        <a style="color:blue;">评论:（0）</a>
                    </h2>
                </ul>
            </div>
            <!--<div class="video_img">-->
            <!--<img src="/static/img/view/video_pic1.png"/>-->
            <!--</div>-->
            <div class="left_mid" th:utext="${video.content}">
            </div>
            <!--页码-->
            <!--<div class="newyiiPager">-->
            <!--<ol id="yw0" class="yiiPager">-->
            <!--<li>共104页：</li>-->
            <!--<li class="page hidden"><a href="">首页</a></li>-->
            <!--<li class="previous hidden"><a href="#">上一页</a></li>-->
            <!--<li class="page selected"><span>1</span></li>-->
            <!--<li class="page"><a href="#">2</a></li>-->
            <!--<li class="page"><a href="#">3</a></li>-->
            <!--<li class="page"><a href="#">4</a></li>-->
            <!--<li class="next"><a href="#">下一页</a></li>-->
            <!--<li class="last"><a href="#">末页</a></li>-->
            <!--</ol>-->
            <!--</div>-->

            <div class="left_bottom">
                <dl>
                    <dt>
                    <h1>标签：<a th:each="tagTrade:${video.tagMappingWebList}"
                              th:text="${tagTrade.name}" th:href="/video/tag/${tagTrade.tagsId}_1.html">电子竞技</a>
                    </h1>
                    <h2>上一篇：<span><a href="###" class="a1" th:if="${lastVideo!=null}" th:text="${lastVideo.title}"
                                     th:href="/video/${lastVideo.id}.html">天天酷跑地狱熊爵熊队长极速5000米对比</a><span
                            th:if="${lastVideo==null}">没有了</span></span></h2>
                    </dt>
                    <dt style="float:right;">
                    <h1>&nbsp;</h1>
                    <h2>下一篇：<span><a href="###" th:if="${nextVideo!=null}" th:text="${nextVideo.title}"
                                     th:href="/news/${nextVideo.id}.html">天天传奇战士搭配什么伙伴好战士阵容搭配推荐</a><span
                            th:if="${nextVideo==null}">没有了</span></span></h2>
                    </dt>

                </dl>
            </div>
            <div th:replace="/comment.html::comment(${video.id},${video.title},${currentUrl})"></div>
        </div>
        <div class="main_right">

            <div class="right_mid">
                <div class="index_tit_two"><span class="text_left">个人视频排行</span></div>
                <dl class="video_rank">
                    <dt th:each="videoTop,iterStat:${videoTopList}"><span
                            th:class="${(iterStat.index==0||iterStat.index==1||iterStat.index==2)?'num':''}"
                            th:text="${iterStat.index+1}">1</span>
                        <a href="#" th:text="${videoTop.title}"
                           th:href="/vedio/${videoTop.id}.html">驰骋野区的风暴骑手：新版本打野人攻略</a>
                    </dt>
                </dl>
            </div>
            <div class="right_mid">
                <div class="index_tit_two"><span class="text_left">热门主播</span> <a href="/anchor.html" target="_blank"
                                                                                  class="more vider_more">更多</a></div>
                <ul class="hot_zhubo">
                    <li th:each="anchor:${anchorTopList}">
                        <a href="#">
                            <p class="p1"><img src="/static/img/circle_bg2.png"/></p>
                            <p class="p2"><img th:img-src="/image/120x120${anchor.icoImage}" th:alt="${anchor.name}"
                                               th:title="${anchor.name}/></p>
                            <p class=" p3" th:content="${anchor.username}">拳头暴君</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right_mid">
                <div class="index_tit_two"><span class="text_left">热门游戏</span> <a href="/game.html"
                                                                                  class="more vider_more">更多</a></div>
                <ul class="hot_zixun">
                    <li th:each="matchZone:${matchZoneTopList}"><a href="#" th:text="${matchZone.name}">驰骋野区的风暴骑手：新版本打野人马攻略</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>

</div>

</div>


<!--线上琵琶网首页的foot，这里只是截图-->
<div th:replace="/bottom.html::bottom"></div>
</body>
</html>
